{% extends 'base_references.html.twig' %}


{% block body %}
    <h1>TblEngrais</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblEngrai.id }}</td>
            </tr>
            <tr>
                <th>Engraisnom</th>
                <td>{{ tblEngrai.engraisNom }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblEngrai.cdate %}{{ tblEngrai.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblEngrai.udate %}{{ tblEngrai.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblEngrai.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblengrais_edit', { 'id': tblEngrai.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
