{% extends 'base_references.html.twig' %}




{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblmoyentransport_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
	<div class="sub-header">
      <div  class="pull-xs-right">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:200px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblMoyenTransport {{ 'Liste'|trans }}&nbsp;</h1>
    <div>
            <a href="{{ path('references_tblmoyentransport_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>
   </div>
   <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>Moyentransport</th>
                    <th>Cdate</th>
                    <th>Udate</th>
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
            {% for tblMoyenTransport in tblMoyenTransports %}
                <tr class="index-row">
                    <td>                            <a href="{{ path('references_tblmoyentransport_show', { 'id': tblMoyenTransport.id }) }}">
                    			<i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_tblmoyentransport_edit', { 'id': tblMoyenTransport.id }) }}">                    			<i class="glyphicon glyphicon-pencil btn btn-default"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ tblMoyenTransport.id }}</span>
                    </td>
                    <td>{{ tblMoyenTransport.moyenTransport }}</td>
                    <td>{% if tblMoyenTransport.cdate %}{{ tblMoyenTransport.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if tblMoyenTransport.udate %}{{ tblMoyenTransport.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
<td>{{ tblMoyenTransport.utilisateur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}
