{% extends 'base_references.html.twig' %}




{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblmoyentransport_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblMoyenTransport</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblMoyenTransport.id }}</td>
            </tr>
            <tr>
                <th>Moyentransport</th>
                <td>{{ tblMoyenTransport.moyenTransport }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblMoyenTransport.cdate %}{{ tblMoyenTransport.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblMoyenTransport.udate %}{{ tblMoyenTransport.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblMoyenTransport.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblmoyentransport_edit', { 'id': tblMoyenTransport.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
