{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tbltraitements_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblTraitements {{ 'Edition'|trans }}&nbsp;</h1>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
