{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Contraintes Développement'|trans }}{% endblock %}
{% block body_f0 %}
   <h4>{{ 'Contraintes Développement'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Contrainte'|trans }}</th>
                <td>{{ contraintesDeveloppement.contrainte }}</td>
            </tr>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ contraintesDeveloppement.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Priorité'|trans }}</th>
                <td>{{ contraintesDeveloppement.priorite }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_contraintesdeveloppement_edit', { 'id': contraintesDeveloppement.id  }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
    </div>
{% endblock %}
