{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}{{ 'Habitat'|trans }}{% endblock%}
{% block body_f0 %}
   <h4>{{ 'Habitat'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ habitat.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Mur'|trans }}</th>
                <td>{{ habitat.mur }}</td>
            </tr>
            <tr>
                <th>{{ 'Toiture'|trans }}</th>
                <td>{{ habitat.toiture }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_habitat_edit', { 'id': habitat.id  }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
    </div>
{% endblock %}
