{% extends dette.creditObjet ? 'base_F4.html.twig' : 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Crédits'|trans }}{% endblock %}
{% block body_f0 %}
    <h4>{{ 'Création'|trans }}&nbsp;{{ 'Crédits'|trans }} {{ dette.creditObjet }} </h4>

    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ "Enregistrer"}}" />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
{% endblock %}