{% extends dette.creditObjet ? 'base_F4.html.twig' : 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Crédits'|trans }}{% endblock %}
{% block body_f0 %}
    <h4>{{ 'Vue'|trans }}&nbsp;{{ 'Crédits'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ dette.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Saison'|trans }}</th>
                <td>{{ dette.saison }}</td>
            </tr>
            <tr>
                <th>{{ 'Creditcashdemande'|trans }}</th>
                <td>{{ dette.creditCashDemande }}</td>
            </tr>
            <tr>
                <th>{{ 'Creditintrantsdemande'|trans }}</th>
                <td>{{ dette.creditIntrantsDemande }}</td>
            </tr>
            <tr>
                <th>{{ 'Valeurcredit'|trans }}</th>
                <td>{{ dette.valeurCredit }}</td>
            </tr>
            <tr>
                <th>{{ 'Periodereception'|trans }}</th>
                <td>{% if dette.periodeReception %}{{ dette.periodeReception|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Perioderemboursement'|trans }}</th>
                <td>{{ dette.periodeRemboursement }}</td>
            </tr>
            <tr>
                <th>{{ 'Montantrembourse'|trans }}</th>
                <td>{{ dette.montantRembourse }}</td>
            </tr>
            <tr>
                <th>{{ 'Montantnantissement'|trans }}</th>
                <td>{{ dette.montantNantissement }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_dettes_edit', { 'id': dette.id,'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
    </div>
{% endblock %}
