{% extends 'base_references.html.twig' %}
 



{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblEtatCivil {{ 'Liste'|trans }}&nbsp;</h1>		
    <div>
            <a href="{{ path('references_tbletatcivil_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th>Etatcivil</th>    
                        <th>Cdate</th>    
                        <th>Udate</th>    
                        <th>Utilisateur</th>    
                                    </tr>
            </thead>
            <tbody>
            {% for tblEtatCivil in tblEtatCivils %}
                <tr class="index-row">                
                	<td>                            <a href="{{ path('references_tbletatcivil_show', { 'id': tblEtatCivil.id }) }}"> 
                    			<i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_tbletatcivil_edit', { 'id': tblEtatCivil.id }) }}">                    			<i class="glyphicon glyphicon-pencil btn btn-default"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ tblEtatCivil.id }}</span> 
                    </td>
                    <td>{{ tblEtatCivil.etatCivil }}</td>    
                    <td>{% if tblEtatCivil.cdate %}{{ tblEtatCivil.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                    <td>{% if tblEtatCivil.udate %}{{ tblEtatCivil.udate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                    <td>{{ tblEtatCivil.utilisateur }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

