{% extends 'base.html.twig' %}

{% block title %}{{ "Se connecter!" | trans }}{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="h3 mb-3 font-weight-normal">
            {% trans with {'%username%': app.user.username} %}
                Vous êtes connecté en temps que  %username% !
            {% endtrans %}
        </h1>

        <a class="btn btn-danger" href="{{ path('user_security_logout') }}">
            {{ "Se déconnecter" | trans }}
        </a>
    {% else %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{{ "Veuillez vous connecter" | trans }}</h1>
                
            <label for="inputUsername">{{ "Nom d'utilisateur" | trans }}</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>

            <label for="inputPassword">{{ "Mot de passe" | trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary" type="submit">
                {{ "Se connecter" | trans }}
            </button>
        </form>
    {% endif %}
{% endblock %}