{% set saison = parcelleHistoriqueTblAleas.getParcelleHistorique.saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f2 %}
    <a href="{{ path('references_parcellehistoriques_show',{ 'id':parcelleHistoriqueTblAleas.getParcelleHistorique().getId(), 'annee': annee }) }}">{{ "Parcelle" | trans }}</a> | {{ 'Parcelle'|trans }} {{ 'Historiques'|trans }}
{% endblock %}

{% block body_f2 %}
     <h4>{{ "Modification d'un aléas" | trans }}</h4>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Modifier'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
