{% set saison = parcelleHistoriqueTblAleas.getParcelleHistorique().saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f2 %}
    <a href="{{ path('references_parcellehistoriques_show',{ 'id':parcelleHistoriqueTblAleas.getParcelleHistorique().getId(), 'annee': annee }) }}">{{ "Parcelle" | trans }}</a> | Parcelle historique
{% endblock %}

{% block body_f2 %}
    <h4>{{ "Création d'un aléas pour la parcelle courante" | trans }} </h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Nouvel aléas'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
