{% extends 'base_references.html.twig' %}




{% block body %}
    <h1>TblFournisseurs</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblFournisseur.id }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ tblFournisseur.fournisseur }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblFournisseur.cdate %}{{ tblFournisseur.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblFournisseur.udate %}{{ tblFournisseur.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblFournisseur.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblfournisseurs_edit', { 'id': tblFournisseur.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
