{% extends 'base.html.twig' %}
 



{% block body %}
   <h4>{{ 'Création'|trans }} {{ 'Mobilisations Communautaires'|trans }} </h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
