{% extends 'base.html.twig' %}
 
 
{% block body %}
	<div class="sub-header">
        <h1>{{ titre }}</h1>	
        <div  class="pull-xs-right">
            <button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary">Export to Excel</button>
        </div>
   </div>
	<div class="table-responsive">
        <form method="post" action="/nettoyage/effacegroup">
            <table id="index-table" class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row"> 
                {% for field in fields %}  
                    {% if field=="id" %}
                        <th>Effacer</th>
                    {% else %}
                    	<th>{{ field }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for record in recordset %}
                <tr class="index-row"> 
                	{% for field in fields %}  
                        {% if field=="id" %}
                            <td><input type="radio" name="effacer" value="{{ record[field] }}"></option></td>
                        {% else %}
                            <td>{{ record[field] }}</td>
                        {% endif %}
                    {% endfor %}     
                </tr>
            {% endfor %}
            <input type="submit" value="effacer" />
            </tbody>
        </table>
        </form>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

