{% extends 'base.html.twig' %} 
{% block title %}Nettoyage{% endblock %}
 


{% block body %}
	<div id="container">
		<div id="menu">
		<h1 class="page-header">Nettoyage de la base de données</h1>
        <ul>
            <li><a href="{{ path('nettoyage_effacergroup') }}">
                {{ "Effacer un groupement" | trans }} ({{ "à vérifier" | trans }})
            </a></li>
            <li><a href="{{ path('nettoyage_effacerexploitation') }}">
                {{ "Effacer une exploitation" | trans }} ({{"à réparer" | trans }})
            </a></li>
            <li><a href="{{ path('nettoyage_effacercoop') }}">
                {{ "Effacer une coopérative" | trans }} ({{ "à vérifier" | trans }})
            </a></li>
        </ul>
	</div>
{% endblock %}
