{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Services Besoin'|trans }}{% endblock%}
{% block body_f0 %}
   <h4> {{ 'Edition'|trans }}&nbsp;{{ 'Services Besoin'|trans }}<  /h4>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ "Enregistrer" | trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
