{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block body_title %}
    {{ "Ajout de services dont un co-exploitant a besoin" | trans }}
{% endblock  %}


{% block subtitle_f0 %}{{ 'Services Besoin'|trans }}{% endblock%}
{% block body_f0 %}
   <h4> {{ 'Création'|trans }} {{ 'Services Besoin'|trans }}</h4>

    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
{% endblock %}