{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Services Besoin'|trans }}{% endblock%}
{% block body_f0 %}
   <h4>{{ 'Services Besoin'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Service'|trans }}</th>
                <td class="suivis">{{ servicesBesoin.service }}</td>
            </tr>
            <tr>
                <th>{{ "Année" | trans }}</th>
                <td class="suivis">{{ servicesBesoin.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Priorité'|trans }}</th>
                <td class="suivis">{{ servicesBesoin.priorite }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_servicesbesoin_edit', { 'id': servicesBesoin.id }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
    </div>
{% endblock %}
