{% set exploitation = parcellePlanSaison.getExploitationPlanSaison.getExploitation %}
{% set exploitation_id = exploitation.getId %}
{% set exploitationPlanSaison = parcellePlanSaison.getExploitationPlanSaison %}
{% set annee = parcellePlanSaison.getExploitationPlanSaison.exercice.annee %}
{% extends 'base_F6_c.html.twig' %}

{% block body %}
    <h1>{{ "Modification plan de culture" | trans }}</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="Sauver" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="Effacer">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
