{% set exploitation = parcellePlanSaison.getExploitationPlanSaison.getExploitation %}
{% set exploitation_id = exploitation.getId %}
{% set exploitationPlanSaison = parcellePlanSaison.getExploitationPlanSaison %}
{% set annee = parcellePlanSaison.getExploitationPlanSaison.exercice.annee %}
{% extends 'base_F6_c.html.twig' %}

{% block body %}
    <h1>{{ "Nouveau plan de culture" | trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ "Créer" | trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
