{% extends 'base_references.html.twig' %}
 
 

{% block body %}
    <h1>TblTypeCreancier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblTypeCreancier.id }}</td>
            </tr>
            <tr>
                <th>Creancier</th>
                <td>{{ tblTypeCreancier.creancier }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblTypeCreancier.cdate %}{{ tblTypeCreancier.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblTypeCreancier.udate %}{{ tblTypeCreancier.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblTypeCreancier.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbltypecreancier_edit', { 'id': tblTypeCreancier.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
