{% extends 'base.html.twig' %}

{% block body %}
	<div class="sub-header">
	<h1>TblAnalyseSol liste</h1>
    <div>
            <a href="{{ path('references_tblanalysesol_new') }}" class="btn btn-primary" role="button">Ajouter un élément</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">Actions</th>                    
                    <th>id</th>                        
                    <th>Analysesol</th>                        
                    <th>Cdate</th>           
                    <th>Udate</th>              
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
            {% for tblAnalyseSol in tblAnalyseSols %}
                <tr class="index-row">
                	<td>                            
                        <a href="{{ path('references_tblanalysesol_show', { 'id': tblAnalyseSol.id }) }}">                    			
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>                           
                        </a><span>&nbsp;</span>                           
                        <a href="{{ path('references_tblanalysesol_edit', { 'id': tblAnalyseSol.id }) }}">                    			
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>                            
                        </a><span>&nbsp;</span>                       
                        <span class="hidden">{{ tblAnalyseSol.id }}</span>
                    </td>
                    <td>{{ tblAnalyseSol.id }}</td>
                    <td>{{ tblAnalyseSol.analyseSol }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

