{% extends 'base.html.twig' %}

{% block body %}
    <h1>TblAnalyseSol creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="Create" />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
