{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblLabourAnimaux {{ 'Liste'|trans }}&nbsp;</h1>
    <div>
            <a href="{{ path('references_tbllabourAnimaux_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>                        
                    <th>Labour</th>         
                    <th>Cdate</th>          
                    <th>Udate</th>          
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
            {% for tblLabourAnimaux in tblLabourAnimauxes %}
                <tr class="index-row">
                	<td>                            
                        <a href="{{ path('references_tbllabouranimaux_show', { 'id': tblLabourAnimaux.id }) }}">     
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            
                        </a><span>&nbsp;</span>                  
                        <a href="{{ path('references_tbllabouranimaux_edit', { 'id': tblLabourAnimaux.id }) }}">                    	
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>                        
                        </a><span>&nbsp;</span>                       
                        <span class="hidden">{{ tblLabourAnimaux.id }}</span>
                    </td>

                    
                    <td>{{ tblLabourAnimaux.labour }}</td>
                    <td>{% if tblLabourAnimaux.cdate %}{{ tblLabourAnimaux.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if tblLabourAnimaux.udate %}{{ tblLabourAnimaux.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ tblLabourAnimaux.utilisateur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

