{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>TblLabourAnimaux</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblLabourAnimaux.id }}</td>
            </tr>
            <tr>
                <th>Labour</th>
                <td>{{ tblLabourAnimaux.labour }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblLabourAnimaux.cdate %}{{ tblLabourAnimaux.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblLabourAnimaux.udate %}{{ tblLabourAnimaux.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblLabourAnimaux.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbllabouranimaux_edit', { 'id': tblLabourAnimaux.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
