{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tbltypetravail_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblTypeTravail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblTypeTravail.id }}</td>
            </tr>
            <tr>
                <th>Typetravail</th>
                <td>{{ tblTypeTravail.typeTravail }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblTypeTravail.cdate %}{{ tblTypeTravail.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblTypeTravail.udate %}{{ tblTypeTravail.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblTypeTravail.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbltypetravail_edit', { 'id': tblTypeTravail.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
