{% extends 'base.html.twig' %}
 



{% block body %}
  <div class="sub-header">
   <h4> {{ 'Liste'|trans }}&nbsp;{{ 'Semence'|trans }} {{ 'Demande'|trans }}<  /h4>		
    <div>
            <a href="{{ path('references_semencedemandee_new',{ 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee}) }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Année'|trans }}</th>    
                    <th>{{ 'Mois'|trans }}</th>    
                    <th>{{ 'Quantité'|trans }} {{ 'semence'|trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for semenceDemandee in semenceDemandees %}
                <tr class="index-row">                
                	<td>                            
                        <a href="{{ path('references_semencedemandee_show', { 'id': semenceDemandee.id,  'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}"> 
                            <i class="glyphicon glyphicon-eye-open"></i>                            
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('references_semencedemandee_edit', { 'id': semenceDemandee.id,  'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}">                    			
                            <i class="glyphicon glyphicon-pencil"></i>                            
                        </a><span>&nbsp;</span>                        
                        <span class="hidden">{{ semenceDemandee.id }}</span> 
                    </td>
                    <td>{{ semenceDemandee.annee }}</td>    
                    <td>{{ semenceDemandee.mois }}</td>    
                    <td>{{ semenceDemandee.quantiteSemence }}</td>    
                 </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

