{% extends 'base_F3.html.twig' %}
{% set menu_selected = 'info_gen' %}




{% block subtitle_f2 %}{{ 'Troupeaux'|trans }}{% endblock %}
{% block body_f2 %}

    {% include 'saisies/troupeaux.html.twig' %}
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
