{% extends 'base_F3.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f2 %}{{ 'Troupeaux'|trans }}{% endblock %}
{% block body_f2 %}
    <h1>{{ 'Ajout d\'un troupeau'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Nouveau'|trans }}" />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('pumastatic/js/produits.js') }}"></script>
{% endblock %}
