{% extends 'base_F3.html.twig' %}
{% set menu_selected = 'info_gen' %}


{% block subtitle_f2 %}{{ 'Troupeau'|trans }} {{ animaux.espece }}{% endblock %}
{% block body_f2 %}
    <h4> {{ 'Historique du troupeau'|trans }}</h4>
<table border="0">
    <tr border="0">
        <td border="0" style="border-color:white;" class="suivis">
            <h4><b>{{ "A. Signaletique du troupeau" | trans }}</b></h4>
<!-- *********************************************************** -->
        <table style="margin-bottom:15px;">
            <tbody>
                <tr>
                    <td>
                        <b>
                            {{ "Troupeau" | trans }} {{ animaux.espece }}
                        </b>
                        <b>|</b>
                        {{ "Type d'élevage:" }} {{ animaux.typeElevage }}
                        <b>|</b>
                        {{ "Nbr. de têtes:" }} {{ animaux.nbrTotalTetes }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "Femelles reproductrices:" }} {{ animaux.femellesReproductrices }}
                        <b>|</b>
                        {{ "Mâles reproducteurs:" }} {{ animaux.malesReproducteurs }}
                        <b>|</b>
                        {{ "Jeunes femelles:" }} {{ animaux.jeunesFemelles }}
                        <b>|</b>
                        {{ "Jeunes Mâles:" }} {{ animaux.jeunesMales }}
                        <b>|</b>
                        {{ "Jeunes Immatures:" }} {{ animaux.jeunesImmatures }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "Age de réforme femelles reproductrices:" }} {{ animaux.ageReformeFemelles }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ "Alimentation:" }}
                        {% for aliment in animaux.alimentations %}
                            {{ aliment }};
                        {% endfor %}
                        <b>|</b>
                        {{ "Produits:" }}
                        {% for produit in animaux.produits %}
                            {{ produit }};
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
<!-- ************************************************ -->            
    
    {% if not  hide_history %}

        <div class="form-group">
            <a href="{{ path('references_animaux_edit', { 'id': animaux.id, 'annee':annee, 'exploitation_id': exploitation_id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Editer'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <!--input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}"-->
            </div>
        {{ form_end(delete_form) }}
                
        </td>
    </tr>
    <tr border="0">
        <td class="suivis" border="0">
            <table>
                <tr>
                    <td class="suivis" colspan=10><h4><b>{{ 'B. Données techniques troupeau'|trans }}</b></h4></td>
                </tr>
                <tr>
                    <td class="suivis" colspan=10>
                        <h4><b><center>{{ 'B1. Structure du troupeau'|trans }}</center></b></h4>
                    </td>
                </tr>
                <tr>
                    <th colspan=2>&nbsp;</th>
                    <th class="suivis">{{ 'Unité'|trans }}</th>
                    <th class="suivis">{{ 'Femelles reproductrices'|trans }}</th>
                    <th class="suivis">{{ 'Males reproducteurs'|trans }}</th>
                    <th class="suivis">{{ 'Jeunes femelles'|trans }}</th>
                    <th class="suivis">{{ 'Jeunes males'|trans }}</th>
                    <th class="suivis">{{ 'Jeunes immatures'|trans }}</th>
                    <th class="suivis">{{ 'Total animaux'|trans }}</th>
                    <td class="suivis">
                        <!--a href="{#{ path('references_animauxstructure_new',{'animaux':animaux.id, 'techniqueLabel':'nombre', 'annee':annee, 'exploitation': exploitation_id}) }#}" class="btn btn-primary" role="button">
                            {{ 'Encoder le nombre d\'animaux'|trans }}
                        </a -->
                    </td>
                </tr>

                {#{% for nombre in nombres %}#}
                        <tr>
                            <td class="suivis" colspan=2 style="padding-left: 20px;">{{ 'Nombre par classe d\'age et de sexe'|trans }}</td>
                            <!-- nombre -->
                            {% set total = 0 %}
                            <td class="suivis">{{ 'Tête'|trans }}</td>
                            <td class="suivis">{{ animaux.femellesReproductrices }}</td>
                            {% set total = total+animaux.femellesReproductrices %}
                            <td class="suivis">{{ animaux.malesReproducteurs }}</td>
                            {% set total = total+animaux.malesReproducteurs %}
                            <td class="suivis">{{ animaux.jeunesFemelles }}</td>
                            {% set total = total+animaux.jeunesFemelles %}
                            <td class="suivis">{{ animaux.jeunesMales }}</td>
                            {% set total = total+animaux.jeunesMales %}
                            <td class="suivis">{{ animaux.jeunesImmatures }}</td>
                            {% set total = total+animaux.jeunesImmatures %}
                            <td class="suivis">{{ total }}</td>
                            <td class="suivis">
                                <!--a href="{#{ path('references_animauxstructure_edit', { 'id': nombre.id, 'annee':annee, 'exploitation_id': exploitation_id }) }#}">
                                    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                </a><span>&nbsp;</span-->
                            </td>
                        </tr>
                {#{% endfor %}#}

                    <tr>
                        <th colspan=10><h4><b><center>{{ 'B2. Mouvements de l\'année'|trans }}</center></b></t4>
                    </tr>
                        <tr>
                        <th colspan=2 class="title">{{ "Mouvement" | trans }}</th>
                        <th class="suivis">{{ "Date execution" | trans }}</th>
                        <th class="suivis">{{ "Unité" | trans }}</th>
                        <th class="suivis">{{ "Femelles reproductrices" | trans }}</th>
                        <th class="suivis">{{ "Males reproducteurs" | trans }}</th>
                        <th class="suivis">{{ "Jeunes femelles" | trans }}</th>
                        <th class="suivis">{{ "Jeunes males" | trans }}</th>
                        <th class="suivis">{{ "Jeunes immatures" | trans }}</th>
                        <th class="suivis">{{ "Total animaux" | trans }}</th>
                        <td class="suivis">
                            <ul style="list-style-type:none">
                                <li>
                                    <a href="{{ path('references_animauxstructure_new',{'animaux':animaux.id, 'annee':annee, 'exploitation': exploitation_id}) }}"
                                       class="btn btn-primary btn-xs" role="button">{{ 'Nouveau mouvement'|trans }} 
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% set i=0 %}
                    {% for mouvement in mouvements %}
                        {% set i=i+1 %}
                        {% if i is odd %}
                            <tr bgcolor="#F0F0F0">
                        {% else %}
                            <tr bgcolor="#BFBFDD">
                        {% endif %}
                            <td class="suivis" colspan=2 style="padding-left: 20px;">
                                {{ mouvement.animauxTechnique }}
                            {% if mouvement.animauxTechnique.getAjout==0 %}
                                (+)
                            {% else %}
                                (-)
                            {% endif %}
                            </td>
                            <td class="suivis">{% if mouvement.dateExecution %}{{ mouvement.dateExecution|date('Y-m-d') }}{% endif %}</td>
                            <td class="suivis">{{ 'Tête'|trans }}</td>
                            <td class="suivis">{{ mouvement.femellesReproductrices }}</td>
                            <td class="suivis">{{ mouvement.malesReproducteurs }}</td>
                            <td class="suivis">{{ mouvement.jeunesFemelles }}</td>
                            <td class="suivis">{{ mouvement.jeunesMales }}</td>
                            <td class="suivis">{{ mouvement.jeunesImmatures }}</td>
                            <td class="suivis">{{ mouvement.total }}</td>
                            <td class="suivis">
                                <a href="{{ path('references_animauxstructure_edit', { 'id': mouvement.id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                    <i class="glyphicon glyphicon-pencil btn btn-default"></i></a><span>&nbsp;</span>
                                </a>
                        	</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">
                            <h4><b><center> {{ 'B3.Production lait'|trans }}</b>
                            <a href="{{ path('references_animauxproduction_new',{'animaux':animaux.id,'listeunite':'lait',  'annee':annee, 'exploitation': exploitation_id}) }}" class="btn btn-primary" role="button">
                                    {{ 'Nouveau'|trans }}
                            </a></center>
                            </h4>
                        </th>
                        <th colspan="4">
                            <h4><b><center> {{ 'Production oeufs'|trans }}</b>
                            <a href="{{ path('references_animauxproduction_new',{'animaux':animaux.id,'listeunite':'oeufs',  'annee':annee, 'exploitation': exploitation_id}) }}" class="btn btn-primary" role="button">
                                    {{ 'Nouveau'|trans }}
                            </a></center>
                            </h4>
                        </th>
                        <th colspan="4">
                            <h4><b><center> {{ 'Production fumier'|trans }}</b>
                            <a href="{{ path('references_animauxproduction_new',{'animaux':animaux.id,'listeunite':'fumier', 'annee':annee, 'exploitation': exploitation_id}) }}" class="btn btn-primary" role="button">
                                    {{ 'Nouveau'|trans }}
                            </a></center>
                            </h4>
                        </th>
                    <tr>
                        <td colspan="4">
                            <table width="100%">
                            <tr>
                                <th>
                                    <b>{{ "Production" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Unité" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Quantité" | trans }}</b>
                                </th>
                                <th></th>
                            </tr>
                            {% for lait in laits %}
                                <tr>
                                    <td style="width:80px;text-align:center;"><center>{{ lait.production }}</center></td>
                                    <td style="width:80px;text-align:center;"><center>{{ lait.unite }}</center></td>
                                    <td style="width:80px;text-align:center;"><center>{{ lait.quantite }}</center></td>
                                    <td>
                                        <a href="{{ path('references_animauxproduction_edit', { 'id': lait.id,  'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                        <td colspan="4">
                            <table width="100%">
                            <tr>
                                <th>
                                    <b>{{ "Production" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Unité" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Quantité" | trans }}</b>
                                </th>
                                <th></th>
                            </tr>
                            {% for oeuf in oeufs %}
                                <tr>
                                    <td style="width:80px;text-align:center;">{{ oeuf.production }}</td>
                                    <td style="width:80px;text-align:center;">{{ oeuf.unite }}</td>
                                    <td style="width:80px;text-align:center;">{{ oeuf.quantite }}</td>
                                    <td>
                                        <a href="{{ path('references_animauxproduction_edit', { 'id': oeuf.id,  'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                        <td colspan="4">
                            <table width="100%">
                            <tr>
                                <th>
                                    <b>{{ "Production" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Unité" | trans }}</b>
                                </th>
                                <th>
                                    <b>{{ "Quantité" | trans }}</b>
                                </th>
                                <th></th>
                            </tr>
                            {% for fumier in fumiers %}
                                <tr>
                                    <td style="width:80px;text-align:center;">{{ fumier.production }}</td>
                                    <td style="width:80px;text-align:center;">{{ fumier.unite }}</td>
                                    <td style="width:80px;text-align:center;">{{ fumier.quantite }}</td>
                                    <td>
                                        <a href="{{ path('references_animauxproduction_edit', { 'id': fumier.id,  'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                    <tr>
                        <th colspan="4"><h4>B4. {{ "Main d'oeuvre" | trans }}</h4></th>
                    </tr>
                    <tr>
                        <th colspan="2">{{ "Labour" | trans }}</th>
                        <th>{{ "Main d'oeuvre" | trans }} {{ "familiale" | trans }} {{ "(h/j)" | trans }}</th>
                        <th>{{ "Main d'oeuvre" | trans }} {{ "Salariée" | trans }} {{ "(h/j)" | trans }}</th>
                        <th></th>
                    </tr>
                {% set i=0 %}
                {% for labour in animaux.labours %}
                    {% if labour.radie==0 %}
                        {% set i=i+1 %}
                        {% if i is odd %}
                            <tr bgcolor="#F0F0F0">
                        {% else %}
                            <tr bgcolor="#BFBFDD">
                        {% endif %}
                            <td colspan="2">{{ labour.labour }}</td>
                            <td>{{ labour.quantiteMOFam }}</td>
                            <td>{{ labour.quantiteMOSal }}</td>
                            <td><a href="{{ path('references_animauxlabour_edit', { 'id': labour.id }) }}">
                                    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                </a>
                            </td>
                        </tr>  
                    {% endif %}
                {% endfor %}
                    <tr>
                        <th colspan="5">
                            <a href="{{ path('references_animauxlabour_new',{'animaux':animaux,'annee':annee}) }}" class="btn btn-primary" role="button">
                                    {{ "Nouvelle utilisation de main d'oeuvre" | trans }}
                            </a>
                        </th>
                    </tr>
  	            </table>

                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
