{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblEquipementsAgricoles</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblEquipementsAgricole.id }}</td>
            </tr>
           <tr>
                <th>{{ 'EquipementAgricole'|trans }}</th>
                <td>{{ tblEquipementsAgricole.equipementAgricole }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblEquipementsAgricole.cdate %}{{ tblEquipementsAgricole.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblEquipementsAgricole.udate %}{{ tblEquipementsAgricole.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblEquipementsAgricole.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblequipementsagricoles_edit', { 'id': tblEquipementsAgricole.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
