{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblOperationCulturaleTypeCategory list</h1>
    <div>
            <a href="{{ path('tbloperationculturaletypecategory_new') }}" class="btn btn-primary" role="button">Ajouter un élément</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">Actions</th>                        
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for tblOperationCulturaleTypeCategory in tblOperationCulturaleTypeCategories %}
                <tr class="index-row">
                	<td>                            
                        <a href="{{ path('tbloperationculturaletypecategory_show', { 'id': tblOperationCulturaleTypeCategory.id }) }}">              
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('tbloperationculturaletypecategory_edit', { 'id': tblOperationCulturaleTypeCategory.id }) }}">                 
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>                            
                        </a><span>&nbsp;</span>                        
                        <span class="hidden">{{ tblOperationCulturaleTypeCategory.id }}</span>
                    </td>

                    
                    <td>{{ tblOperationCulturaleTypeCategory.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

