{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>TblOperationCulturaleTypeCategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblOperationCulturaleTypeCategory.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tblOperationCulturaleTypeCategory.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('tbloperationculturaletypecategory_edit', { 'id': tblOperationCulturaleTypeCategory.id }) }}" class="btn btn-primary btn-block" role="button">Edit</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="Effacer">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
