{% extends 'base.html.twig' %}

{% block body %}
	<div class="sub-header">
	    <h1>FauxDoublons liste</h1>
    </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">Actions</th>
                    <th>Id</th>
                    <th>Exploitationids</th>
                </tr>
            </thead>
            <tbody>
            {% for fauxDoublon in fauxDoublons %}
                <tr class="index-row">
                    <td>
                        <a href={{ path("fauxdoublons_delete", {"id": fauxDoublon.id}) }}>{{ "supprimer" | trans }}</a>
                    </td>
                    <td>{{ fauxDoublon.id }} </td>
                    <td>{{ fauxDoublon.exploitationIds | join(", ") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

