{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}{{ 'Formations Besoin'|trans }}{% endblock %}
{% block body_f0 %}
   <h4>{{ 'Formations Besoin'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'formation'|trans }}</th>
                <td class="suivis">{{ formationsBesoin.formation }}</td>
            </tr>
            <tr>
                <th>{{ 'Priorité'|trans }}</th>
                <td class="suivis">{{ formationsBesoin.priorite }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_formationsbesoin_edit', { 'id': formationsBesoin.id, }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
    </div>
{% endblock %}
