{% extends 'base_references.html.twig' %}

{% block body_title %}{{ "Édition d'une organisation"|trans }}{% endblock %}

{% block body %}
	<div>
        <a href="{{ path('references_tblorganisations_show',{'id':tblOrganisation.id}) }}" class="btn btn-primary" role="button">
            {{ "Retour à la fiche" | trans }}
        </a>
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
