{% extends 'base_references.html.twig' %}

{% block body_title %}
{{ 'Liste des %obj%s'|trans({'%obj%': level.denomination })  }}
{% endblock %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">{{ "Export to Excel"|trans }}</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>{{ '%obj%'|trans({'%obj%': level.denomination })}} </h1>
    <div>
        {% if level.denomination=='groupement' %}
            <a href="{{ path('choose_a_coop_then', {'next': 'references_tblorganisations_new_with_parent'}) }}" class="btn btn-primary" role="button">{{ "Nouveau groupement" | trans }}</a>
        {% else %}
            <a href="{{ path('references_tblorganisations_new',{'objet':'cooperative'}) }}" class="btn btn-primary" role="button">{{ 'Nouvelle cooperative'|trans }}</a>
        {% endif %}
    </div>
   </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr><th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                        <th>{{ "Denomination"|trans }}</th>
                        {% if level.denomination=='groupement' %}
                        <th>{{ "Parent"|trans }}</th>
                        {% endif %}
                        <th>{{ "Annee"|trans }}{{ 'Création'|trans }}</th>
                        <th>{{ "Adresse siege"|trans }}</th>
                        <th>{{ "Contact1 telephone"|trans }}</th>
                        <th>{{ "Contact2 telephone"|trans }}</th>
                        <th>{{ "Localisation"|trans }}</th>
                     </tr>
            </thead>
            <tbody>
            {% for organisation in organisations %}
                <tr class="index-row">
                	<td>
                        <a href="{{ path('references_tblorganisations_show', { 'id': organisation.id }) }}">
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                        </a>
                        <a href="{{ path('references_tblorganisations_edit', { 'id': organisation.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>


                    <th>{{ organisation.denomination }}</th>
                    {% if level.denomination=='groupement' %}
                        <th>{{ organisation.parent }}</th>
                    {% endif %}
                    <th>{{ organisation.anneeCreation }}</th>
                    <th>{{ organisation.adresseSiege }}</th>
                    <th>{{ organisation.contact1Telephone }}</th>
                    <th>{{ organisation.contact2Telephone }}</th>
                    <th>{{ organisation.decoupageAdmin }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}
