{% extends 'base_references.html.twig' %}

{% block body_title %}{{ "Création d'une organisation"|trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}
{% endblock %}
