{% extends 'base_references.html.twig' %}

{% block body_title %}
    <h1>
        {{ "Modifier les coordonnées géographiques d'une organisation" | trans }}
    </h1>
{% endblock %}

{% block body %}
    <div id="map"></div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="{{ 'Sauver'|trans }}" />
    <button class="btn btn-success" type="button" onClick="getLocation();">{{ 'Localiser'|trans }}</button>
    {{ form_end(form) }}    
{% endblock %}

{% block javascripts %}
<script>
    var x = document.getElementById("tbl_organisations_lon_lat_latitude");
    var y = document.getElementById("tbl_organisations_lon_lat_longitude");

    console.log(x);
    console.log('blabla');

    var map = L.map('map');

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    var marker; // ici le marker
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(setPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function setPosition(position) {
        x.value = position.coords.latitude;
        y.value = position.coords.longitude;

        showPosition();
    }

    function showPosition() {
        if(x.value && y.value) {
            map.setView([x.value, y.value], 13);

            if(marker) { // existe deja -> a deplacer
                marker.setLatLng([x.value, y.value]);
            } else { // creer le marker 
                marker = L.marker([x.value, y.value]).addTo(map)
            }


        }
    }

    x.addEventListener("change", showPosition); // actualise la carte quand X change
    y.addEventListener("change", showPosition); // idem (pour y)

    showPosition();
</script>

{% endblock %}