{% extends 'base_references.html.twig' %}
 


{% block body %}
    <h1>{{ objet | capitalize }} {{ groupement.denomination }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <td>{{ groupement.code }}</td>
                <th>{{ 'Dénomination' | trans }}</th>
                <td>{{ groupement.denomination }}</td>
            </tr>
            <tr>
                <th>{{ 'Localisation' | trans }}</th>
                <td>{{ groupement.decoupageAdmin }}</td>
                <th>{{ 'Année de création'|trans }}</th>
                <td>{{ groupement.anneeCreation }}</td>
            </tr>
            <tr>
                <th>{{ 'Adresse du siège' | trans }}</th>
                <td>{{ groupement.adresseSiege }}</td>
                <th>{{ 'Contact téléphonique' | trans }}</th>
                <td>{{ groupement.contact1Telephone }} {{ groupement.contact2Telephone }}</td>
            </tr>
            <tr>
                <th>{{ 'Localisation GPS' | trans }}</th>
				<td>
					{% if coop.latitude %}
						{{ "lat:" | trans }} {{ coop.latitude}}
						{{ ", lon:" | trans }} {{ coop.longitude}}
						<a href="{{ path('references_tblorganisations_set_lonlat', { 'id': coop.id }) }}"> 
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
						</a>
					{% else %}
						{{ "non encodé" | trans }}
						<a href="{{ path('references_tblorganisations_set_lonlat', { 'id': coop.id }) }}"> 
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
						</a>
					{% endif %}
                </td>
                <th>{{ 'Radié' | trans }}</th>
                <td>{{ groupement.radie ? 'Oui' | trans : 'Non' | trans }}</td>
            </tr>
 			<tr><td colspan=4>&nbsp;</td></tr>
			<tr>
                <th>Contact 1</th>
                {% if contact1 is null %}
   				<td></td><td></td>
				<td><form>
            			<a href="{{ path('references_contact_new',{'contact':1,'organisation':groupement.id }) }}" class="btn btn-primary" role="button">Nouveau contact 1 </a>
					</form>
				</td>
				{% else %}
				<td>{{ contact1.prenom }}</td>
                <td>{{ contact1.nom }}</td>
				<td><a href="{{ path('references_personnes_showcontact', { 'id': contact1.id, 'contact':1}) }}">
						<i class="glyphicon glyphicon-eye-open"></i></a>
					<span>&nbsp;</span>
					<a href="{{ path('references_personnes_contactedit', { 'id': contact1.id, 'contact':1 }) }}">                    		
                        <i class="glyphicon glyphicon-pencil"></i></a>
					<span>&nbsp;</span>
					<span class="hidden">{{ contact1.id }}</span>
				</td>
				{% endif %}
            </tr>
			<tr>
                <th>Contact 2</th>
                {% if contact2 is null %}
   				<td></td><td></td>
				<td><form>
            			<a href="{{ path('references_contact_new',{'contact':2,'organisation':groupement.id }) }}" class="btn btn-primary" role="button">Nouveau contact 2 </a>
					</form>
				</td>
				{% else %}
				<td>{{ contact2.prenom }}</td>
                <td>{{ contact2.nom }}</td>
								<td><a href="{{ path('references_personnes_showcontact', { 'id': contact2.id, 'contact':2 }) }}">
								<i class="glyphicon glyphicon-eye-open"></i></a>
							<span>&nbsp;</span>
							<a href="{{ path('references_personnes_contactedit', { 'id': contact2.id, 'contact':2}) }}">                    		<i class="glyphicon glyphicon-pencil"></i></a>
							<span>&nbsp;</span>
							<span class="hidden">{{ contact2.id }}</span>
				</td>
				{% endif %}


            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblorganisations_edit', { 'id': groupement.id, 'objet':objet}) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <!--input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}"-->
            </div>
        {{ form_end(delete_form) }}
		<h4> Suivis  de {{objet}}</h4>
		    <div>
			<form>
            	<a href="{{ path('references_suiviorganisations_new',{'objet':objet,'id':groupement.id}) }}" class="btn btn-primary" role="button">Nouveau suivi </a>
				</form>
    		</div>
   			<div class="table-responsive">
        		<table>
            		<thead>
                		<tr>
							<th>{{ 'Actions'|trans }}</th>
                        	<th>{{ 'Année'|trans }}</th>
                        </tr>
            		</thead>
            		<tbody>
            		{% for suivi in suivis %}
                	<tr class="index-row">
                		<td>
							<a href="{{ path('references_suiviorganisations_show', { 'id': suivi.id}) }}">
								<i class="glyphicon glyphicon-eye-open"></i></a>
							<span>&nbsp;</span>
							<a href="{{ path('references_suiviorganisations_edit', { 'id': suivi.id}) }}">                    		<i class="glyphicon glyphicon-pencil"></i></a>
							<span>&nbsp;</span>
							<span class="hidden">{{ suivi.id }}</span>
                    	</td>
                    	<td>{{ suivi.annee }}</td>
                    </tr>
            		{% endfor %}
            		</tbody>
        		</table>
    		</div>
			<!-- les exploitations -->
			<h4>{{ "Liste des exploitations du groupement" | trans }} ({{ exploitations | length }})</h4>
			<div>
				<!--form -->
                <a href="{{ path('saisie_new_LocAndAdhesion', {'cooperative': groupement.parent.id, 'groupement':groupement.id}) }}" class="btn btn-primary" role="button">
                     Nouvelle exploitation
                </a>
				<!--/form-->
    		</div>
			<div class="table-responsive">
        		<table id="index-table" class="tablesorter">
            		<thead>
                		<tr>
							<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                        	<th>&nbsp;{{ 'Numero membre'|trans }}&nbsp;</th>
							<th>&nbsp;Prenom&nbsp;</th>
							<th>&nbsp;Nom&nbsp;</th>
                        </tr>
            		</thead>
            		<tbody>
            		{% for exploitation in exploitations %}
                	<tr class="index-row">
                		<td>
							<a href="{{ path('references_exploitations_show', { 'id': exploitation.id, 'exploitation_id': exploitation.id, 'annee': exploitation.getLastAnneeEncodage(), 'group_id':groupement.id, 'coop_id': coop.id}) }}">
								<i class="glyphicon glyphicon-eye-open"></i></a>
                    	</td>
                    	<td>{{ exploitation.numeroMembre| format_num_membre }}</td>
                    	<td>{% if exploitation.getRepondant() %}{{ exploitation.getRepondant().getPrenom() }}{% else %}{{ "-- pas de répondant --" | trans | upper }}{% endif %}</td>
                    	<td>{% if exploitation.getRepondant() %}{{ exploitation.getRepondant().getNom() }}{% else %}{{ "-- pas de répondant --" | trans | upper }}{% endif %}</td>
                    </tr>
            		{% endfor %}
            		</tbody>
        		</table>
    		</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
