{% extends 'base_references.html.twig' %}

{% block body_title %}
	{{ "Détails de la coopérative" | trans }} {{ coop.denomination }}
{% endblock %}

{% block body %}
	<h4>{{ 'Informations générales' | trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <td>{{ coop.code }}</td>
                <th>{{ 'Dénomination' | trans }}</th>
                <td>{{ coop.denomination }}</td>
            </tr>
            <tr>
                <th>{{ 'Localisation' | trans }}</th>
                <td>{{ coop.decoupageAdmin }}</td>
                <th>{{ 'Année de création'|trans }}</th>
                <td>{{ coop.anneeCreation }}</td>
            </tr>
            <tr>
                <th>{{ 'Adresse du siège' | trans }}</th>
                <td>{{ coop.adresseSiege }}</td>
                <th>{{ 'Contact téléphonique' | trans }}</th>
                <td>{{ coop.contact1Telephone }} {{ coop.contact2Telephone }}</td>
            </tr>
            <tr>
                <th>{{ 'Localisation GPS' | trans }}</th>
				<td>
					{% if coop.latitude %}
						{{ "lat:" | trans }} {{ coop.latitude}}
						{{ ", lon:" | trans }} {{ coop.longitude}}
						<a href="{{ path('references_tblorganisations_set_lonlat', { 'id': coop.id }) }}"> 
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
						</a>
					{% else %}
						{{ "non encodé" | trans }}
						<a href="{{ path('references_tblorganisations_set_lonlat', { 'id': coop.id }) }}"> 
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
						</a>
					{% endif %}
                </td>
                <th>{{ 'Radié' | trans }}</th>
				<td>{{ coop.radie ? 'Oui' | trans : 'Non' | trans }}</td>
            </tr>
 			<tr><td colspan=4>&nbsp;</td></tr>
			<tr>
                <th>Contact 1</th>
                {% if contact1 is null %}
   				<td></td><td></td>
				<td><form>
            			<a href="{{ path('references_contact_new',{'contact':1,'organisation':coop.id }) }}" class="btn btn-primary" role="button">Nouveau contact 1 </a>
					</form>
				</td>
				{% else %}
				<td>{{ contact1.prenom }}</td>
                <td>{{ contact1.nom }}</td>
				<td><a href="{{ path('references_personnes_showcontact', { 'id': contact1.id, 'contact':1 }) }}">
					<i class="glyphicon glyphicon-eye-open  btn btn-default"></i></a>
					<span>&nbsp;</span>
					<a href="{{ path('references_personnes_contactedit', { 'id': contact1.id, 'contact':1 }) }}"> 
                                            <i class="glyphicon glyphicon-pencil btn btn-default"></i></a>
					<span>&nbsp;</span>
					<span class="hidden">{{ contact1.id }}</span>
				</td>
				{% endif %}
            </tr>
			<tr>
                <th>Contact 2</th>
                {% if contact2 is null %}
   				<td></td><td></td>
				<td><form>
            			<a href="{{ path('references_contact_new',{'contact':2,'organisation':coop.id }) }}" class="btn btn-primary" role="button">Nouveau contact 2 </a>
					</form>
				</td>
				{% else %}
				<td>{{ contact2.prenom }}</td>
                <td>{{ contact2.nom }}</td>
		<td><a href="{{ path('references_personnes_showcontact', { 'id': contact2.id, 'contact':2}) }}">
			<i class="glyphicon glyphicon-eye-open  btn btn-default"></i></a>
                        <span>&nbsp;</span>
                        <a href="{{ path('references_personnes_contactedit', { 'id': contact2.id, 'contact':2}) }}">
                            <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
                        <span>&nbsp;</span>
                        <span class="hidden">{{ contact2.id }}</span>
                </td>
				{% endif %}


            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblorganisations_edit', { 'id': coop.id, 'objet':objet }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <!--input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}"-->
            </div>
        {{ form_end(delete_form) }}
		<br />
		<div>
			<form>
            	<a href="{{ path('references_exploitations_listcoop',{'objet':'cooperative', 'id':coop.id }) }}" class="btn btn-primary" role="button">Lister les membres de la coopérative </a>
				</form>
    	</div>
		<br />
		<h4> Suivis  de la coopérative</h4>
		    <div>
			<form>
            	<a href="{{ path('references_suiviorganisations_new',{'objet':objet,'id':coop.id }) }}" class="btn btn-primary" role="button">Nouveau suivi </a>
				</form>
    		</div>
   			<div class="table-responsive">
        		<table>
            		<thead>
                		<tr>
							<th>{{ 'Actions'|trans }}</th>
                        	<th>{{ 'Année'|trans }}</th>
                        </tr>
            		</thead>
            		<tbody>
            		{% for suivi in suivis %}
                	<tr>
                		<td>
                                    <a href="{{ path('references_suiviorganisations_export', { 'id': suivi.id }) }}">
                                    <i class="glyphicon glyphicon-eye-open  btn btn-default"></i></a>
                                    <a href="{{ path('references_suiviorganisations_edit', { 'id': suivi.id  }) }}">                    		
                                    <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>

                    	</td>
                    	<td>{{ suivi.annee }}</td>
                    </tr>
            		{% endfor %}
            		</tbody>
        		</table>
    		</div>
			<!-- les groupements -->
			<div><h4> Groupements de la coopérative</h4><br /><br /></div>
			<div class="sub-header">
				<div class="pull-left">
					<form>
						<a href="{{ path('references_tblorganisations_new_with_parent',{'objet':'groupement','parent':coop.id  }) }}" class="btn btn-primary" role="button">Nouveau groupement au coopérative </a>
					</form>
				</div>
				<div  class="pull-xs-right">
					<button type="button" id="exp2excel" xlfilename="liste-groupements" class="btn btn-primary">{{ 'Exporter à Excel'|trans }}</button>
				</div>
    		</div>
			<div class="table table-hover">
        		<table id="index-table" class="tablesorter">
            		<thead>
                		<tr>
							<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                            <th>groupement</th>
                            <th>localisation</th>
                        </tr>
            		</thead>
            		<tbody>
            		{% for groupement in groupements %}
                	<tr class="index-row">
                		<td>
							<a href="{{ path('references_tblorganisations_show', { 'id': groupement.id, 'objet':'groupement' }) }}">
								<i class="glyphicon glyphicon-eye-open  btn btn-default"></i></a>
							<span>&nbsp;</span>
							<a href="{{ path('references_tblorganisations_edit', { 'id': groupement.id, 'objet':'groupement'}) }}">                    		
                                                            <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span>&nbsp;</span>
							<span class="hidden">{{ groupement.id }}</span>
                    	</td>
                        <td>{{ groupement.denomination }}</td>
                        <td>{{ groupement.decoupageAdmin }} </td>
                    </tr>
            		{% endfor %}
            		</tbody>
        		</table>
    		</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
