{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
    <div class="sub-header">
        <h1>{{ "Liste des produits" | trans }}</h1>
        <div>
            <a href="{{ path('references_tblproduits_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau produit'|trans }}</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ "Produit" | trans }}</th>
                    <th>{{ "Unité" | trans }}</th>
                    <th>{{ "Culture / Troupeau" | trans }}</th>
                    <th>{{ "Code" | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tblProduit in tblProduits %}
                    <tr class="index-row">
                        <td>
                            <a href="{{ path('references_tblproduits_show', { 'id': tblProduit.id }) }}">
                                <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                            </a>
                            <span>&nbsp;</span>
                            <a href="{{ path('references_tblproduits_edit', { 'id': tblProduit.id }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                        </td>
                        <td>{{ tblProduit.produit }}</td>
                        <td>{{ tblProduit.uniteProduit }}</td>
                        <td>{{ tblProduit.culture }}</td>
                        <td>{{ tblProduit.codeProduit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}