{% extends 'base_references.html.twig' %}

{% block body %}
    <ul class="nav nav-sidebartitle">
        <li>
            <a href="{{ path('references_tblproduits_index') }}">
                {{ 'Retour à la liste des produits'|trans }}
            </a>
        </li>
    </ul>

    <h1>{{ "Détails sur le produit" | trans }} {{ tblProduit.produit }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Code" | trans }}</th>
                <td>{{ tblProduit.codeProduit }}</td>
            </tr>
            <tr>
                <th>{{ "Unité" | trans }}</th>
                <td>{{ tblProduit.uniteProduit }}</td>
            </tr>
            <tr>
                <th>{{ "Culture" | trans }}</th>
                <td><a href="{{ path("references_tblcultures_show", {"id": tblProduit.culture.id }) }}">{{ tblProduit.culture }}</a></td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ tblProduit.poids3 }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>
                    {% if tblProduit.cdate %}{{ tblProduit.cdate|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>
                    {% if tblProduit.udate %}{{ tblProduit.udate|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblProduit.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblproduits_edit', { 'id': tblProduit.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
        <div class="form-group">
            <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
        </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}