{% extends 'base_F1.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f1 %}{{ 'Outillage'|trans }}{% endblock %}
{% block body_f1 %}
   <h4>{{ 'Outillage'|trans }} ({{ 'Création'|trans }})</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
