{% extends 'base.html.twig' %} 
{% block title %}Consultation{% endblock %}
 
{% block body %}
    <div id="container">
	<div id="menu">
            <h1 class="page-header">{{ "Consultation de la base de données" | trans }}</h1>
            <ul>
                <li><span class="page-header afficheur" onClick="changeDisplay('signaletique',this);" style="color:#337ab7;">
                    {{ "Consultation de la signaletique des exploitations" | trans }}
                <span></li>
                <li><span class="page-header afficheur" onClick="changeDisplay('f0',this);" style="color:#337ab7;">
                    {{ "Consultation des fiches d'identification des exploitations (F0)" | trans }}
                </span></li>
                <li><a class="page-header afficheur" onClick="changeDisplay('f1',this);" style="color:#337ab7;">
                    {{ "Consultation des fiches de moyens d'exploitation (F1)" | trans }}
                </a></li>
                <li><a class="page-header afficheur" onClick="changeDisplay('f2',this);" style="color:#337ab7;">
                    {{ "Consultation des fiches parcelles des  exploitations (F2)" | trans }}
                </a></li>
            </ul>
            <div id="signaletique" style="display: none;" class="pourAfficher">
                <h4 class="page-header">Consultation de la signaletique des exploitations</h4>
                <ul>
                    <li><a class="page-header afficheur" href="{{ path("signaletique", {theme: "exploitation"})}}">
                        {{ "Rapports exploitations groupés par coopérative et/ou par groupement et/ou par année adhesion" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("signaletique", {theme: "exploitant"})}}">
                        {{ "Rapports exploitant groupés par âge et/ou genre et/ou état civil" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("signaletique", {theme: "charges"})}}">
                        {{ "Rapports exploitations groupés par le total de membres du ménage" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("allsignaletique")}}">
                        {{ "Rapport special avec toute la signaletique" | trans }}
                    </a></li>
                </ul>
            </div>
            <div id="f0" style="display: none;" class="pourAfficher">
                <h4 class="page-header">Consultation des fiches d'identification des exploitations (F0)<h4>
                    <br />
                {{ form_start(f0) }}
                {{ form_errors(f0) }}
                {{ form_widget(f0) }}
                <input type="submit" value="{{ "Soumettre" | trans }}" class="btn btn-default pull-left" />
                {{ form_end(f0) }}
            </div>
            <div id="f1" style="display: none;" class="pourAfficher">
                <h4 class="page-header">{{ "Consultation du formulaire F1 ou moyens de production" | trans }}</h4>
                <ul>
                    <li><a class="page-header afficheur" href="{{ path("f1", {theme: "batiments"})}}">
                        {{ "Rapports des batîments qui ont les exploitations groupés par coopérative et/ou par groupement et/ou par année" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("f1", {theme: "transport"})}}">
                        {{ "Rapports des moyens de transport/traction qui ont les exploitations groupés par coopérative et/ou par groupement et/ou par année" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("f1", {theme: "outillages"})}}">
                        {{ "Rapports des outillages qui ont les exploitations groupés par coopérative et/ou par groupement et/ou par année" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("f1", {theme: "parcelles"})}}">
                        {{ "Rapport des parcelles qui ont les exploitations groupés par coopérative et/ou par groupement et/ou par année" | trans }}
                    </a></li>
                    <li><a class="page-header afficheur" href="{{ path("f1", {theme: "troupeau"})}}">
                        {{ "Rapport des troupeaux qui ont les exploitations groupés par coopérative et/ou par groupement et/ou par année" | trans }}
                    </a></li>
                </ul>
            </div>
            <div id="f2" style="display: none;" class="pourAfficher">
                <h4 class="page-header">Consultation du formulaire F2 ou parcelles</h4>
                <ul>
                    <li style="font-weight: bold;">{{ "Surfaces totales et moyennes" | trans }}</li>
                        <ul>
                            <li><a href="{{ path("surface") }}">
                                {{ "Rapports de surfaces moyennes et totales par exploitation, groupé par coopérative" | trans }}
                            </a></li>
                            <li><a href="{{ path("surfacegroup") }}">
                                {{ "Rapports de surfaces moyennes et totales par exploitation, groupé par groupement" | trans }}
                            </a></li>
                            <li><a href="{{ path("surfaceexplo") }}">
                                {{ "Rapports de surfaces totales par exploitation, groupé par exploitation" | trans }}
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
	    </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
    function resetAll(){
        var x = document.getElementsByClassName('pourAfficher');
        var i = x.length;
        while(i--) {
            x[i].style.display = "none";
        }
        var y = document.getElementsByClassName('afficheur');
        var i = y.length;
        while(i--) {
            y[i].style.fontWeight = "normal";
        }
        
    }
    function changeDisplay(mId, me){
        resetAll();
        var e = document.getElementById(mId);
        if (e.style.display=='none'){
            e.style.display = 'block';
            me.style.fontWeight = 'bold';
        }else{
            e.style.display='none';
            me.style.fontWeight = 'normal';
        }
    }
    </script>
    <script src="{{ asset('pumastatic/js/consultationF0.js') }}"></script>
    <script src="{{ asset('pumastatic/js/consultationSignaletique.js') }}"></script>
{% endblock %}

