{% extends 'base.html.twig' %} 
{% block title %}F0 Consultation{% endblock %}
 


{% block body %}
	<div id="container">
            <div id="menu">
		<h1 class="page-header">{% trans %}Consultation de fiches F0{% endtrans %}</h1>
		<ul>
                    <li><a href="{{ path('signaletique') }}">{% trans %}Consultation de la signaletique des exploitations{% endtrans %}</a></li>
                    <li><b>{% trans %}Consultation de la F0 des exploitations{% endtrans %}</b></li>
                    <li><a href="{{ path('f1') }}">{% trans %}Consultation de la F1 des exploitations{% endtrans %}</a></li>
                </ul>
            </div>

		<div id="test">
			{{ form_start(form) }}
			{{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-left" />
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/consultationF0.js') }}"></script>
{% endblock %}
