{% extends 'base.html.twig' %} 
{% block title %}Consultation des fiches de suivi des exploitations (F1){% endblock %}
 


{% block body %}
	<div id="container">
		<div id="container">
		<div id="menu">
                    <h1 class="page-header">{% trans %}Consultation des données{% endtrans %}</h1>
                    <ul>
                        <li><a href="/consultation/signaletique">{% trans %}Consultation de la signaletique des exploitations{% endtrans %}</a></li>
                        <li><a href="/consultation/f0">{% trans %}Consultation de la F0 des exploitations{% endtrans %}</a></li>
                        <li><b>{% trans %}Consultation de la F1 des exploitations{% endtrans %}</b></li>
                    </ul>
		</div>
                <div id="menu">
                    <h1 class="page-header" id="mTitre">{% trans %}Consultation des données du formulaire F1{% endtrans %}</h1>
                    <h4 class="page-header">{{ mTitre }}</h4>
                </div>
		<div id="test">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-center" />
            {{ form_end(form) }}
		</div>
	</div>
	</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/consultationF1.js') }}"></script>
{% endblock %}
