{% extends 'base.html.twig' %} 
{% block title %}Consultation liste de groupements par coopérative{% endblock %}
 


{% block body %}
	<div id="container">
		<div id="menu">
		<h1 class="page-header">{% trans %}Consultation de groupements par coopérative{% endtrans %}</h1>
			<ul>
				<li><a href="/consultation/signaletique">{% trans %}Consultation de la signaletique des exploitations{% endtrans %}</a></li>
        		<li><b>{% trans %}Consultation de la F0 des exploitations{% endtrans %}</b></li>
        		<li><!--a href="/consultation/f1"-->{% trans %}Consultation de la F1 des exploitations{% endtrans %}<!--/a--></li>
            </ul>
		</div>

		<div id="test">
			{{ form_start(form) }}
			{{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-right" />
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/consultationF0.js') }}"></script>
{% endblock %}
