{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block body %}
	<div class="sub-header">
   <h4>{{ 'Liste des groupements'|trans }} </h4>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr><th class="filter-false tablesorter-noSort">{{ 'id'|trans }}</th>    
                    <th>{{ 'Parent'|trans }}</th>
                        <th>{{ 'groupement'|trans }}</th>
                        <th>{{ 'localisation'|trans }}</th>
                        <th>{{ 'adresseSiege'|trans }}</th>    
                        <th>{{ 'telephone1'|trans }}</th>    
                        <th>{{ 'telephone2'|trans }}</th>    
                 </tr>
            </thead>
            <tbody>
            {% for groupement in groupements %}
                <tr class="index-row">                
                	<td>{{ groupement.id }}</td>
                    <td>{{ groupement.getParent.getDenomination }}</td>     
                    <td>{{ groupement.denomination }}</td>    
                    <td>{{ groupement.decoupageAdmin }}</td>    
                    <td>{{ groupement.adresseSiege }}</td>    
                    <td>{{ groupement.contact1Telephone }}</td>    
                    <td>{{ groupement.contact2Telephone }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
