{% extends 'base.html.twig' %}
 
{% block body %}
	<div class="sub-header">
	<h1>{{ titre }}</h1>	
            <div  class="pull-xs-right">
                    <button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary">Export to Excel</button>
            </div>
        </div>
        <div class="sub-header">
            <b>Requête:</b>
            <p style="background-color: aqua; border: blue solid thick;">{{ strSql }}</p>
	
        </div>
	<div class="table-responsive">
        <table id="index-table" class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row"> 
                {% for field in fields %}  
                	<th>{{ field }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for record in recordset %}
                <tr class="index-row"> 
                	{% for field in fields %}  
                    	<td>{{ record[field] }}</td>
                    {% endfor %}     
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}