{% extends 'base.html.twig' %} 
{% block title %}{{ "Consultation signalétique" | trans }}{% endblock %}
 
{% block body %}
	<div id="container">
		<div id="menu">
		    <h1 class="page-header">{% trans %}Consultation de la signalétique des exploitations{% endtrans %}</h1>
		</div>
        <h4 class="page-header" id="mTitre">
            {{ "Consultation de la signalétique des exploitations" | trans }}
        </h4><br />
        <a href="{{ path("allsignaletique") }}" class="btn btn-default pull-left" >
            <b>Consultation spéciale avec toute la signaletique</b>
        </a><br /><br /><br />
        <div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}            
            <input id="consultation_signaletique_submit" type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-left" />
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/consultationSignaletique.js') }}"></script>
<script>ConsultationSignaletique.hideAll();</script>
{% if consultation.getQueryTheme=='exploitation' %}
<script>
    ConsultationSignaletique.showExploitation();
    var elem = document.getElementById('mTitre');
    elem.innerHTML = 'Rapports exploitations groupés par coopérative et/ou par groupement et/ou par année adhesion';
</script>
{% elseif  consultation.getQueryTheme=='exploitant' %}
<script>    
    var elem = document.getElementById('mTitre');
    elem.innerHTML = 'Rapports exploitant groupés par âge et/ou genre et/ou état civil';
    ConsultationSignaletique.showExploitant();
</script>
{% else %}
<script>
    var elem = document.getElementById('mTitre');
    elem.innerHTML = 'Rapports exploitations groupés par la quantité de personnes à charge';
    ConsultationSignaletique.showCharges();
</script>
{% endif %}
{% endblock %}
