{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblunitestransformations_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblUnitesTransformations</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblUnitesTransformation.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Unité'|trans }}transformation</th>
                <td>{{ tblUnitesTransformation.uniteTransformation }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblUnitesTransformation.cdate %}{{ tblUnitesTransformation.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblUnitesTransformation.udate %}{{ tblUnitesTransformation.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblUnitesTransformation.utilisateur }}</td>
            </tr>
         </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblunitestransformations_edit', { 'id': tblUnitesTransformation.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
