{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block body %}
 <div class="sub-header">
   <h4>{{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'qui travaille hors l\'exploitation'|trans }}</h4>
    <div>
            <a href="{{ path('references_mofamilialeexterne_new',{'coop_id':coop_id, 'group_id':group_id, 'exploitation_id': exploitation_id, 'annee':annee}) }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Année'|trans }}</th>    
                    <th>{{ 'Membres'|trans }}</th>    
                    <th>{{ 'Lieu'|trans }}</th>    
                    <th>{{ 'Revenu'|trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for moFamilialeExterne in moFamilialeExternes %}
                <tr class="index-row">                
                	<td><a href="{{ path('references_mofamilialeexterne_show', { 'id': moFamilialeExterne.id, 'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee}) }}">
						<i class="glyphicon glyphicon-eye-open"></i></a><span>&nbsp;</span> 
					    <a href="{{ path('references_mofamilialeexterne_edit', { 'id': moFamilialeExterne.id, 'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee }) }}">
						<i class="glyphicon glyphicon-pencil"></i></a><span>&nbsp;</span>
						<span class="hidden">{{ moFamilialeExterne.id }}</span> 
                    </td>
 					<td>{{ moFamilialeExterne.annee }}</td>    
                    <td>{{ moFamilialeExterne.membres }}</td>    
                    <td>{{ moFamilialeExterne.lieu }}</td>    
                    <td>{{ moFamilialeExterne.revenu }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

