{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'qui travaille hors l\'exploitation'|trans }}{% endblock %}
{% block body_f0 %}
   <h4>0621. {{ 'Création'|trans }} {{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'qui travaille hors l\'exploitation'|trans }}.</h4>

   {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
   {{ form_widget(form) }}
      <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ "Enregistrer" | trans }}" />
      </div>
   {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
{% endblock %}