{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}{{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }}{% endblock %}
{% block body_f0 %}
   <h4>{{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'qui travaille hors l\'exploitation'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ "Année" | trans }}</th>
                <td>{{ moFamilialeExterne.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Membres' | trans }}</th>
                <td>{{ moFamilialeExterne.membres }}</td>
            </tr>
            <tr>
                <th>{{ 'Lieu' | trans }}</th>
                <td>{{ moFamilialeExterne.lieu }}</td>
            </tr>
            <tr>
                <th>{{ 'Revenu' | trans }}</th>
                <td>{{ moFamilialeExterne.revenu }}</td>
            </tr>
        </tbody>
    </table>

    <div>
      <div class="form-group">
         <a href="{{ path('references_mofamilialeexterne_edit', { 'id': moFamilialeExterne.id,'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
      </div>
   </div>
{% endblock %}
