<form method="post" action="{{ path('references_tblagrofofruitiers_delete', {'id': tbl_plants_agro_fo_et_fruitier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_plants_agro_fo_et_fruitier.id) }}">
    <button class="btn btn-danger">{{ "Effacer" | trans }}</button>
</form>
