{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>{{ "Édition - plant agro forestier et fruitier" | trans }}</h1>

    <p>
        <a href="{{ path('references_tblagrofofruitiers_index') }}">{{ "retour à la liste des plants" | trans }}</a>
    </p>

    {{ include('tbl_plants_agro_fo_et_fruitiers/_form.html.twig', {'button_label': 'Update'}) }}

    <br />

    {{ include('tbl_plants_agro_fo_et_fruitiers/_delete_form.html.twig') }}
{% endblock %}
