{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>{{ "Administration de la liste des plants agro forestier et fruitiers" | trans }}</h1>

    <div>
        <a href="{{ path('references_tblagrofofruitiers_new')  }}" class="btn btn-primary" role="button">{{ 'Nouveau plant'|trans }}</a>
    </div>		

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ "Actions" | trans }}</th>
                    <th>{{ "Plant" | trans }}</th>
                    <th>{{ "Agroforestier" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for tbl_plants_agro_fo_et_fruitier in tbl_plants_agro_fo_et_fruitiers %}
                <tr>
                    <td>
                        <a href="{{ path('references_tblagrofofruitiers_edit', {'id': tbl_plants_agro_fo_et_fruitier.id}) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
                    <td>{{ tbl_plants_agro_fo_et_fruitier.plant }}</td>
                    <td>{{ tbl_plants_agro_fo_et_fruitier.agroForestier ? 'Oui' : 'Non' | trans }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
