{% extends 'base_F1.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f1 %}{{ 'Bâtiments'|trans }}{% endblock %}

{% block body_f1 %}
    <h4>{{ 'Bâtiments édition'|trans }}</h4>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
