{% extends 'base_F1.html.twig' %}
{% set menu_selected = 'info_gen' %}
 
{% block subtitle_f1 %}{{ 'Bâtiments'|trans }} {% endblock %}

{% block body_f1 %}
   <h4>{{ "Nouveau bâtiment" |trans }}</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Ajouter'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
