{% extends 'base.html.twig' %} {% block title %}{{ "Bienvenue sur PUMA 2" | trans }}{% endblock %}

{% block body %}
<div>
	<h1 class="page-header">{{ "Aide" | trans }}</h1>

	<h2>{{ "Ouverture d'une fiche d'encodage (F0 ou F1 ...)" | trans }}</h2>

	<p>
		Juste après la création d'une nouvelle exploitation, aucune fiche (F0, F1, ...) n'est ouverte.
		Chaque fiche dépend d'un exercice qui est l'année sur laquelle porte les données de la fiche
		et aucun exercice n'est ouvert.
	</p>
	
	<a href="/pumastatic/images/help/1_exploitation_sans_fiche_ouverte.png" target="_new">
		<img
			src="/pumastatic/images/help/1_exploitation_sans_fiche_ouverte.png"
			alt="Une nouvelle exploitation dont aucune fiche (F0, F1, ...) n'a été ouverte"
			class="help" />
	</a>

	<p>
		Pour pouvoir encoder des données dans les fiches, vous devez créer une <b>collecte</b>.
		Pour cela cliquez sur le bouton "Nouvelle Collecte / Exercice".
	</p>

	<a href="/pumastatic/images/help/2_bouton_nouv_collecte.png" target="_new">
		<img
			src="/pumastatic/images/help/2_bouton_nouv_collecte.png"
			alt="Bouton Nouvelle Collecte / Exercice"
			class="help" />
	</a>

	<p>
		Ensuite remplissez, de la manière suivante, le formulaire qui apparaît.

		<ul>
			<li>Année de l'excercie : année sur laquelle porte les données ;</li>
			<li>Fiche récoltée : numéro de la fiche à ouvrir (F0 ou F1 ...) ;</li>
			<li>Nom de l'enquêteur : personne qui a mené l'enquête ;</li>
			<li>Date de passage de l'enquêteur : date à laquelle est passée l'enquêteur.</li>
		</ul>

		Et cliquez sur le bouton "Créer la récolte".
	</p>

	<a href="/pumastatic/images/help/3_creation_nouv_collecte.png" target="_new">	
		<img
			src="/pumastatic/images/help/3_creation_nouv_collecte.png"
			alt="Formulaire Nouvelle Collecte / Exercice"
			class="help" />
	</a>

	<p>
		Une fois que le formulaire a été traité, vous serez redirigé sur la page
		"Résumé" de l'exploitation.

		La fiche que vous avez renseigné à l'aide du formulaire apparaît à l'écran et
		est active ; vous pouvez maintenant y entrer des données.
	</p>

	<p>
		Ici dans l'exemple la fiche "F0" de l'exerice "2019" a été ouverte. 
	</p>

	<a href="/pumastatic/images/help/4_fin_ouverture_F0.png" target="_new">
		<img
			src="/pumastatic/images/help/4_fin_ouverture_F0.png"
			alt="Formulaire Nouvelle Collecte / Exercice"
			class="help" />
	</a>

	<p>
		Si vous devez remplir des fiches "inactives", répétez l'opération ci-dessus :
		<ul>
			<li>cliquez sur le bouton "Nouvelle Collecte / Exercice"</li>
			<li>...</li>
		</ul>
	</p>

</div>
{% endblock %}
