{% extends 'base.html.twig' %} 
{% block title %}{{ "Bienvenue sur PUMA 2" | trans }}{% endblock %}

{% block body_title %}
	{{ "Bienvenue sur PUMA 2" | trans }}
{% endblock %}
{% block body %}
                    <h4>{{ "Vous avez les cooperatives suivantes, avec le total des exploitations:" | trans }}</h4>
                    <div>
                    {% set i=-1 %}
                    {% for linea in infoDB %}
                        {% set i=i+1 %}
                        {% if i==0 %}
                            <div  class="col-sm-3 alert">
                        {% endif %}
                        <p>{{ linea }}</p>
                        {% if i==15 %}
                           {% set i=-1 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    
{% endblock %}
