{% if position=='Culture 1' %}
<td>
{% if dateExecution %}{{ dateExecution|date('Y-m-d H:i:s') }}{% endif %}</td><td></td><td></td><td></td><td></td>
{% elseif position=='Culture 2' %}
<td></td><td>{% if dateExecution %}{{ dateExecution|date('Y-m-d H:i:s') }}{% endif %}</td><td></td><td></td><td></td>
{% elseif position=='Culture 3' %}
<td></td><td></td><td>{% if dateExecution %}{{ dateExecution|date('Y-m-d H:i:s') }}{% endif %}</td><td></td><td></td>
{% elseif position=='Culture 4' %}
<td></td><td></td><td></td><td>{% if dateExecution %}{{ dateExecution|date('Y-m-d H:i:s') }}{% endif %}</td><td></td>
{% elseif position=='Toutes Cultures' %}
<td></td><td></td><td></td><td></td><td>{% if dateExecution %}{{ dateExecution|date('Y-m-d H:i:s') }}{% endif %}</td>
{% endif %}
<td>
<a href="{{ path('references_parcelletechniques_edit', { 'id': id, 'parcelleHistorique_id': parcelleHistorique_id, 'exploitation_id':exploitation_id, 'group_id':group_id, 'coop_id':coop_id , 'annee':annee }) }}"> 
<i class="glyphicon glyphicon-eye-open"></i></a><span>&nbsp;</span>                            
<a href="{{ path('references_parcelletechniques_edit', { 'id': id, 'parcelleHistorique_id': parcelleHistorique_id, 'exploitation_id':exploitation_id, 'group_id':group_id, 'coop_id':coop_id , 'annee':annee }) }}">                    			
<i class="glyphicon glyphicon-pencil"></i></a><span>&nbsp;</span>
<span class="hidden">{{ id }}</span> 
</td>

			