{% if position=='Culture 1' %}
<td>
{{ quantite }}</td><td></td><td></td><td></td><td></td>
{% elseif position=='Culture 2' %}
<td></td><td>{{ quantite }}</td><td></td><td></td><td></td>
{% elseif position=='Culture 3' %}
<td></td><td></td><td>{{ quantite }}</td><td></td><td></td>
{% elseif position=='Culture 4' %}
<td></td><td></td><td></td><td>{{ quantite }}</td><td></td>
{% elseif position=='Toutes Cultures' %}
<td></td><td></td><td></td><td></td><td>{{ quantite }}</td>
{% endif %}
<td></td>

			