{% extends 'base_signaletique.html.twig' %}
{% if objet is defined %}
{% else %}
{% set menu_selected = 'info_gen' %}
{% endif %}
 
 
{% block body_f0 %}
 <h4>Procédure d'encodage - collecte 2015</h4>
<p>Nous allons profiter de l'encodage de 2015 pour corriger les données de 2012. Du coup la procédure d'encodage doit se dérouler de la maniére décrite ci dessous.</p>
<ul><li>1. Rechercher si l'exploitation se trouve dans la base de données</li>
      <ul>
      	<li>1. Cas où l'exploitation existe : vérification et correction de la fiche signalétique</li>
      	<li>2. Cas où l'exploitation n'existe pas : création d'une nouvelle exploitation</li>
      </ul>
	<li>2. Encodage de l'enquête 2015</li>
</ul>
<h5>1. Rechercher l'exploitation dans la base de donnée PUMA</h5>
<p>Pour rechercher si une exploitation existe, cliquez sur le lien "Modification d'une 
exploitation" dans le
"Menu Principal" qui se trouve à gauche de PUMA.</p>
<img src="/pumastatic/images/help/img1.png"></img>
<p>Illustration 1:Menu Principal</p>

<img src="/pumastatic/images/help/img2.png">
Illustration 2: Rechercher une exploitation

<p>Dans le formulaire "Rechercher une exploitation via les co-exploitants" remplissez le champ "Nom" et cliquez sur le bouton "Rechercher" du formulaire.</p>
<p>La liste des exploitations apparaît.</p>
<p> Cliquez sur l'icône "oeil" pour voir les détails de l'exploitation.</p>
<img src="/pumastatic/images/help/img3.png">
  <p>Illustration 3: Recherche d'une exploitation : résultat</p>

<h5>1.1. Encodage d'une exploitation déjà enregistrée dans PUMA.</h5>
<p>Pour illustrer ce cas, nous allons encoder l'enquête 2015 pour l'exploitation de "JOSEPH BONANE".</p>
<p>Suivre la procédure décrite ci-dessus avec le nom "Bonane". Vous arrivez à l'écran des résultats.</p>
<p>cliquez sur l'oeil pour voir / sélectionner la fiche, vous arrivez à l'écran d'affichage général de l'exploitation.</p>
<p>Cliquez sur "Voir la signalétique" afin d'accéder à la fiche signalétique.</p>

<img src="/pumastatic/images/help/img4.png">
        <p>Illustration 4: Vue globale de l'exploitation</p>

<img src="/pumastatic/images/help/img5.png">
        <p>Illustration 5: Fiche signalétique</p>
      
<p>Vérifiez que les données sont bonnes et corrigez si besoin.</p>
<p>Par exemple si l'exploitation se trouve dans un mauvais groupement.</p>
<p>Cliquez sur le bouton "Modifier appartenance" et à l'aide du formulaire qui apparait changer la coopérative et le groupement dans lesquels se trouve l'exploitation.</p>
 <img src="/pumastatic/images/help/img6.png">
        <p>Illustration 6: Formulaire pour changer la coopérative et 
le groupement d'une exploitation</p>
      
<p>Une fois que les données de la fiche signalétique ont été vérifiées et corrigées, vous 
pouvez procéder à l'encodage de l'enquête 2015 (voir la section "2. Encodage de l'enquête 2015").</p>
<ul>
    <li>1.2. Encodage d'une exploitation non-enregistrée dans PUMA.</li>
    <li>Si la recherche de l'exploitation à l'aide du "Nom" a été infructueuse, essayez de rechercher
l'exploitation é l'aide du CNI (dans ce cas remplissez seulement le champ CNI du formulaire de
recherche).</li>
</ul>
<img src="/pumastatic/images/help/img7.png">
        	<p>Illustration 7: Recherche infructueuse</p>

<img src="/pumastatic/images/help/img8.png">
  	<p>Illustration 8: Recherche à l'aide du CNI</p>

      
<p>Si malgré tout vous n'avez pas trouvé l'exploitation que vous voulez encoder dans PUMA, vous devez
créer une nouvelle exploitation. Pour ce faire cliquez sur "Création d'une exploitation" dans le menu principal qui se trouve à gauche de l'outil.
Renseignez la localisation (Province, commune, colline).</p>
<img src="/pumastatic/images/help/img9.png">
  	<p>Illustration 9: Création d'une exploitation - encodage de la localisation</p>

<p>Vous arrivez à un écran qui affiche la liste des exploitations qui ont cette localisation.</p> 
<p>Vérifiez que l'exploitation n'existe pas déjà (par exemple il se peut qu'il y ai une faute de frappe dans le nom).</p>
<p>Si l'exploitation existe déjà sélectionnez là en cliquant sur l'icône "oeil", vérifiez les 
informtations puis encodez l'enquête 2015.</p>
<p>Si l'exploitation n'existe pas, cliquez sur le bouton "Créer une nouvelle exploitation" ; vous arrivez sur un écran où renseigner la coopérative et le groupement. Cliquez sur "continuer".
Encodez ensuite le référent de l'exploitation (c'est à dire la personne responsible) et cliquez sur le bouton "Créer".</p>
<img src="/pumastatic/images/help/img10.png">
<p>Illustration 10: Création d'une exploitation - étape de vérification : affichage des 
exploitations se trouvant dans la colline</p>

<img src="/pumastatic/images/help/img11.png">
<p> Illustration 11: Création exploitation - choix du groupement</p>


<p>Vous arrivez alors " la fiche signalétique de l'exploitation. Encodez les informations 
de la fiche puis encodez l'enquête 2015 (voir la section "2. Encodage de l'enquête 2015").</p>
{% endblock %}