{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblAlimentationBetail liste</h1>
    <div>
            <a href="{{ path('references_tblalimentationbetail_new') }}" class="btn btn-primary" role="button">Ajouter un élément</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">Actions</th>                        <th>Nom</th>                        <th>Cdate</th>                        <th>Udate</th>                        <th>Utilisateur</th>                        <th>Radie</th>
                                    </tr>
            </thead>
            <tbody>
            {% for tblAlimentationBetail in tblAlimentationBetails %}
                <tr class="index-row">
                	<td>                            <a href="{{ path('references_tblalimentationbetail_show', { 'id': tblAlimentationBetail.id }) }}">                    			<i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            </a><span>&nbsp;</span>
                    <a href="{{ path('references_tblalimentationbetail_edit', { 'id': tblAlimentationBetail.id }) }}">                    			<i class="glyphicon glyphicon-pencil btn btn-default"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ tblAlimentationBetail.id }}</span>
                    </td>


                    <td>{{ tblAlimentationBetail.nom }}</td>
                    <td>{% if tblAlimentationBetail.cdate %}{{ tblAlimentationBetail.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if tblAlimentationBetail.udate %}{{ tblAlimentationBetail.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ tblAlimentationBetail.utilisateur }}</td>
                    <td>{% if tblAlimentationBetail.radie %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

