{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>TblAlimentationBetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblAlimentationBetail.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tblAlimentationBetail.nom }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblAlimentationBetail.cdate %}{{ tblAlimentationBetail.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblAlimentationBetail.udate %}{{ tblAlimentationBetail.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblAlimentationBetail.utilisateur }}</td>
            </tr>
            <tr>
                <th>Radie</th>
                <td>{% if tblAlimentationBetail.radie %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblalimentationbetail_edit', { 'id': tblAlimentationBetail.id }) }}" class="btn btn-primary btn-block" role="button">Edit</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="Effacer">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
