{% extends 'base.html.twig' %}
 



{% block body %}
    <h4>{{ 'EngraisDemande'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ engraisDemande.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Mois'|trans }}</th>
                <td>{{ engraisDemande.mois }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantiteengrais'|trans }}</th>
                <td>{{ engraisDemande.quantiteEngrais }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_engraisdemande_edit', { 'id': engraisDemande.id, 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}" class="btn btn-primary btn-block" role="button">
                {{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
