{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ "Activité de l'utilisateur" | trans }} {{ user }}</h1>

	<div class="sub-header">
        <div>
            <a href="{{ path('admin_users') }}">{{ "Retour à la liste des utilisateurs"  | trans }}</a>
    	</div>
    </div>

    <div>
        <div id="date-range-form" class="date-range-filter">
            {{ form_start(form_date_range) }}
                {{ form_widget(form_date_range)}}
                <div>
                    <input class="btn btn-primary btn-block" type="submit" value="{{ 'Filtrer'|trans }}" />
                </div>
            {{ form_end(form_date_range) }}
        </div>
    </div>

    <div class="count">
        {{ "Nombre de résultats : " | trans }} {{ collectes.getTotalItemCount }}
    </div>

    <div>
        {{ "Navigation : "  | trans }} {{ knp_pagination_render(collectes) }}
    </div>

	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ "Date de mise à jour" | trans }}</th>
                    <th>{{ "Éditeur" | trans }}</th>
                    <th>{{ "Date de création" | trans }}</th>
                    <th>{{ "Créateur" | trans }}</th>
                    <th>{{ "Exploitation" | trans }}</th>
                    <th>{{ "Fiche" | trans }}</th>
                    <th>{{ "Annéee" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for collecte in collectes %}
                <tr class="index-row">
                    <td>{{ loop.index }}</td>
                    <td>{{ collecte.udate |date("d/m/Y H:i") }}</td>
                    <td>{% if collecte.lastEditor %}{{ collecte.lastEditor }}{% else %}-{% endif %}</td>
                    <td>{{ collecte.cdate |date("d/m/Y H:i") }}</td>
                    <td>{% if collecte.creator %}{{ collecte.creator }}{% else %}-{% endif %}</td>
                    <td>
                        <a href="{{ path('saisie_info_gen_sans_annee', {'exploitation': collecte.exploitation.id })}}">{{ collecte.exploitation }}</a>
                    </td>
                    <td>F{{ collecte.type }}</td>
                    <td>{{ collecte.getAnneeExercice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script>
    let defaultTblSort=false;
</script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script>
    $(document).on("ready", function () {
        PumaFrmTblSorter.onReady([[0,0]]);
    });
</script>
{% endblock %}

