{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ "Gestion des utilisateurs" | trans }}</h1>

	<div class="sub-header">
        <div>
            <a href="{{ path('admin_users_new') }}" class="btn btn-primary" role="button">{{ "Nouvel utilisateur"  | trans }}</a>
            <a href="{{ path('admin_users_activity')}}" class="btn btn-primary" role="button">{{ "Activité des utilisateurs" | trans }}</a>
    	</div>
    </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ "Utilisateur" | trans }}</th>
                    <th>{{ "Email" | trans }}</th>
                    <th>{{ "Rôle" | trans }}</th>
                    <th>{{ "Mot de passe" | trans }}</th>
                    <th>{{ "Activités" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
				{# % if user.enabled==1 % #}
                <tr class="index-row">
                	<td>
                        <a href="{{ path('admin_users_edit', { 'id': user.id }) }}">
                            <i class="glyphicon glyphicon-pencil"></i>

                        </a><span>&nbsp;</span>
                        <span class="hidden">{{ user.id }}</span>
                    </td>


                    <td>{{ user.username }}</td>
                    <td>{# { user.email }#}</td>
                    <td>{{ user.getRoles|join(', ') }}</td>
                    <td><a href="{{ path('admin_changepw',{'id': user.id}) }}"><img src="{{ asset('pumastatic/images/recycle.fw.png') }}" alt="Change password"></img></a></td>
                    <td><a href="{{ path('admin_user_activity', { 'user': user.id }) }}">{{ "Liste des activités" | trans }}</a></td>
                </tr>
				{# % endif %  #}
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

