{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>TblAnimauxProduction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblAnimauxProduction.id }}</td>
            </tr>
            <tr>
                <th>Production</th>
                <td>{{ tblAnimauxProduction.production }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblAnimauxProduction.cdate %}{{ tblAnimauxProduction.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblAnimauxProduction.udate %}{{ tblAnimauxProduction.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblAnimauxProduction.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblanimauxProduction_edit', { 'id': tblAnimauxProduction.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
