{% extends 'base_references.html.twig' %}
 

 


{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tbltypedepense_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h4>tbl_type_depense {{ 'Liste'|trans }}&nbsp;</h4>		
    <div>
            <a href="{{ path('references_tbltypedepense_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>Typedepense</th>    
                </tr>
            </thead>
            <tbody>
            {% for tblTypeDepense in tblTypeDepenses %}
                <tr class="index-row">                
                	<td>                            <a href="{{ path('references_tbltypedepense_show', { 'id': tblTypeDepense.id }) }}"> 
                    			<i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_tbltypedepense_edit', { 'id': tblTypeDepense.id }) }}">                    			<i class="glyphicon glyphicon-pencil btn btn-default"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ tblTypeDepense.id }}</span> 
                    </td>
    
                        
                    <td>{{ tblTypeDepense.typeDepense }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

