{% extends 'base_references.html.twig' %}
 
 

{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tbltypedepense_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
	<h4>tbl_type_depense</h4>		

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblTypeDepense.id }}</td>
            </tr>
            <tr>
                <th>Typedepense</th>
                <td>{{ tblTypeDepense.typeDepense }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbltypedepense_edit', { 'id': tblTypeDepense.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
