{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
    <div class="sub-header">
        <h1>{{ "Liste des cultures / troupeaux" | trans }}</h1>
        <div>
            <a href="{{ path('references_tblcultures_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ "Culture / troupeau" | trans }}</th>
                    <th>{{ "Produits" | trans }}</th>
                    <th>{{ "Élevage" | trans }}</th>
                    <th>{{ "Code" | trans }}</th>
                    <th>{{ "Unité"|trans }}</th>
                    <th>{{ "Poids" | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tblCulture in tblCultures %}
                    <tr class="index-row">
                        <td>
                            <a href="{{ path('references_tblcultures_show', { 'id': tblCulture.id }) }}">
                                <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                            </a>
                            <span>&nbsp;</span>
                            <a href="{{ path('references_tblcultures_edit', { 'id': tblCulture.id }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <span>&nbsp;</span>
                            <span class="hidden">{{ tblCulture.id }}</span>
                        </td>
                        <td>{{ tblCulture.culture }}</td>
                        <td>
                            {% for produit in tblCulture.produits %}
                                <a href="{{ path("references_tblproduits_show", {"id": produit.id}) }}">
                                    {{ produit.produit }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>

                        <td>{{ tblCulture.elevage ? "Oui"|trans : "Non"|trans }}</td>
                        <td>{{ tblCulture.codeCulture }}</td>
                        <td>{{ tblCulture.uniteCulture }}</td>
                        <td>{{ tblCulture.poids }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}