{% extends 'base_references.html.twig' %}

{% block body %}
    <ul class="nav nav-sidebartitle">
        <li>
            <a href="{{ path('references_tblcultures_index') }}">
                {{ 'Retour à la liste des cultures / troupeaux'|trans }}
            </a>
        </li>
    </ul>


    <h1>{{ "Détails culture / troupeau" }} - {{ tblCulture.culture }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Code" | trans }}</th>
                <td>{{ tblCulture.codeCulture }}</td>
            </tr>
            <tr>
                <th>{{ 'Unité'|trans }}</th>
                <td>{{ tblCulture.uniteCulture }}</td>
            </tr>
            <tr>
                <th>{{ "Poids" | trans }}</th>
                <td>{{ tblCulture.poids }}</td>
            </tr>
            <tr>
                <th>{{ "Élevage" | trans }}</th>
                <td>
                    {{ tblCulture.elevage  ? 'Oui'|trans:'Non'|trans  }}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{{ "Liste des produits" }}</h2>

    <table>
        <tbody>
            <tr>
                <th>{{ "Nom" | trans }}</th>
                <th>{{  "Unité" | trans }}</th>
            </tr>
        </tbody>
        <tbody>
            {% for produit in tblCulture.produits %}
            <tr>
                <td><a href="{{ path("references_tblproduits_show", {"id": produit.id}) }}">{{ produit.produit }}</a></td>
                <td>{{ produit.uniteProduit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>{{ "Détails culture / troupeau" }} - {{ tblCulture.culture }}</h1>



    <div>

        <div class="form-group">
            <a href="{{ path('references_tblcultures_edit', { 'id': tblCulture.id }) }}" class="btn btn-primary btn-block" role="button">
                {{ 'Edition'|trans }}
            </a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
