{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblFilieres</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblFiliere.id }}</td>
            </tr>
            <tr>
                <th>Idfiliere</th>
                <td>{{ tblFiliere.idFiliere }}</td>
            </tr>
            <tr>
                <th>Filiere</th>
                <td>{{ tblFiliere.filiere }}</td>
            </tr>
            <tr>
                <th>Animaux</th>
                <td>{{ tblFiliere.animaux }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblFiliere.cdate %}{{ tblFiliere.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblFiliere.udate %}{{ tblFiliere.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblFiliere.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblfilieres_edit', { 'id': tblFiliere.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
