{% extends 'base_references.html.twig' %}

{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblVarieteSemences liste</h1>
    <div>
            <a href="{{ path('references_tblvarietesemences_new') }}" class="btn btn-primary" role="button">Ajouter un élément</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">Actions</th>                        
                    <th>{{ "Nom" | trans }}</th>
                    <th>{{ "Culture" | trans }}</th>
                    <th>{{ "Unité" | trans }}</th>
                    <th>Utilisateur</th>                        
                    <th>Radie</th>
                </tr>
            </thead>
            <tbody>
            {% for tblVarieteSemence in tblVarieteSemences %}
                <tr class="index-row">
                	<td>
                        <a href="{{ path('references_tblvarietesemences_edit', { 'id': tblVarieteSemence.id }) }}">    
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                    </td>
                    <td>{{ tblVarieteSemence.nom }}</td>
                    <td>{{ tblVarieteSemence.culture }}</td>
                    <td>{{ tblVarieteSemence.unite }}</td>
                    <td>{{ tblVarieteSemence.utilisateur }}</td>
                    <td>{% if tblVarieteSemence.radie %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

