{% extends 'base.html.twig' %}

{% block body %}
	<div class="sub-header">
	<h1>AnimauxProduction {{ 'Liste'|trans }}&nbsp;</h1>
    <div>
            <a href="{{ path('references_animauxproduction_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>                        <th>{{ 'Année'|trans }}</th>                        <th>{{ 'Quantité'|trans }}</th>                        <th>Cdate</th>                        <th>Udate</th>                        <th>Utilisateur</th>
                                    </tr>
            </thead>
            <tbody>
            {% for animauxProduction in animauxProductions %}
                <tr class="index-row">
                	<td>                            <a href="{{ path('references_animauxproduction_show', { 'id': animauxProduction.id }) }}">                    			<i class="glyphicon glyphicon-eye-open"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_animauxproduction_edit', { 'id': animauxProduction.id }) }}">                    			<i class="glyphicon glyphicon-pencil"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ animauxProduction.id }}</span>
                    </td>

                    
                    <td>{{ animauxProduction.annee }}</td>
                    <td>{{ animauxProduction.quantite }}</td>
                    <td>{% if animauxProduction.cdate %}{{ animauxProduction.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if animauxProduction.udate %}{{ animauxProduction.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ animauxProduction.utilisateur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

