{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 
{% block subtitle_f2 %} Labour Animaux{% endblock %}
{% block body_f2 %}
    <h1>AnimauxProduction {{ 'Création'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
