{% extends 'base.html.twig' %}

{% block body %}
    <h1>AnimauxProduction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animauxProduction.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ animauxProduction.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantité'|trans }}</th>
                <td>{{ animauxProduction.quantite }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if animauxProduction.cdate %}{{ animauxProduction.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if animauxProduction.udate %}{{ animauxProduction.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ animauxProduction.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_animauxproduction_edit', { 'id': animauxProduction.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
