{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblpente_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblPente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblPente.id }}</td>
            </tr>
            <tr>
                <th>Pente</th>
                <td>{{ tblPente.pente }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblPente.cdate %}{{ tblPente.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblPente.udate %}{{ tblPente.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblPente.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblpente_edit', { 'id': tblPente.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
