{% extends 'base_references.html.twig' %}
 



{% block body_ref %}
    <h1>TblAchatAgricoles {{ 'Edition'|trans }}&nbsp;</h1>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                
                    {{ message|trans({}, 'FOSUserBundle') }}
                
            {% endfor %}
        {% endfor %}
    {% endif %}
    {{ form_end(edit_form) }}
    <div>
        
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
