{% extends 'base_references.html.twig' %}
 



{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblAchatAgricoles {{ 'Liste'|trans }}&nbsp;</h1>		
    <div>
            <a href="{{ path('references_tblachatagricoles_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th>Achat</th>    
                        <th>Typeachat</th>    
                        <th>Cdate</th>    
                        <th>Udate</th>    
                        <th>Utilisateur</th>    
                                    </tr>
            </thead>
            <tbody>
            {% for tblAchatAgricole in tblAchatAgricoles %}
                <tr class="index-row">                
                    <td>                            
                        <a href="{{ path('references_tblachatagricoles_show', { 'id': tblAchatAgricole.id }) }}"> 
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('references_tblachatagricoles_edit', { 'id': tblAchatAgricole.id }) }}">                    		
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>                           
                        </a><span>&nbsp;</span>                        
                        <span class="hidden">{{ tblAchatAgricole.id }}</span> 
                    </td>
    
                        
                    <td>{{ tblAchatAgricole.achat }}</td>    
                    <td>{{ tblAchatAgricole.typeAchat }}</td>    
                    <td>{% if tblAchatAgricole.cdate %}{{ tblAchatAgricole.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                    <td>{% if tblAchatAgricole.udate %}{{ tblAchatAgricole.udate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                    <td>{{ tblAchatAgricole.utilisateur }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

