{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblAchatAgricoles</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblAchatAgricole.id }}</td>
            </tr>
            <tr>
                <th>Achat</th>
                <td>{{ tblAchatAgricole.achat }}</td>
            </tr>
            <tr>
                <th>Typeachat</th>
                <td>{{ tblAchatAgricole.typeAchat }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblAchatAgricole.cdate %}{{ tblAchatAgricole.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblAchatAgricole.udate %}{{ tblAchatAgricole.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblAchatAgricole.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblachatagricoles_edit', { 'id': tblAchatAgricole.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
