// *************
// * Variables *
// *************

// ** Screen size

$small-device-min-width: 641px;
// $medium-device-min-width: 961px;
$large-device-min-width: 1026px;
// $extra-large-device-min-width: 1281px;

// ** Color

$puma-dark-green: #138140;
$puma-light-green: #1ab05b;


 
/* Extra small devices */
@media only screen and (max-width: $small-device-min-width) {
    body {
        background-color: #F5F5F5;
    }

    ul.navbar-nav > li > a {
        font-size: 18px;
    }
}

/* Small + Medium devices */
@media only screen and (min-width: $small-device-min-width) {
    body {
        background-color: #F5F5F5;
    }

    ul.navbar-nav > li > a {
        font-size: 16px;
    }
}
 
/* Large + XLarge devices */
@media only screen and (min-width: $large-device-min-width) {
    body {
        background-color: #F5F5F5;
    }

    ul.navbar-nav > li > a {
        font-size: 14px;
    }
}


div#navbarNavDropdown {
    a#navbarDropdownMenuLink:focus {
        background-color: $puma-light-green;
    }
    
    ul#navbar {
        display: inline-block;
        margin: auto;
    }
    
    div.dropdown-menu li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    div.dropdown-menu {
        margin-top: 5px;
        width:  max-content;
        padding: 5px;
    }
}

ul#navbar {

    ul.navbar-nav {
        padding-left: 5px;
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    
    }
}