{% extends 'base.html.twig' %}



{% block body %}
    <h1>{{ 'Enquête'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Enqueteur'|trans }}</th>
                <td>{{ collecte.enqueteur }}</td>
            </tr>
            <tr>
                <th>{{ 'Date enquete'|trans }}</th>
                <td>{% if collecte.date %}{{ collecte.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Annee enquete'|trans }}</th>
                <td>{{ collecte.anneeEnquete }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_collecte_edit', { 'id': collecte.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
