{% extends 'base_references.html.twig' %}
 



{% block body %}
	<div class="sub-header">
	<h1>TblRapports {{ 'Liste'|trans }}&nbsp;</h1>		
    <div>
            <a href="{{ path('references_tblrapports_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th>Idrapport</th>    
                        <th>Texte</th>    
                        <th>Cdate</th>    
                        <th>Udate</th>    
                                    </tr>
            </thead>
            <tbody>
            {% for tblRapport in tblRapports %}
                <tr class="index-row">                
                	<td>                            <a href="{{ path('references_tblrapports_show', { 'id': tblRapport.id }) }}"> 
                    			<i class="glyphicon glyphicon-eye-open btn btn-default"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_tblrapports_edit', { 'id': tblRapport.id }) }}">                    			<i class="glyphicon glyphicon-pencil btn btn-default"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ tblRapport.id }}</span> 
                    </td>
    
                        
                    <td>{{ tblRapport.idRapport }}</td>    
                    <td>{{ tblRapport.texte }}</td>    
                    <td>{% if tblRapport.cdate %}{{ tblRapport.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                    <td>{% if tblRapport.udate %}{{ tblRapport.udate|date('Y-m-d H:i:s') }}{% endif %}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

