{% extends 'base_references.html.twig' %}
 



{% block body %}
 	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblrapports_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
   <h1>TblRapports</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblRapport.id }}</td>
            </tr>
            <tr>
                <th>Idrapport</th>
                <td>{{ tblRapport.idRapport }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ tblRapport.texte }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblRapport.cdate %}{{ tblRapport.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblRapport.udate %}{{ tblRapport.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblrapports_edit', { 'id': tblRapport.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
