{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblproduitphyto_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblProduitPhyto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblProduitPhyto.id }}</td>
            </tr>
            <tr>
                <th>Phytoname</th>
                <td>{{ tblProduitPhyto.phytoName }}</td>
            </tr>
            <tr>
                <th>Unité</th>
                <td>{{ tblProduitPhyto.unite }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblproduitphyto_edit', { 'id': tblProduitPhyto.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
