{% extends 'base.html.twig' %}
{# Template for displaying data in a table (excel possible to export in excell) #}
{# A form can be added #}
{% if form is not defined %}
   {% set form=null %}
{% endif %}

{% block body_title %}{{ title }}{%endblock %}

{% block body %}
   <div class="navigation_helper">
      {% include 'fil_ariane.html.twig' with {
         'fil_elems': [{
            'url': path('admin_base',{}),
            'name': 'Admin'
         }, {
            'url': '',
            'name': title

         }]}
      %}
   </div>

   <div class="sub-header">
      <div class="pull-xs-right">
         <button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary"
            style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>

   {% if form %}
      {{ form_start(form) }}
   {% endif %}

   <div class="table-responsive">
      <h4>{{ title }}</h4>
         {% if message is defined %}
            <p>{{ message }}</p>
         {% endif %}
      <table id="index-table" class="pagination" number-per-page="5" current-page="0">
         <thead>
            <tr class="index-row">
               <th class="noExcelExport">{{ 'Voir'|trans }}</th>
               {% for column in columns %}
                  <th>{{ column.name | trans }}</th>
               {% endfor %}
               {% if form %}
                  <th class="noExcelExport">{{ "Formulaire" | trans }}</th>
               {% endif %}
            </tr>
         </thead>
         <tbody>
            {% for row_data in row_datas %}
               <tr class="index-row">
                  <td class="noExcelExport"><a href="{{ path('saisie_info_gen_sans_annee', { 'exploitation': row_data.id }) }}">
                     <i class="glyphicon glyphicon-eye-open"></i>
                  </a></td>
                  {% for column in columns %}
                     <td>
                        {% if column.type is defined and column.type == 'bool' %}
                           {{ attribute(row_data, column.ref) ? 'Oui' : 'Non' }}
                        {% else %}
                           {{ attribute(row_data, column.ref) }}
                        {% endif %}
                     </td>
                  {% endfor %}
                  {% if form %}
                     <td class="noExcelExport">
                        {{ form_row(attribute(form, row_data.id)) }}
                     </td>
                  {% endif %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   {% if form %}
      {{ form_row(form.submit) }}
      {{ form_end(form) }}
   {% endif %}
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
   <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
