{% extends 'base.html.twig' %}

{% block body %}
    <div class="navigation_helper">
        {% include 'fil_ariane.html.twig' with {
            'fil_elems': [
                {
                    'url': path('saisie_info_gen_sans_annee',{'exploitation':exploitation.id}),
                    'name': 'Exploitation'|trans ~ ' ' ~ exploitation
                },
                {
                    'url': '',
                    'name': 'Nouvelle collecte (et exercice)' | trans
                }
            ]}
        %}
    </div>
    <h4>
        {{ "Nouvelle collecte (et exercice)" | trans }}
        <img alt="Aide" src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
    </h4>

    <div id="container">
        <div id="help" class="aide" onClick="toggle_visibility();">
            <h5><b>Nouvelle collecte / exercice</b></h5>
            <p>Dans ce formulaire vous devez choisir l'année de l'exercice et le formulaire que vous souhaitez activer</p>
            <p>Vous devez entrer, aussi le nom de l'enquêteur et la date de l'enquête</p>
            <p>A chaque fois que vous voulez activer un formulaire, vous devez venir a ce formulaire.</p>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="{{"Nouvelle collecte" | trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>
{% endblock %}