{% extends 'base.html.twig' %}

{% block body %}
    <div class="navigation_helper">
        {% include 'fil_ariane.html.twig' with {
            'fil_elems': [
                {
                    'url': path('saisie_info_gen_sans_annee',{'exploitation':exploitation.id}),
                    'name': 'Exploitation'|trans ~ ' ' ~ exploitation
                },
                {
                    'url': path('references_parcelles_index',{'annee': annee, 'exploitation':exploitation_id}),
                    'name': "Année " ~ annee | trans
                },
                {
                    'url': path('references_parcelles_index',{'annee': annee, 'exploitation':exploitation_id}),
                    'name': "Fiche F" ~ type ~ "" | trans
                }
            ]}
        %}{#
    {{ dump() }}
        #}
    </div>
    <h4>
        {{ "Modifier l'année d'exercice" | trans }}
    </h4>

    <div id="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="{{"Modifier l'année d'exercice" | trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>
{% endblock %}