{% extends 'base.html.twig' %} 
{% block title %}Test{% endblock %}
 


{% block body %}
	<div id="container">
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}            
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/get_groupement.js') }}"></script>
{% endblock %}


