{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

 


{% block body_title %}{{ "Create QR" | trans }}{% endblock %}

{% block body %}
    <div id="container">
    <div id="my-form">
    <img src="{{ imageQR }}" alt="QR Code" />';   
    </div>
{% endblock %}
