{% extends 'base.html.twig' %}
{% block title %}{{ 'Modifier'|trans }} la localisation{% endblock %}
 

{% block body_title %}
    {{ "Création d'une exploitation" | trans }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock%}
{% block body %}
    <div id="help" width="40%" style="background-color: aquamarine; border:solid red 2px;">
        <h5>{{ "Création d'une exploitation"|trans }}</h5>
        <p>{{ "Ce formulaire est pour établir la localisation geographique de l'exploitation."|trans }}<br>
        {{ "Vous devez choisir une \"province\", une \"commune\" et une \"colline\", avant de passer au formulaire suivant."|trans }}</p>
    </div>
	<div id="container" onClick="toggle_visibility();">
		<div class="alert alert-info" role="alert">
		<i class="glyphicon glyphicon-info-sign"></i>
		{{ "Avant de créer une exploitation, veuillez vérifier que cette exploitation ne se trouve pas déjà dans la base de données." | trans }}<br/>
		{{ "Pour cela, veuillez indiquer, via le formulaire suivant, la localisation de l'exploitation à créer." | trans }}
		</div>
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-success" value="{{ 'Continuer'|trans }}">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('pumastatic/js/localisation.js') }}"></script>
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}
