{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div id="container">
		<h1>{{ title }}</h1>
		<div class="alert alert-info" role="alert">
			<i class="glyphicon glyphicon-info-sign"></i>
			{% if message is defined %}
				{{ message }}
			{% else %}
				{{ "Dans un premier temps, veuillez choisir la coopérative." | trans }}
			{% endif %}
		</div>
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="{{ "Continuer" | trans }}">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('pumastatic/js/get_groupement.js') }}"></script>
{% endblock %}
