{% extends 'base.html.twig' %}
{% block title %}Test{% endblock %}
 

{% block body_title %}
	{{ "Création exploitation" | trans }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock%}


{% block body %}
    <div id="help" width="40%" class="aide">
        <h5><b>{{ "Création d'une exploitation"|trans }}</b></h5>
        <p>{{ "Maintenent, dans le processus de creation d'une exploitation, vous devez choisir la coopérative et groupement aux quelles appartient l'exploitation."|trans }} </p>
        <p>{{ "Les champs \"coopérative\", \"groupement\" et \"année d'adhesion\" sont obligatoires."|trans }}</p>
        <p>{{ "Les champs \"téléphone du répondant\", \"latitude\" et \"longitude\" sont optionnels"|trans }}</p>
    </div>
	<div id="container" onClick="toggle_visibility();">
        <h4>{{ "Pour créer une exploitation vous devez choisir la coopérative et groupement auxquelles appartient l'exploitation"|trans }}</h4>
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
            <input type="hidden" name="localisation" value="{{ localisation }}" />
			<input type="submit" class="btn btn-success" value="{{ 'Continuer'|trans }}">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/get_group.js') }}"></script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}
