{% extends 'base_signaletique.html.twig' %}
{% if objet is defined %}
{% else %}
{% set menu_selected = 'info_gen' %}
{% set exploitation_id = exploitation.id %}
{% endif %}

{% block body_title %}
    <h4>Désigner la localisation où se situe l'exploitation
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img></h4>
{% endblock %}
{% block body_f0 %}
    <div id="help" class="aide">
        <h5><b>Information localisation territorial de l'exploitation</b></h5>
        <p>Vous devez, d'abord, choisir la province, après, la commune et, finalement, vous choisirez la colline </p>
        <p>Quand vous cliquez sur "<b>Enregistrer</b>" le programme vous envoi sur la page "<b>Signalétique de l'exploitation</b>"</p>
    </div>
	<div id="container" onClick="toggle_visibility();">
	    <div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-primary" value="Enregistrer">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('pumastatic/js/get_localisation.js') }}"></script>
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}
