{% extends 'base.html.twig' %}
{% block title %}Test{% endblock %}
 


{% block body %}
	<div id="container">
		<h1>{{ "Parametres pour selectionner liste des exploitations sans " | trans }}{{ 'élément' }}</h1>
		<div class="alert alert-info" role="alert">
			<i class="glyphicon glyphicon-info-sign"></i>
			{{ "Veuillez choisir la coopérative et/ou le groupement sur le lequel faire le listing." | trans }}
		</div>
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="{{ 'Continuer'|trans }}">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/get_organisation.js') }}"></script>
{% endblock %}
