{% extends 'base.html.twig' %} 
{% block title %}Test{% endblock %}
 

{% block body_title %}
	{{ "Modification de l'appartenance" | trans }}
<img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock%}
{% block body %}
    <div id="help" class="aide">
        <h5><b>Modification de l'appartenance</b></h5>
        <p>Dans ce formulaire vous pouvez choisir le groupement, l'année de adhesion et le téléphone </p>
        <p>Le champ téléphone n'est pas obligatoire</p>
    </div>
	<div id="container" onClick="toggle_visibility();">
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}            
            <center><input type="submit" class="btn btn-success" value="{{ 'Continuer'|trans }}"></center>
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/groupadhesiontel.js') }}"></script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}


