{% extends 'base.html.twig' %}
{% block title %}Exploitation de {{ exploitation }}{% endblock %}
 
{% set menu_selected = 'info_gen' %}

{% block body_title %}
    {{ 'Exploitation'|trans }} {{ exploitation }} - {{ "Résumé"  | trans }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock %}

{% block body %}
    <div id="help" class="aide">
        <h5><b>Information général de l'exploitation</b></h5>
        <p>Dans ce page vous avez un résumé de l'exploitation.</p>
        <p>D'abord, un bouton pour accèder à la signalétique de l'exploitation ("<b>Voir la signalétique</b>")</p>
        <p>Plus bàs, vous trouvez le bloque des "Exercices annuels". Avec le bouton "<b>Nouvelle collecte|exercice</b>" vous pouvez créer une nouvelle collecte ou exercice.</p>
        <p>S'il y a d'exercice disponible, vous verrez "Exercice ...(année)" avec une liste des formilaires. Il y aure des formulaires activés et de formulaire desactivés</p>
        <p>Pour activer un formulaire vous devez cliquer sur le bouton "<b>Nouvelle collecte|exercice</b>" et choisir l'année de la collecte, le formulaire à activer, le nom de l'enquêteur et la date de la'enquête.</p>
    </div>
    <div class="navigation_helper">
        {% include 'fil_ariane.html.twig' with {
            'fil_elems': [{
                'url': path('saisie_info_gen_sans_annee',{'exploitation':exploitation_id}),
                'name': 'Exploitation'|trans ~ ' ' ~ exploitation
            }]}
        %}
    </div>


    <div id="container" onClick="toggle_visibility();">
        <h4>{{ "Signalétique de l'exploitation" | trans }}</h4>
        <div>
            <a href="{{path('references_exploitations_show',{'id':exploitation.id, 'annee':annee})}}" class="btn btn-default" role="button">
                {{ "Voir la signaletique" | trans }}
            </a>
        </div>

        <h4>{{ "Exercices annuels" | trans }}</h4>

        <div>
            {{ "Exercices disponibles :" | trans }}

            {% if exploitation.exercices | length == 0 %}
                {{ "Pas d'exercice déclaré" | trans }}
            {% else %}
                {% for exercice in exploitation.exercices %}
                    <a href="#annee_{{ exercice.annee }}">{{ exercice.annee }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            {% endif %}


            <div style="margin-top:1rem;">
                <a href="{{path('saisie_collect_exercice__new',{'exploitation': exploitation.id }) }}" class="btn btn-primary btn-sm" role="button">
                    {{ "Nouvelle Collecte / Exercice" | trans }}
                </a>
            </div>



        </div>


        {% if exploitation.exercices | length == 0 %}
            {{ "Pas d'exercice encodé" | trans }}
        {% endif %}

        {# Sinon list des données encodées #}
        {% for exercice in exploitation.exercices %}
            <h5 id="annee_{{ exercice.annee }}">
                {{ "Exercice %annee_encodage%" | trans({"%annee_encodage%": exercice.annee})  }}
            </h5>

            <div>
                {% set fiches = [
                    {
                        'path': path('saisie_f0_membre',{'annee': exercice.annee, 'id':exploitation.id}),
                        'name': "[F0] Profil de l'exploitation" | trans,
                        'fiche': 0 },
                    {
                        'path': path('saisie_f1_membre',{'annee': exercice.annee, 'id':exploitation.id}),
                        'name': "[F1] Moyens d'exploitation" | trans,
                        'fiche': 1 },
                    {
                        'path': path('references_parcelles_index',{'annee': exercice.annee, 'exploitation':exploitation.id}),
                        'name': "[F2] Parcelles" | trans,
                        'fiche': 2 },
                    {
                        'path': path('references_animaux_index',{'annee': exercice.annee, 'exploitation_id':exploitation.id}),
                        'name': "[F3] Troupeaux" | trans,
                        'fiche': 3 },
                    {
                        'path': path('saisie_f4_membre', {'annee': exercice.annee, 'id':exploitation.id}),
                        'name': "[F4] Crédits" | trans,
                        'fiche': 4 },
                    {
                        'path': path('saisie_f5_membre', {'annee': exercice.annee, 'id':exploitation.id}),
                        'name': "[F5] Compte d'exploitation" | trans,
                        'fiche': 5 },
                    {
                        'path': path('references_exploitationplansaison_index',{'annee':exercice.annee, 'exploitation':exploitation_id}),
                        'name': "[F6] Planification" | trans,
                        'fiche': 6 },

                ] %}

                {% for f in fiches %}
                    {% if exploitation.hasCollecteFor(exercice.annee, f.fiche) %}
                        <a href="{{ f.path }}" class="btn btn-default" role="button">
                          {{ f.name }}
                        </a>
                    {% else %}
                        <div class="btn btn-default disable">
                            {{ f.name }}
                        </div>
                    {% endif %}        
                {% endfor %}


            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('pumastatic/js/saisie_info_gen.js') }}"></script>
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}
