{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
 
{% set menu_selected = 'info_gen' %}

{% block body_title %}{{ 'Erreur Exploitation'|trans }} {% endblock %}

{% block body %}
    

    <div id="container">
        <div class="alert alert-danger">
        <strong>{{ "Attention," | trans }} 
            {{ message }}
        </strong>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('pumastatic/js/saisie_info_gen.js') }}"></script>
{% endblock %}
