{% extends 'base.html.twig' %}
{% block title %}{{ "Ajout d'une exploitation" | trans }}{% endblock %}
 

{% block body_title %}{{ "Création d'une exploitation" | trans }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock %}

{% block body %}
    <div id="help" width="40%" style="background-color: aquamarine; border:solid green 1px; padding-left: 10px;">
        <h5><b>Création d'une exploitation</b></h5>
        <p>Dans le formulaire anterieur vous avez choisi la localisation de l'exploitation. </p>
        <p>Maintenant vous avez une liste "Exploitations existantes", qui vous donne une liste avec les exploitations existants dans la même colline.</p>
        <p>Si vous trouvez l'exploitation à encoder dans la liste, cliquez sur "<b>l'oeil</b>" et modifiez ou ajoutez l'information que vous voulez</p>
        <p>Si vous ne trouvez pas l'exploitation dans la liste, cliquez sur le bouton "<b>Créer une nouvelle exploitation</b>"</p>
    </div>
    <div id="container" onClick="toggle_visibility();">
 
    <div class="alert alert-info" role="alert">
	    <i class="glyphicon glyphicon-info-sign"></i>
        {{ "Veuillez vérifier que l'exploitation que vous voulez créer ne se trouve pas déjà dans la base de données." | trans }}
	</div>

    <h4>{{ "Exploitations existantes" | trans }}</h4>

    {% trans with {"%colline": colline} %}
        Voici la liste des exploitations existantes ayant "%colline%" comme colline.
    {% endtrans %}

    <div class="table-responsive">
        <table id="index-table" class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row">
    			<th>{{ 'Actions'|trans }}</th>
                {% for field in fields %}
                    <th style="padding-left: 10px;">{{ field }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in pagination %}
                    <tr class="index-row">
                    <td style="padding-left: 10px;">
                        <a href="{{ path('references_exploitations_show_sans_annee', { 'id': record.id }) }}">
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                        </a>
                    </td>
                	{% for field in fields %}
                    	<td style="padding-left: 10px;">
                            {% if field=='numeroMembre'%}{{ record[field] | format_num_membre }}
                            {% else %}{{ record[field] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
        {#{ knp_pagination_render(pagination) }#}
        </div>

        <h4>{{ "Créer une nouvelle exploitation" | trans }}</h4>

        <p>{% trans %}
            Si l'exploitation ne se trouve pas dans la liste ci-dessus, veuillez créer une nouvelle exploitation.
        {% endtrans %}</p>
        {% if groupement is defined %}
            <a href="{{ path('saisie_newgetpersonne',{ 'localisation': colline.id, 'groupement':groupement,'anneeAdhesion':anneeAdhesion,'telephone':telephone }) }}" class="btn btn-primary" role="button">
                {{ 'Créer une nouvelle exploitation' | trans }}
            </a>
        {% else %}
            <a href="{{ path('saisie_new_exp_getgroupeandlocalisation',{ 'localisation': colline.id }) }}" class="btn btn-primary" role="button">
            {{ 'Créer une nouvelle exploitation' | trans }}
        </a>
        {% endif %}
        </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    

{% endblock %}
