{% extends 'base.html.twig' %}
{% block title %}Test{% endblock %}
 


{% block body %}
	<div id="container">
        <h4>Pour créer une exploitation vous devez choisir la localisation géographique auxquel appartient l'exploitation</h4>
		<div id="my-form">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
            <input type="hidden" name="groupement" value="{{ groupement }}" />
			<input type="hidden" name="cooperative" value="{{ cooperative }}" />
			<input type="submit" class="btn btn-success" value="{{ 'Continuer'|trans }}">
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('pumastatic/js/locandadhesion.js') }}"></script>
{% endblock %}
