{% extends 'base_F5.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% block title %}membre_f5{% endblock %}
 


{% block body_f0 %}
 	<h4>F5. {{ "COMPTE D'EXPLOITATION"|trans }}</h4>
	<div id="container">

		<div class="table-responsive">
			<table>
				<tr>
					<th colspan="7"><h4>{{ "COMPTE D'EXPLOITATION"|trans }}</h4></th>
				</tr>
				<tr>
					<th class="suivis" colspan="1">{{ 'Libellé'|trans }}</th>
					<th class="suivis">{{ 'Date'|trans }}</th>
					<th class="suivis">{{ 'Unité'|trans }}</th>
					<th class="suivis">{{ 'Quantité'|trans }}</th>
					<th class="suivis">{{ 'Débit'|trans }}</th>
					<th class="suivis">{{ 'Crédits'|trans }}</th>
                                        <th></th>
				</tr>
				<tr>
					<th class="sep" colspan="7"><center><h4>{{ 'Produits'|trans }}</h4></center></th>
				</tr>
				<tr>
					<th class="sep" colspan="6"><h4>{{ 'Ventes de produits agricoles'|trans }}</h4></th>
					<th><a href="{{ path('references_commercialisationproduits_newvente', { 'exploitation_id': exploitation_id, 'annee': annee, 'elevage': 0,'coop_id':coop_id, 'group_id':group_id }) }}" class="btn btn-primary" role="button">
                                           {{ "Nouvelle vente d'un produit agricole"|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for commercialisationVegetale in commercialisationVegetales %}
					<tr class="index-row">
						<td class="suivis" class="suivis" colspan="1">{{commercialisationVegetale.produit}}</td>
						<td class="suivis">{% if commercialisationVegetale.dateExecution %}{{ commercialisationVegetale.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{commercialisationVegetale.unite}}</td>
						<td class="suivis">{{commercialisationVegetale.quantite}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">{{commercialisationVegetale.prixVente}}</td>
						<td class="suivis">
                                                   <a href="{{ path('references_commercialisationproduits_editvente', { 'id': commercialisationVegetale.id, 'elevage': 0,'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ commercialisationVegetale.id }}</span>
                                                </td>
					</tr>
				{% endfor %}
				<tr>
					<th class="sep" colspan="6"><h4>{{ 'Ventes de produits animaux'|trans }}</h4></th>
					<th>
                                            <a href="{{ path('references_commercialisationproduits_newvente', { 'exploitation_id': exploitation_id, 'annee': annee, 'elevage': 1, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                             {{ "Nouvelle vente d'un produit animal"|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for commercialisationAnimale in commercialisationAnimales %}
					<tr class="index-row">
						<td class="suivis" colspan="1S">{{commercialisationAnimale.produit}}</td>
						<td class="suivis">{% if commercialisationAnimale.dateExecution %}{{ commercialisationAnimale.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{commercialisationAnimale.unite}}</td>
						<td class="suivis">{{commercialisationAnimale.quantite}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">{{commercialisationAnimale.prixVente}}</td>
						<td class="suivis">
							<a href="{{ path('references_commercialisationproduits_editvente', { 'id': commercialisationAnimale.id, 'elevage': 1, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ commercialisationAnimale.id }}</span>
                                                </td>
					</tr>
				{% endfor %}
				<tr>
					<th class="sep" colspan="7"><center><h4>{{ 'Charges'|trans }}</h4></center></th>
				</tr>
				<tr>
					<th class="sep" colspan="7"><h4>{{ 'Achats intrants agricoles'|trans }}</h4></th>
				</tr>
				<tr>
					<th colspan="6"><b>{{ 'Location de la terre'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Location de la terre','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouvelle location'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for location in locations %}
					<tr>
						<td class="suivis" colspan="1">{{location.achat}}</td>
						<td class="suivis">{% if location.dateExecution %}{{ location.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{location.unite}}</td>
						<td class="suivis">{{location.quantite}}</td>
						<td class="suivis">{{location.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': location.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ location.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

				<tr>
					<th colspan="6"><b>{{ "Main d'oeuvre"|trans }} {{ 'externe'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Main d oeuvre externe','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouvelle'|trans }}{{ "Main d'oeuvre"|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for main in mains %}
                                    <tr>
                                        <td class="suivis" colspan="1">{{main.achat}}</td>
                                        <td class="suivis">{% if main.dateExecution %}{{ main.dateExecution|date('d-m-Y') }}{% endif %}</td>
                                        <td class="suivis">{{main.unite}}</td>
                                        <td class="suivis">{{main.quantite}}</td>
                                        <td class="suivis">{{main.valeur}}</td>
                                        <td class="suivis" bgcolor="#888"></td>
                                        <td class="suivis">
                                            <a href="{{ path('references_exploitationcharges_edit', { 'id': main.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                                <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
                                                <span></span>
                                                <span class="hidden">{{ main.id }}</span>
                                        </td>
                                    </tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Semences'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Semences','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'achat'|trans }} a{{'Semences'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for semence in semences %}
					<tr>
						<td class="suivis" colspan="1">{{semence.achat}}</td>
						<td class="suivis">{% if semence.dateExecution %}{{ semence.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{semence.unite}}</td>
						<td class="suivis">{{semence.quantite}}</td>
						<td class="suivis">{{semence.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    	<a href="{{ path('references_exploitationcharges_edit', { 'id': semence.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ semence.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Compost-Fumier-Fiente'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'typevente': 'Compost-Fumier-Fiente','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau achat Compost'|trans }}
                                             </a>
                                        </th>
				</tr>
				{% for composte in compostes %}
					<tr>
						<td class="suivis" colspan="1">{{composte.achat}}</td>
						<td class="suivis">{% if composte.dateExecution %}{{ composte.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{composte.unite}}</td>
						<td class="suivis">{{composte.quantite}}</td>
						<td class="suivis">{{composte.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': composte.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ composte.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Chaux'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Chaux','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'Chaux'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for chau in chaus %}
					<tr>
						<td class="suivis" colspan="1">{{chau.achat}}</td>
						<td class="suivis">{% if chau.dateExecution %}{{ chau.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{chau.unite}}</td>
						<td class="suivis">{{chau.quantite}}</td>
						<td class="suivis">{{chau.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
						<a href="{{ path('references_exploitationcharges_edit', { 'id': chau.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                                    <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
                                                    <span></span>
                                                    <span class="hidden">{{ chau.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Urée'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Urée','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'Urée'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for uree in urees %}
					<tr>
						<td class="suivis" colspan="1">{{uree.achat}}</td>
						<td class="suivis">{% if uree.dateExecution %}{{ uree.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{uree.unite}}</td>
						<td class="suivis">{{uree.quantite}}</td>
						<td class="suivis">{{uree.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': uree.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                                        <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
                                                    <span></span>
                                                    <span class="hidden">{{ uree.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'DAP'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'DAP','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee}) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'DAP'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for dap in daps %}
					<tr>
						<td class="suivis" colspan="1">{{dap.achat}}</td>
						<td class="suivis">{% if dap.dateExecution %}{{ dap.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{dap.unite}}</td>
						<td class="suivis">{{dap.quantite}}</td>
						<td class="suivis">{{dap.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': dap.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ dap.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'KCI'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'KCI','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id }) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'KCI'|trans }}
                                             </a>
                                        </th>
				</tr>
				{% for kci in kcis %}
					<tr>
						<td class="suivis" colspan="1">{{kci.achat}}</td>
						<td class="suivis">{% if kci.dateExecution %}{{ kci.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{kci.unite}}</td>
						<td class="suivis">{{kci.quantite}}</td>
						<td class="suivis">{{kci.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
						<a href="{{ path('references_exploitationcharges_edit', { 'id': kci.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                                    <i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
                                                    <span></span>
                                                    <span class="hidden">{{ kci.id }}</span>
                                            </td>
					</tr>
				{% endfor%}
				<tr>
                                    <th colspan="6"><b>{{ 'NPK'|trans }}</b></th>
                                    <th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'NPK','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id }) }}" class="btn btn-primary" role="button">
                                            {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'NPK'|trans }}
                                         </a>
                                    </th>
				</tr>
				{% for npk in npks %}
					<tr>
						<td class="suivis" colspan="1">{{npk.achat}}</td>
						<td class="suivis">{% if npk.dateExecution %}{{ npk.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{npk.unite}}</td>
						<td class="suivis">{{npk.quantite}}</td>
						<td class="suivis">{{npk.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': npk.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ npk.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Herbicides'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Herbicides','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'Herbicides'|trans }}
                        </a>
                    </th>
				</tr>
				{% for herbicide in herbicides %}
					<tr>
						<td class="suivis" colspan="1">{{herbicide.achat}}</td>
						<td class="suivis">{% if herbicide.dateExecution %}{{ herbicide.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{herbicide.unite}}</td>
						<td class="suivis">{{herbicide.quantite}}</td>
						<td class="suivis">{{herbicide.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': herbicide.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ herbicide.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Phytos'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Phytos','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'Phytos'|trans }}
                        </a>
                    </th>
				</tr>
				{% for phyto in phytos %}
					<tr>
						<td class="suivis" colspan="1">{{phyto.achat}}</td>
						<td class="suivis">{% if phyto.dateExecution %}{{ phyto.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{phyto.unite}}</td>
						<td class="suivis">{{phyto.quantite}}</td>
						<td class="suivis">{{phyto.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': phyto.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ phyto.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Transport'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Transport','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id }) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Transport'|trans }}
                        </a>
                    </th>
				</tr>
				{% for transportintrant in transportintrants %}
					<tr>
						<td class="suivis" colspan="1">{{transportintrant.achat}}</td>
						<td class="suivis">{% if transportintrant.dateExecution %}{{ transportintrant.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{transportintrant.unite}}</td>
						<td class="suivis">{{transportintrant.quantite}}</td>
						<td class="suivis">{{transportintrant.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': transportintrant.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ transportintrant.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Emballage'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Emballage','culture':'agricole', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Emballage'|trans }}
                        </a>
                    </th>
				</tr>
				{% for emballage in emballages %}
					<tr>
						<td class="suivis" colspan="1">{{emballage.achat}}</td>
						<td class="suivis">{% if emballage.dateExecution %}{{ emballage.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{emballage.unite}}</td>
						<td class="suivis">{{emballage.quantite}}</td>
						<td class="suivis">{{emballage.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': emballage.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ emballage.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th class="sep" colspan="7"><h4>{{ 'Achats'|trans }} {{ 'intrants élévage'|trans }}</h4></th>
				</tr>
				<tr>
					<th colspan="6"><b>{{ "Main d'oeuvre"|trans }} {{ 'externe'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Main d oeuvre externe','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Achats'|trans }} {{ 'intrants élévage'|trans }}
                        </a>
                    </th>
				</tr>
				{% for mainintrant in mainintrants %}
					<tr>
						<td class="suivis" colspan="1">{{mainintrant.achat}}</td>
						<td class="suivis">{% if mainintrant.dateExecution %}{{ mainintrant.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{mainintrant.unite}}</td>
						<td class="suivis">{{mainintrant.quantite}}</td>
						<td class="suivis">{{mainintrant.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': mainintrant.id,'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ mainintrant.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
				<tr>
					<th colspan="6"><b>{{ 'Animaux'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Animaux','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                                                {{ 'Nouveau'|trans }} {{ 'Animaux'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for animale in animales %}
					<tr>
						<td class="suivis" colspan="1">{{animale.achat}}</td>
						<td class="suivis">{% if animale.dateExecution %}{{ animale.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{animale.unite}}</td>
						<td class="suivis">{{animale.quantite}}</td>
						<td class="suivis">{{animale.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': animale.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ animale.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

				<tr>
					<th colspan="6"><b>{{ 'Achat aliments animaux'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Achat aliments animaux','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'achat'|trans }} {{ 'aliments animaux'|trans }}
                        </a>
                    </th>
				</tr>
				{% for aliment in aliments %}
					<tr>
						<td class="suivis" colspan="1">{{aliment.achat}}</td>
						<td class="suivis">{% if aliment.dateExecution %}{{ aliment.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{aliment.unite}}</td>
						<td class="suivis">{{aliment.quantite}}</td>
						<td class="suivis">{{aliment.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': aliment.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ aliment.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

				<tr>
					<th colspan="6"><b>{{ 'Produits vétérinaire'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Produits vétérinaire','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Produits vétérinaire'|trans }}
                        </a>
                    </th>
				</tr>
				{% for produitvete in produitvetes %}
					<tr>
						<td class="suivis" colspan="1">{{produitvete.achat}}</td>
						<td class="suivis">{% if produitvete.dateExecution %}{{ produitvete.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{produitvete.unite}}</td>
						<td class="suivis">{{produitvete.quantite}}</td>
						<td class="suivis">{{produitvete.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': produitvete.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ produitvete.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

				<tr>
					<th colspan="6"><b>{{ 'Service vétérinaire'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Service vétérinaire','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Service vétérinaire'|trans }}
                        </a>
                    </th>
				</tr>
				{% for servicevete in servicevetes %}
					<tr>
						<td class="suivis" colspan="1">{{servicevete.achat}}</td>
						<td class="suivis">{% if servicevete.dateExecution %}{{ servicevete.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{servicevete.unite}}</td>
						<td class="suivis">{{servicevete.quantite}}</td>
						<td class="suivis">{{servicevete.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': servicevete.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ servicevete.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

				<tr>
					<th colspan="6"><b>{{ 'Transport'|trans }}</b></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Transport','culture':'elevage', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Transport'|trans }}
                        </a>
                    </th>
				</tr>
				{% for transportanimale in transportanimales %}
					<tr>
						<td class="suivis" colspan="1">{{transportanimale.achat}}</td>
						<td class="suivis">{% if transportanimale.dateExecution %}{{ transportanimale.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{transportanimale.unite}}</td>
						<td class="suivis">{{transportanimale.quantite}}</td>
						<td class="suivis">{{transportanimale.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': transportanimale.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ transportanimale.id }}</span>
                                                </td>
					</tr>
				{% endfor%}
                                        <tr>
					<th class="sep" colspan="6"><h4>
                            {{ 'Achat/réparation matériel et outils'|trans }}
                                            </h4>
                                        </th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Achat/réparation matériel et outils','culture':'materiel', 'coop_id':coop_id, 'group_id':group_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                                             {{ 'Nouveau'|trans }} {{ 'Achat/réparation matériel et outils'|trans }}
                                            </a>
                                        </th>
				</tr>
				{% for materiel in materiels %}
					<tr>
						<td class="suivis" colspan="1">{{materiel.achat}}</td>
						<td class="suivis">{% if materiel.dateExecution %}{{ materiel.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{materiel.unite}}</td>
						<td class="suivis">{{materiel.quantite}}</td>
						<td class="suivis">{{materiel.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                   <a href="{{ path('references_exploitationcharges_edit', { 'id': materiel.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
							<i class="glyphicon glyphicon-pencil  btn btn-default"></i></a>
							<span></span>
							<span class="hidden">{{ materiel.id }}</span>
                                                </td>
					</tr>
				{% endfor%}

                                            <tr>
                                                <th class="sep" colspan="6">
                        <h4>{{ 'Intérêts'|trans }}</h4></th>
					<th><a href="{{ path('references_exploitationcharges_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'typevente': 'Intérêts','culture':'Interets', 'coop_id':coop_id, 'group_id':group_id}) }}" class="btn btn-primary" role="button">
                            {{ 'Nouveau'|trans }} {{ 'Intérêts'|trans }}
                        </a>
                    </th>
				</tr>
				{% for interet in interets %}
					<tr>
						<td class="suivis" colspan="1">{{interet.achat}}</td>
						<td class="suivis">{% if interet.dateExecution %}{{ interet.dateExecution|date('d-m-Y') }}{% endif %}</td>
						<td class="suivis">{{interet.unite}}</td>
						<td class="suivis">{{interet.quantite}}</td>
						<td class="suivis">{{interet.valeur}}</td>
						<td class="suivis" bgcolor="#888"></td>
						<td class="suivis">
                                                    <a href="{{ path('references_exploitationcharges_edit', { 'id': interet.id, 'coop_id':coop_id, 'group_id':group_id, 'annee':annee, 'exploitation_id': exploitation_id }) }}">
                                                        <i class="glyphicon glyphicon-pencil  btn btn-default"></i>
                                                    </a>
							<span></span>
							<span class="hidden"> {{ interet.id }} </span>
                                                </td>
					</tr>
				{% endfor%}


                                </tbody>
                            </table>
                </div>                    
{% endblock %}
{% block javascripts %}
{% endblock %}
