{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}
 

{% block body_title %}
   {{ "Profil de l'exploitation" | trans }}
{% endblock %}

{% block body_f0 %}
   <div class="sub-header">
      <h4>05. {{ "Niveau d'études" | trans }}</h4>
      <table class="data table-striped">
          <tr>
              <th colspan="2" class="title">
                  <span style="font-style:italic; color: rgb(0,0,255);">{{ "Scolarisation des enfants"|trans }}</span>
              </th>
              <th class="suivis">
                 <a href="{{ path('references_enfantsscolarisation_edit', {'id': exploitation.id, 'returnPath': app.request.requesturi, 'exploitation':exploitation, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                 </a>
              </th>
          </tr>
          <tr>
            <th class="suivis" colspan="2">{{ "Filles scolarisées" | trans }}</th>
               <td class="suivis">
                  {% if  exploitation.fillesscolarisess is null %} 
                    {{ "Non encodé"|trans }}
                  {% else %}
                    {{ exploitation.fillesscolarisess }}
                  {% endif %}
               </td>
            </tr> 
          <tr>
            <th class="suivis" colspan="2">{{ "Fils scolarisés" | trans }}</th>
            <td class="suivis">
                  {% if  exploitation.filsscolarises is null %} 
                    {{ "Non encodé"|trans }}
                  {% else %}
                    {{ exploitation.filsscolarises }}
                  {% endif %}
            </td>
         </tr> 
      </table>
      {% for personne in exploitation.personnes %}
         <table class="data table-striped">
            <tr>
               <th colspan="2" class="title">
                  <span style="font-style:italic; color: rgb(0,0,255);">{{ personne.prenom }}&nbsp;{{ personne.nom }}</span>
               </th>
               {% set annee = annee %}
               {% set pers_det = personne.getDetailsFor(annee) %}
               <th class="suivis">

                  {% if pers_det is defined and pers_det is not null %}
                     <a href="{{ path('references_personnedetails_edit', {'id': pers_det.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  {% else %}
                     {% if personne is not null %}
                        <a href="{{ path('references_personnedetails_new', { 'personne': personne.id,'annee':annee , 'exploitation_id':exploitation_id }) }}">
                           <i class="glyphicon glyphicon-import" alt="Entrer les données"></i>
                        </a><span></span>
                     {% endif %}
                  {% endif %}
               </th>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Kirundi lire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.kirundiLire) }}
                  {% endif%}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Kirundi écrire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.kirundiEcrire) }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Francais lire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.francaisLire) }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Francais écrire" | trans }} </th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.francaisEcrire) }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan=3>
                  <center>
                     {{ "Niveau études" | trans }}
                  </center>
               </th>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Primaire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.primaire) }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Secondaire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.yesNoUndefinedInStr(pers_det.secondaire) }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan=2>{{ "Diplôme" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.getDiplomeInString() }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Domaine" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.domaine }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan=3>
                  <center>
                     {{ "Professions" | trans }}
                  </center>
               </th>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Profession principale" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.professionPrincipale }}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th class="suivis" colspan="2">{{ "Profession Secondaire" | trans }}</th>
               <td class="suivis">
                  {% if pers_det is defined and pers_det is not null %}
                     {{ pers_det.professionSecondaire }}
                  {% endif %}
               </td>
            </tr>
         </table>
      {% endfor %}
   </div>

   <h4 class="suivi">06. {{ "Revenus et dépenses" | trans }}</h4>
   <!-- reviser les champs -->
   <h4 class="suivi">0621. {{ "Main d'oeuvre"|trans }} {{ 'familiale'|trans }} {{ "qui travaille hors l'exploitation" | trans }}</h4>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Membres" | trans }}</th>
               <th class="suivis">{{ "Type de travail" | trans }}</th>
               <th class="suivis">{{ "Lieu" | trans }}</th>
               <th class="suivis">{{ "Revenu" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for moFamilialeExterne in moFamilialeExternes %}
               <tr class="index-row">
                  <td class="suivis">
                     <a href="{{ path('references_mofamilialeexterne_edit', { 'id': moFamilialeExterne.id, 'exploitation_id':exploitation_id,'annee':annee}) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a><span></span>
                     <span class="hidden">{{ moFamilialeExterne.id }}</span>
                  </td>
                  <td class="suivis">{{ moFamilialeExterne.membres }}</td>
                  <td class="suivis">{{ moFamilialeExterne.typeTravail }}</td>
                  <td class="suivis">{{ moFamilialeExterne.lieu }}</td>
                  <td class="suivis">{{ moFamilialeExterne.revenu }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <a class="nouveau btn btn-primary btn-xs" href="{{ path('references_mofamilialeexterne_new',{'exploitation':exploitation_id, 'annee':annee }) }}" role="button">
         {{ 'Nouvelle'|trans }} {{ 'Main d\'oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'qui travaille hors l\'exploitation'|trans }}
      </a>
   </div>
 	<div class="sub-header">
      <h4>
         0622. {{ "Main d'oeuvre"|trans }} {{ 'familiale'|trans }} {{ 'utilisée sur l\'exploitation'|trans }} ({{ 'Agriculture, élevage'|trans }})
      </h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Membres" | trans }}</th>
               <th class="suivis">{{ "Nombre de jours par an" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for moFamilialeInterne in moFamilialeInternes %}
               <tr class="index-row">
                	<td class="suivis">
                     <a href="{{ path('references_mofamilialeinterne_edit', {'id': moFamilialeInterne.id,'annee':annee , 'exploitation_id':exploitation_id}) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ moFamilialeInterne.membres }}</td>
                  <td class="suivis">{{ moFamilialeInterne.joursAn }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <a href="{{ path('references_mofamilialeinterne_new',{'exploitation':exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-xs nouveau" role="button">
      {{ 'Nouvelle'|trans }} {{  'Main d\'oeuvre'|trans }} {{ 'familiale' | trans }}</a>


   <div class="sub-header">
      <h4>061. {{ "Dépenses du ménage" | trans }}</h4>
   </div>

   <div>
      <table class="table-striped tablesorter">
          <tr>
              <th class="suivis">Type de depense </th>
              <th class="suivis">Depense (Fbu/an)</th>
              <th class="suivis">&nbsp;</th>
          </tr> 
         {% for depense in depenses %}
            <tr class="index-row">
               <td class="suivis">{{ depense.typeDepense }}</td>
               <td class="suivis">{{ depense.depense }}</td>
               <td class="suivis">
                  <a href="{{ path('references_depensesmenage_edit', {'id': depense.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                     <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                  </a>
               </td>
            </tr>
         {% endfor %}
      </table>
      <a href="{{ path('references_depensesmenage_new',{'exploitation':exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle dépense" | trans }}
      </a>
   </div>
   <div class="sub-header">
      <h4>{{ "Evaluation l'endettement en cours" | trans }}</h4>
      <h4>0651. {{ "Montant contracté au cours de l\'année pour acheter des intrants agricole" | trans }}</h4>
   </div>

   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Crédit intrants demande" | trans }}</th>
               <th class="suivis">{{ "Type de créancier" | trans }}</th>
            </tr>
         </thead>

         <tbody>
            {% for dettes_intrant in dettes_intrants %}
               <tr class="index-row">
                  <td class="suivis">
                     <a href="{{ path('references_dettes_edit', {'id': dettes_intrant.id, 'annee':annee , 'exploitation_id':exploitation_id, 'autre':'intrants' }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
    		         <td class="suivis">{{ dettes_intrant.creditIntrantsDemande }}</td>
                  <td class="suivis">{{ dettes_intrant.typeCreancier }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <a href="{{ path('references_dettes_new',{'exploitation_id':exploitation_id, 'annee':annee,'autre':'intrants' }) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle dette contractée" | trans }}
      </a>
   </div>

 	<div class="sub-header">
      <h4>0652. {{ "Montant contracté au cours de l'année pour acheter des produits de consommation" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Credits consomation demandé" | trans }}</th>
               <th class="suivis">{{ "Type de creancier" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for dettes_consommation in dettes_consommations %}
               <tr class="index-row">
                	<td class="suivis">
					      <a href="{{ path('references_dettes_edit', { 'id': dettes_consommation.id, 'annee':annee , 'exploitation_id':exploitation_id, 'autre':'consommation' }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
    		         <td class="suivis">{{ dettes_consommation.valeurCredit }}</td>
                  <td class="suivis">{{ dettes_consommation.typeCreancier }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <a href="{{ path('references_dettes_new', {'exploitation_id':exploitation_id, 'annee':annee,'autre':'consommation'}) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle dette consommation" | trans }}
      </a>
   </div>

 	<div class="sub-header">
      <h4>07. {{ "Sécurité ou et insécurité alimentaire des ménages" | trans }}</h4>
   </div>

   <div>
      {% for securiteAlimentaire in securiteAlimentaires %}
         <table id="index-table" class="data">
            <tbody>
               <tr class="index-row">
                  <td class="suivis"></td>
                  <td class="suivis">
					      <a href="{{ path('references_securitealimentaire_edit', { 'id': securiteAlimentaire.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
<                  </td>
               </tr>
               <tr>
                  <th class="suivis">{{ "Nombre de repas pris par jour durant les saisons de culture:" | trans }}</th>
                  <td class="suivis">{{ securiteAlimentaire.repasCulture }}</td>
               </tr>
               <tr>
                  <th class="suivis">{{ "Nombre de repas pris par jour en période en post culture:" | trans }}</th>
                  <td class="suivis">{{ securiteAlimentaire.repasPostRecolte }}</td>
               </tr>
               <tr>
                  <th class="suivis">{{ "Nombre d'enfants présentant des signes de malnutrition:" | trans }}</th>
                  <td class="suivis">{{ securiteAlimentaire.enfantsMalnutrition }}</td>
               </tr>
            </tbody>
         </table>
      {% endfor %}

      <a href="{{ path('references_securitealimentaire_new',{'exploitation_id':exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvel encodage sécurité ou insécurité alimentaire" | trans }}
      </a>
   </div>
 	<div class="sub-header">
      <h4>638. {{ "Formations dont un co-exploitant a beneficié" | trans }}</h4>
 	</div>
   <div class="table-responsive">
      <table id="index-table" class="tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Thèmes de formation" | trans }}</td>
               <th class="suivis">{{ "Année formation" | trans }}</th>
               <th class="suivis">{{ "Bénéficiaire" | trans }}</th>
               <th class="suivis">{{ "Niveau d'utilité" | trans }}</td>
               <th class="suivis">{{ "Organisateur" | trans }}</td>
            </tr>
         </thead>

         <tbody>
            {% for formationsRecu in formationsRecus %}
               <tr class="index-row">
                  <td class="suivis">
                    <a href="{{ path('references_formationsrecu_edit', { 'id': formationsRecu.id  }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                    </a><span></span>
                  </td>
                  <td class="suivis">{{ formationsRecu.theme }}</td>
                  <td class="suivis">{{ formationsRecu.anneeFormation }}</td>
                  <td class="suivis">{% for b in formationsRecu.beneficiaires %}
                                            {{ b }}{% if not loop.last %}<br /> {% endif %}
                                     {% endfor %}      
                  </td>
                  <td class="suivis">{{ formationsRecu.niveauUtilite }}</td>
                  <td class="suivis">{{ formationsRecu.organisateur }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <a href="{{ path('references_formationsrecu_new',{ 'exploitation':exploitation_id, 'annee':annee}) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle formation complémentaire" | trans }}
      </a>
   </div>
 	<div class="sub-header">
      <h4>9638. {{ "Formations dont un co-exploitant a besoin" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Thème de formation" | trans }}</td>
               <th class="suivis">{{ "Priorité" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for formationsBesoin in formationsBesoins %}
               <tr class="index-row">
                  <td class="suivis">
                     <a href="{{ path('references_formationsbesoin_edit', { 'id': formationsBesoin.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ formationsBesoin.formation }}</td>
                  <td class="suivis">{{formationsBesoin.priorite}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <a href="{{ path('references_formationsbesoin_new', {'exploitation':exploitation_id, 'annee':annee}) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle besoin de formation" | trans }}
      </a>
   </div>

   <div class="sub-header">
      <h4>90. {{ "Les contraintes majeures au développement des activités" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Priorité" | trans }}</th>
               <th class="suivis">{{ "Contrainte" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for contraintesDeveloppement in contraintesDeveloppements %}
               <tr class="index-row">
                	<td class="suivis">
                     <a href="{{ path('references_contraintesdeveloppement_edit', { 'id': contraintesDeveloppement.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ contraintesDeveloppement.annee }}</td>
                  <td class="suivis">{{ contraintesDeveloppement.priorite }}</td>
                  <td class="suivis">{{ contraintesDeveloppement.contrainte }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_contraintesdeveloppement_new',{ 'exploitation':exploitation_id , 'annee':annee}) }}" class="btn btn-primary btn-xs nouveau" role="button">{{ "Nouvelle contrainte au développement" | trans }}</a>
   </div>
   <div class="sub-header">
      <h4>9639. {{ "Services dont un co-exploitant a besoin" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Service" | trans }}</th>
               <th class="suivis">{{ "Priorité" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for servicesBesoin in servicesBesoins %}
               <tr class="index-row">
                  <td class="suivis">
                     <a href="{{ path('references_servicesbesoin_edit', { 'id': servicesBesoin.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ servicesBesoin.annee }}</td>
                  <td class="suivis">{{ servicesBesoin.service }}</td>
                  <td class="suivis">{{ servicesBesoin.priorite }}</td>
                </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_servicesbesoin_new',{ 'exploitation':exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-xs" role="button">{{ "Nouveau service" | trans }}</a>
   </div>

 	<div class="sub-header">
      <h4>381. {{ "Commercialisation warranté" | trans }}
  	</div>

   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Produit" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue coopérative (kg)" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue autres marchés (kg)" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for warrante in warrantes %}
               <tr class="index-row">
                	<td class="suivis">
                     <a href="{{ path('references_commercialisationproduits_edit', { 'id': warrante.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ warrante.annee }}</td>
                  <td class="suivis">{{ warrante.produit }}</td>
                  <td class="suivis">{{ warrante.quantite }}</td>
                  <td class="suivis">{{ warrante.quantiteCapad }}</td>
                </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_commercialisationproduits_new', {'exploitation':exploitation_id, 'annee':annee, 'type': type_commercialisation['warrante'][0].id }) }}" class="btn btn-primary btn-xs" role="button">
         {{ "Nouvelle commercialisation warranté" | trans }}
      </a>
   </div>

   <div class="sub-header">
      <h4>382. {{ "Commercialisation en vente groupée" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Produit" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue coopérative (kg)" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue autres marchés (kg)" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for groupe in groupes %}
               <tr class="index-row">
                	<td class="suivis">
                     <a href="{{ path('references_commercialisationproduits_edit', { 'id': groupe.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ groupe.annee }}</td>
                  <td class="suivis">{{ groupe.produit }}</td>
                  <td class="suivis">{{ groupe.quantite }}</td>
                  <td class="suivis">{{ groupe.quantiteCapad }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_commercialisationproduits_new', { 'exploitation':exploitation_id,  'annee':annee, 'type': type_commercialisation['vente groupe'][0].id }) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle commercialisation en vente groupée" | trans }}
      </a>
   </div>
 	<div class="sub-header">
      <h4>383. {{ "Commercialisation des produits transformés" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Produit" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue coopérative (kg)" | trans }}</th>
               <th class="suivis">{{ "Quantité vendue autres marchés (kg)" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for transforme in transformes %}
               <tr class="index-row">
                  <td class="suivis">
					      <a href="{{ path('references_commercialisationproduits_edit', { 'id': transforme.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>
                  <td class="suivis">{{ transforme.annee }}</td>
                  <td class="suivis">{{ transforme.produit }}</td>
                  <td class="suivis">{{ transforme.quantite }}</td>
                  <td class="suivis">{{ transforme.quantiteCapad }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_commercialisationproduits_new', { 'exploitation':exploitation_id, 'annee':annee, 'type': type_commercialisation['transforme'][0].id  }) }}" class="btn btn-primary btn-xs nouveau" role="button">
         {{ "Nouvelle commercialisation des produits transformés" | trans }}
      </a>
   </div>

   <div class="sub-header">
      <h4>9221. {{ "Type d'habitat" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Année" | trans }}</th>
               <th class="suivis">{{ "Mur" | trans }}</th>
               <th class="suivis">{{ "Toiture" | trans }}</th>
               <th class="suivis">{{ "Nombre pieces" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for habitat in habitats %}
                <tr class="index-row">
                	<td class="suivis">
                     <a href="{{ path('references_habitat_edit', { 'id': habitat.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>

                  <td class="suivis">{{ habitat.annee }}</td>
                  <td class="suivis">
                     {% if habitat.mur==1 %}{{ "Mur pisé" | trans }}
                     {% elseif habitat.mur==2 %}{{ "Adobe" | trans }}
                     {% elseif habitat.mur==3 %}{{ "Brique cuite" | trans }}
                     {%else %}-{% endif %}
                  </td>
                  <td class="suivis">
                     {% if habitat.toiture==1 %}{{ "Paille" | trans }}
                     {% elseif habitat.toiture==2 %}{{ "Tuile" | trans }}
                     {% elseif habitat.toiture==3 %}{{ "Tôle" | trans }}
                     {%else %}-{% endif %}
                  </td>
                  <td class="suivis">{{ habitat.nombrePieces }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      {% if habitats|length > 0 %}
      {% else %}
        <a href="{{ path('references_habitat_new',{'exploitation_id':exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-xs" role="button">{{ "Nouvel habitat" | trans }}</a>
      {% endif %}
   </div>
   <div class="sub-header">
      <h4>639. {{ "Cotisations" | trans }}</h4>
   </div>
   <div class="table-responsive">
      <table id="index-table" class="table-striped tablesorter">
         <thead>
            <tr>
               <th class="filter-false tablesorter-noSort"></th>
               <th class="suivis">{{ "Payé régulierement" | trans }}</th>
               <th class="suivis">{{ "Solde Payé l'année passé (n-1) (BIF)" | trans }}</th>
               <th class="suivis">{{ "Solde des cotisations dues (BIF)" | trans }}</th>
            </tr>
         </thead>
         <tbody>
            {% for cotisation in cotisations %}
               <tr class="index-row">
                  <td class="suivis">
                     <a href="{{ path('references_cotisations_edit', { 'id': cotisation.id, 'annee':annee , 'exploitation_id':exploitation_id }) }}">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                     </a>
                  </td>

                  <td class="suivis">
                     {% if cotisation.payeRegulierement==true %}
                        {{ "OUI" | trans }}
                     {% else %}
                        {{ "NON" | trans }}
                     {% endif %}
                  </td>
                  <td class="suivis">{{ cotisation.payeAnnee }}</td>
                  <td class="suivis">{{ cotisation.cotisationsImpaye }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <a href="{{ path('references_cotisations_new',{'pivot': pivot,'annee':annee }) }}" class="btn btn-primary btn-xs" role="button">
         {{ "Nouvelle cotisation" | trans }}
      </a>
   </div>
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
   <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
