{% extends 'base_F1.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% block title %}membre_f1{% endblock %}
 


{% block body_f1 %}
    <h4>F1. {{ "Moyens d'exploitation" | trans }}</h4>
    <h4>
        221. {{ "Bâtiments (hangar, étables)" | trans }}
        <a href="{{ path('references_batiments_new', {'exploitation': exploitation_id, 'annee': annee }) }}" class="btn btn-primary pull-right" role="button">
            {{ 'Nouveau bâtiment'|trans }}
        </a>
    </h4>
    <div id="container">
        <div class="table-responsive">
            <table id="index-table" class="tablesorter">
                <thead>
                    <tr>
                        <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                        <th class="suivis">{{ "Type" | trans }}</th>
                        <th class="suivis">{{ "Coût de construction (FBu)" | trans}}</th>
                        <th class="suivis">{{ "Surface (m2)" | trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batiment in batiments %}
                        <tr class="index-row">
                            <td>
                                <a href="{{ path('references_batiments_edit', { 'id': batiment.id, 'exploitation_id': exploitation_id, 'annee': annee }) }}">
                                    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                </a>
                                <span>&nbsp;</span>
                                <span class="hidden">{{ batiment.id }}</span>
                            </td>
                            <td class="suivis">{{ batiment.type }}</td>
                            <td class="suivis">{{ batiment.coutConstruction }}</td>
                            <td class="suivis">{{ batiment.surface }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h4>
        2251. {{ "Moyens de transport / traction" }}
        <a href="{{ path('references_moyenstransport_new', { 'exploitation_id': exploitation_id, 'annee': annee }) }}" class="btn btn-primary pull-right" role="button">
            {{ 'Nouveau moyen de transport / traction'|trans }}
        </a>
    </h4>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th class="suivis">Type</th>
                    <th class="suivis">Nombre</th>
               </tr>
            </thead>
            <tbody>
                {% for moyen in moyenstransport %}
                    <tr class="index-row">
                	   <td>
                            <a href="{{ path('references_moyenstransport_edit', { 'id': moyen.id, 'exploitation_id': exploitation_id, 'annee': annee }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <span>&nbsp;</span>
                            <span class="hidden">{{ moyen.id }}</span>
                        </td>
                        <td class="suivis">{{ moyen.type }}</td>
                        <td class="suivis">{{ moyen.quantite }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h4>
        2252. {{ "Outillage" | trans }}
        <a href="{{ path('references_outillage_new', {'exploitation_id': exploitation_id, 'annee': annee }) }}" class="btn btn-primary pull-right" role="button">
            {{ 'Nouvel outillage'|trans }}
        </a>
    </h4>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th class="suivis">Type</th>
                    <th class="suivis">Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for outil in outillage %}
                    <tr class="index-row">
                        <td>
                            <a href="{{ path('references_outillage_edit', { 'id': outil.id,'exploitation_id': exploitation_id, 'annee': annee }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <span>&nbsp;</span>
                            <span class="hidden">{{ outil.id }}</span>
                        </td>
                        <td class="suivis">{{ outil.type }}</td>
                        <td class="suivis">{{ outil.quantite }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h4>
        213. {{ "Relevé des parcelles" | trans }}
    
            <div class="on_right">
                <div class="alert alert-info">
                    {{ "L'ajout et la modification de parcelles doit se faire via les fiches F2" | trans }}
                </div>
            </div>
    </h4>

    {% for parcelle in parcelles %}
        {% include 'parcelles/details.html.twig' with {'parcelle': parcelle, 'annee': annee, 'redirect': 'f1', 'edition': false} only %}
    {% endfor %}

    {% include 'saisies/troupeaux.html.twig' with {'edition': false} %}

{% endblock %}