{% extends 'base_F4.html.twig' %} 
{% set menu_selected = 'info_gen' %}
{% block title %}membre_f4 >{{ 'Dettes'|trans }}{% endblock %}
 


{% block body_f0 %}
	<h4>B. Crédit de consommation en cours</h4>
	<div id="container">
		<div>
			<a href="{{ path('references_dettes_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'creditobjet': 'consommation','group_id':group_id, 'coop_id':coop_id }) }}" class="btn btn-primary" role="button">Nouveau crédit pour consommation</a>
		</div>	
		<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th class="suivis">{{ 'Année'|trans }}</th>    
                        <th class="suivis">Type</th>    
                        <th class="suivis">Source de crédit</th>    
                        <th class="suivis">Montant de crédit</th>    
                        <th class="suivis">date du début</th>    
                        <th class="suivis">durée du crédit ({{ 'Mois'|trans }})</th>    
                        <th class="suivis">Type de garantie</th>    
                        <th class="suivis">Taux du crédit</th>    
                        <th class="suivis">Intérêts payés</th>    
                </tr>
            </thead>
			<tbody>
            {% for consommation in consommations %}
                <tr class="index-row">                
                	<td class="suivis">                            
                            <a href="{{ path('references_dettes_edit', { 'id': consommation.id,'exploitation_id': exploitation_id, 'annee': annee, 'group_id':group_id, 'coop_id':coop_id  }) }}">
				<i class="glyphicon glyphicon-pencil btn btn-default"></i></a>
                            <span>&nbsp;</span>                        
                            <span class="hidden">{{ consommation.id }}</span> 
                    </td>
   					<td class="suivis">{{ consommation.annee }}</td>    
                    <td class="suivis">{{ consommation.creditobjet }}</td>    
                    <td class="suivis">{{ consommation.institutionFinanciere }}</td>    
                    <td class="suivis">{{ consommation.valeurCredit }}</td>    
                    <td class="suivis">{% if consommation.periodeReception %}{{ consommation.periodeReception|date('Y-m-d')}}{% endif %}</td>    
                    <td class="suivis">{{consommation.periodeRemboursement }}</td>    
                    <td class="suivis">{{ consommation.garantie }}</td>    
                    <td class="suivis">{{ consommation.tauxCredit }}</td>    
                    <td class="suivis">{{ consommation.interetsPayes }}</td>    
                 </tr>
            {% endfor %}
            </tbody>
        </table>
	<h4>C. Crédit de campagne en cours</h4>
	<div id="container">
		<div>
		<a href="{{ path('references_dettes_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'creditobjet': 'campagne','group_id':group_id, 'coop_id':coop_id  }) }}" class="btn btn-primary" role="button">Nouveau credit pour campagne</a>
		</div>	
			<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th class="suivis">{{ 'Année'|trans }}</th>    
                        <th class="suivis">Type</th>    
                        <th class="suivis">Source de crédit</th>    
                        <th class="suivis">Montant de crédit</th>    
                        <th class="suivis">date du début</th>    
                        <th class="suivis">durée du crédit ({{ 'Mois'|trans }})</th>    
                        <th class="suivis">Type de garantie</th>    
                        <th class="suivis">Taux du crédit</th>    
                        <th class="suivis">Intérêts payés</th>    
                </tr>
            </thead>
			<tbody>
            {% for campagne in campagnes %}
                <tr class="index-row">                
                    <td class="suivis">                            
                            <a href="{{ path('references_dettes_edit', { 'id': campagne.id,'exploitation_id': exploitation_id, 'annee': annee, 'group_id':group_id, 'coop_id':coop_id  }) }}">
				<i class="glyphicon glyphicon-pencil btn btn-default"></i></a>
                            <span>&nbsp;</span>                        
                            <span class="hidden">{{ campagne.id }}</span> 
                    </td>
   					<td class="suivis">{{ campagne.annee }}</td>    
                    <td class="suivis">{{ campagne.creditobjet }}</td>    
                    <td class="suivis">{{ campagne.institutionFinanciere }}</td>    
                    <td class="suivis">{{ campagne.valeurCredit }}</td>    
                    <td class="suivis">{% if campagne.periodeReception %}{{ campagne.periodeReception|date('Y-m-d')}}{% endif %}</td>    
                    <td class="suivis">{{ campagne.periodeRemboursement }}</td>    
                    <td class="suivis">{{ campagne.garantie }}</td>    
                    <td class="suivis">{{ campagne.tauxCredit }}</td>    
                    <td class="suivis">{{ campagne.interetsPayes }}</td>    
                 </tr>
            {% endfor %}
            </tbody>
        </table>
	<h4>D. Crédit d'investissement en cours</h4>
	<div id="container">
		<div>
		<a href="{{ path('references_dettes_new', { 'exploitation_id': exploitation_id, 'annee': annee, 'creditobjet':'investissement','group_id':group_id, 'coop_id':coop_id  }) }}" class="btn btn-primary" role="button">Nouveau credit pour investissement</a>
		</div>	
			<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                        <th class="suivis">{{ 'Année'|trans }}</th>    
                        <th class="suivis">Type</th>    
                        <th class="suivis">Source de crédit</th>    
                        <th class="suivis">Montant de crédit</th>    
                        <th class="suivis">date du début</th>    
                        <th class="suivis">durée du crédit ({{ 'Mois'|trans }})</th>    
                        <th class="suivis">Type de garantie</th>    
                        <th class="suivis">Taux du crédit</th>    
                        <th class="suivis">Intérêts payés</th>    
                </tr>
            </thead>
			<tbody>
            {% for investissement in investissements %}
                <tr class="index-row">                
                    <td class="suivis">                            
                        <a href="{{ path('references_dettes_edit', { 'id': investissement.id,'exploitation_id': exploitation_id, 'annee': annee, 'group_id':group_id, 'coop_id':coop_id  }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i></a>
			<span>&nbsp;</span>                        
			<span class="hidden">{{ investissement.id }}</span> 
                    </td>
   					<td class="suivis">{{ investissement.annee }}</td>    
                    <td class="suivis">{{ investissement.creditobjet }}</td>    
                    <td class="suivis">{{ investissement.institutionFinanciere }}</td>    
                    <td class="suivis">{{ investissement.valeurCredit }}</td>    
                    <td class="suivis">{% if investissement.periodeReception %}{{ investissement.periodeReception|date('Y-m-d')}}{% endif %}</td>    
                    <td class="suivis">{{ investissement.periodeRemboursement }}</td>    
                    <td class="suivis">{{ investissement.garantie }}</td>    
                    <td class="suivis">{{ investissement.tauxCredit }}</td>    
                    <td class="suivis">{{ investissement.interetsPayes }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
		
	</div>
{% endblock %}
{% block javascripts %}
{% endblock %}


