{% extends 'base.html.twig' %}


{% block body_title %}{{ titre }}{%endblock %}

{% block body %}
   <div class="navigation_helper">
      {% include 'fil_ariane.html.twig' with {
            'fil_elems': [{
               'url': path('saisie_recherche',{}),
               'name': 'Recherche'
            }, {
               'url': '',
               'name': 'Résultat de la recherche'

            }]}
        %}
   </div>
    
   <div class="sub-header">
         {% if photoFileGenerated is defined %}
            <h4>
            {% if photoFileGenerated != false %}
               <a href="{{ photosZip }}" download>{{ "Télécharger le fichier des photos" | trans }}</a><br/>
            {% else %}
               <span>{{ "Le fichier des photos est vide" | trans }}</span><br/>
            {% endif %}
         {% endif %}
         
         {% if qRCodeFileGenerated is defined %}
            {% if qRCodeFileGenerated != false %}
               <a href="{{ qrcodeZip }}" download>{{ "Télécharger le fichier des QRCodes" | trans }}</a>
            {% else %}
               <span>{{ "Le fichier des QRcode est vide" | trans }}</span>
            {% endif %}
         </h4>
        {% endif %}
         <br /><br />
      <div  class="pull-xs-right">
         <button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>


   <div class="table-responsive">
      <h4>{{ titre }}</h4>
      {% if message is defined %}
         <p>{{ message }}</p>
      {% endif %}
      <table id="index-table" class="pagination" number-per-page="5" current-page="0">
         <thead>
            <tr class="index-row">
               <th>{{ 'Actions'|trans }}</th>
               {% for field in fields %}
                    <th>
                        {% if field=="AnneeNaissance" %}
                        Année naissance
                        {% elseif field=="NumeroMembre" %}
                        {{ 'Numero membre'|trans }}
                        {% elseif field=="AnneeAdhesion" %}
                        Année Adhésion
                        {% else %}
                        {{ field }}
                    {% endif %}
                    </th>
               {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for record in records %}
            <tr class="index-row">
            {% if 'doublon' in titre %}
               <td>
                  <a href="{{ path('saisie_rechercheEnDouble', { 'nom': record.Nom, 'prenom': record.Prenom, 'groupement': record.group_id }) }}">
                     <button class="btn btn-default" title="{{ "Rechercher" | trans }}">
                        <span class="glyphicon glyphicon-search"></span>
                     </button>
                  </a>
                  

                  {% if record.IDMM %} {# pas str vide #}
                     <a href="{{ path('faux_doublon_pour_recherche', { 'exploitationIds':record.IDMM }) }}">
                        <button class="btn btn-default" title="{{ "Indiquer comme non-doublon" | trans }}">
                           <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                     </a>
                  {% endif %}
               </td>
            {% else %}
                  <td><span>&nbsp;</span>
                     <a href="{{ path('saisie_info_gen_sans_annee', { 'exploitation': record.id }) }}">
                        <i class="glyphicon glyphicon-eye-open"></i>
                     </a>
                {#{% if record['Nom'] is defined %}#}
                     {#{% if record['Nom']=='' %}#}
                     <!--a href="{{path('references_exploitations_delete', {'id': record.id})}}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a-->
                    {#{% endif %}#}
                {#{% endif %}#}
                    <span>&nbsp;</span>
                     <span class="hidden">{{ record.id }}</span>
                  </td>
            {% endif %}
                  {% for field in fields %}
                     <td>
                        {% if field=='NumeroMembre'%}
                           {{ record[field] | format_num_membre }}
                        {% else %}
                           {{ record[field] }}
                        {% endif %}
                     </td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </tbody>
      </table>

  </div>
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
   <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
