{% extends 'base.html.twig' %}

{% block body_title %}{{ titre }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{%endblock %}

{% block body %}
    <div id="help" class="aide">
        <h5><b>{{ "Résultat de la requête" | trans }}</b></h5>
        <p>En elaboration</p>
    </div>

    <div class="navigation_helper">
      {% include 'fil_ariane.html.twig' with {
            'fil_elems': [{
               'url': path('saisie_recherche',{}),
               'name': 'Recherche'
            }, {
               'url': '',
               'name': 'Résultat de la recherche'

            }]}
        %}
    </div>


    <div class="table-responsive" onClick="toggle_visibility();">
	    <h4>{{ titre }}</h4>

        <div class="sub-header">
            <div  class="pull-xs-right">
                <a class="btn btn-primary" href="{{  path('saisie_recherche_exploitation_resultat_csv') }}">Résultats en Excell</a>
            </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row">
                    <th>{{ 'Act.'|trans }}</th>
                    
                    {% for field in fields %}
                        <th>
                            {% if field == "AnneeNaissance" %}
                                {{ "Année de naissance" | trans }}
                            {% elseif field == "date_naissance" %}
                                {{ "Date de naissance" | trans }}
                            {% elseif field=="NumeroMembre" %}
                                {{ "Numero de membre" | trans }}
                            {% elseif field=="AnneeAdhesion" %}
                                {{ "Année d'adhésion" | trans }}
                            {% elseif field=="cni" %}
                                {{ field | upper }}
                            {% else %}
                                {{ field | capitalize }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {#{% for record in records %}#}
                {% for record in pagination %}
                    <tr class="index-row">
                        <td>
                            <a href="{{ path('saisie_info_gen_sans_annee', { 'exploitation': record.id }) }}" class="link-with-icon">
                                <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                            </a>
                            {#{% if record['Nom']=='' %}#}
                            <!--a href="{#{path('references_exploitations_delete', {'id': record.id})}#}"-->
                                <!--i class="glyphicon glyphicon-trash"></i-->
                            <!--/a-->
                            {#{% endif %}#}
                        </td>
                    
                        {% for field in fields %}
                            <td>
                                {% if field=='NumeroMembre'%}
                                {{ record[field] | format_num_membre }}
                                {% else %}
                                {{ record[field] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
    <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}