{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body_title %}{{ "Recherche exploitation(s)" | trans }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
    <div id="help" class="aide" style="font-size: 12px;">
        <h5><b>Formulaire de recherche des exploitation</b></h5>
        <p>Dans ce formulaire vous avez des differents filtres pour effectur la recherche</p>
        <p>Si vous vous trompez dans le filtres, par exemple,filtrer avec une province a la quelle n'appartient pas la coopérative choisi, le résultat sera vide</p>
    </div>
{% endblock %}

{% block body %}
    <div id="container" onClick="toggle_visibility();">
        <div id="my-form">
            {{ form_start(form_recherche) }}
            {{ form_widget(form_recherche) }}
            {{ form_end(form_recherche) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/masquedinput.js') }}"></script>
<script src="{{ asset('pumastatic/js/saisie_info_gen.js') }}"></script>
<script src="{{ asset('pumastatic/js/recherche.js') }}"></script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}
