{% extends 'base_F3.html.twig' %}
{% set menu_selected = 'info_gen' %}




{% block subtitle_f2 %}{{ 'Troupeaux'|trans }}{% endblock %}
{% block body_f2 %}
    <h4>  {{ "Relevé des troupeaux possibles à récuperer" | trans }}</h4>
    {% for troupeau in troupeaux %}
        <table style="margin-bottom:15px;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <a href="{{ path('recopier_troupeau_nouvelle_enquete', {'id': troupeau.id,'annee': annee, 'redirect': 'f1' }) }}">
                            Récuperer
                        </a>
                    </td>
                    <td>
                        <b>
                            {{ "Troupeau" | trans }} {{ troupeau.espece }}
                        </b>
                        <b>|</b>
                        {{ "Type d'élevage:" }} {{ troupeau.typeElevage }}
                        <b>|</b>
                        {{ "Nbr. de têtes:" }} {{ troupeau.nbrTotalTetes }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Femelles reproductrices:" }} {{ troupeau.femellesReproductrices }}
                        <b>|</b>
                        {{ "Mâles reproducteurs:" }} {{ troupeau.malesReproducteurs }}
                        <b>|</b>
                        {{ "Jeunes femelles:" }} {{ troupeau.jeunesFemelles }}
                        <b>|</b>
                        {{ "Jeunes Mâles:" }} {{ troupeau.jeunesMales }}
                        <b>|</b>
                        {{ "Jeunes Immatures:" }} {{ troupeau.jeunesImmatures }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Age de réforme femelles reproductrices:" }} {{ troupeau.ageReformeFemelles }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Alimenation:" }}
                        {% for aliment in troupeau.alimentations %}
                            {{ aliment }};
                        {% endfor %}
                        <b>|</b>
                        {{ "Produits:" }}
                        {% for produit in troupeau.produits %}
                            {{ produit }};
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
