{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{#{% set exploitation = personne.exploitation %}#}
{#{% set exploitation_id = exploitation.id %}#}

{% block body_title %}
    {{ "Création exploitation" | trans  }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img>
{% endblock %}

{% block body_f0 %}
    <div id="container" onClick="toggle_visibility();">
        <div id="help" class="aide">
            <h5><b>{{ "Processus création d'une exploitation - Ajout du répondant"|trans }}</b></h5>
            <p>{{ "Les champs Nom et Prénom sont obligatoires et ils acceptent seulement des lettres et des spaces."|trans }}</p>
            <p>{{ "La date de naissance est obligatoire."|trans }}</p>
            <p>{{ "N'oubliez pas que l'exploitation peut avoir un seul répondant et un seul chef de famille."|trans }}</p>
            <p>{{ "Dans l'exploitation il doit avoir toujours un chef de famille, même s'il y a un seule co-exploitant et célibataire"|trans }}</p>
        </div>
	
        <h4>{{ "Identité du co-exploitant 'répondant'"|trans  }}</h4>
        {{ form_start(form,  {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
         <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
         </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    

{% endblock %}