    <h4>
        227. {{ "Relevé des troupeaux" | trans }}

        {% if not(edition is defined and edition == false)  %}
            {% if annee_precedent is defined %}
                {% if annee_precedent is null %}
                    {% set disabled=" disabled" %}
                    {% set url = "" %}
                {% else %}
                    {% set disabled="" %}
                    {% set url =  path('recuperer_troupeau_enquete_precedente_liste', { 'exploitation_id': exploitation.id, 'annee': annee, 'anneePrecedent':annee_precedent }) %}
                {% endif %}
                <a href="{{ url }}" class="btn btn-primary pull-right" role="button" {{ disabled }}>
                    {{ "Récupérer les données d'une enquête précédente" | trans }}
                </a>
            {% endif %}
            <a href="{{ path('references_animaux_new', { 'exploitation': exploitation.id, 'annee': annee }) }}" class="btn btn-primary pull-right" role="button">
                {{ "Nouveau troupeau" | trans }}
            </a><br /><br />
        {% else %}
            <div class="on_right">
                <div class="alert alert-info">
                    {{ "L'ajout et la modification de troupeaux doit se faire via les fiches F3" | trans }}
                </div>
            </div>
        {% endif %}
    </h4>


    {% for troupeau in troupeaux %}
        <table style="margin-bottom:15px;">
            <tbody>
                <tr>
                    <td>
                        {% if not(edition is defined and edition == false)  %}
                            <a href="{{ path('references_animaux_edit', {'id': troupeau.id, 'redirect': 'f1' }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('references_animaux_show', {'id': troupeau.id, 'redirect': 'f1' }) }}">
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                        </a>
                    </td>
                    <td>
                        <b>
                            {{ "Troupeau" | trans }} {{ troupeau.espece }}
                        </b>
                        <b>|</b>
                        {{ "Type d'élevage:" }} {{ troupeau.typeElevage }}
                        <b>|</b>
                        {{ "Nbr. de têtes:" }} {{ troupeau.nbrTotalTetes }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Femelles reproductrices:" }} {{ troupeau.femellesReproductrices }}
                        <b>|</b>
                        {{ "Mâles reproducteurs:" }} {{ troupeau.malesReproducteurs }}
                        <b>|</b>
                        {{ "Jeunes femelles:" }} {{ troupeau.jeunesFemelles }}
                        <b>|</b>
                        {{ "Jeunes Mâles:" }} {{ troupeau.jeunesMales }}
                        <b>|</b>
                        {{ "Jeunes Immatures:" }} {{ troupeau.jeunesImmatures }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Age de réforme femelles reproductrices:" }} {{ troupeau.ageReformeFemelles }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {{ "Alimenation:" }}
                        {% for aliment in troupeau.alimentations %}
                            {{ aliment }};
                        {% endfor %}
                        <b>|</b>
                        {{ "Produits:" }}
                        {% for produit in troupeau.produits %}
                            {{ produit }};
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}

