{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblDomainesEtudesSuperieures</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblDomainesEtudesSuperieure.id }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ tblDomainesEtudesSuperieure.domain }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblDomainesEtudesSuperieure.cdate %}{{ tblDomainesEtudesSuperieure.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblDomainesEtudesSuperieure.udate %}{{ tblDomainesEtudesSuperieure.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblDomainesEtudesSuperieure.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbldomainesetudessuperieures_edit', { 'id': tblDomainesEtudesSuperieure.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
