{% extends 'base_references.html.twig' %}




{% block body %}
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblSaisons {{ 'Liste'|trans }}&nbsp;</h1>
    <div>
            <a href="{{ path('references_tblsaisons_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau éléments'|trans }}</a>
    	</div>
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ 'Id'|trans }}</th>
                    <th>{{ 'Saison'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for tblSaison in tblSaisons %}
                <tr class="index-row">
                	<td>
                        <a href="{{ path('references_tblsaisons_edit', { 'id': tblSaison.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a><span>&nbsp;</span>
                    </td>
                    <td>{{ tblSaison.id }}</td>
                    <td>{{ tblSaison.saison }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

