{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}
 


{% block subtitle_f0 %}{{ 'Mains d\'oeuvre'|trans }} {{ 'familiale'|trans }}{% endblock %}
{% block body_f0 %}
   <h4>0622. {{ 'Mains d\oeuvre'|trans }} {{ 'familiale'|trans }} {{ 'utilisée sur l\'exploitation'|trans }} ({{'Agriculture, élevage'|trans }}) ({{ 'Vue'|trans }})</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ moFamilialeInterne.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Membres'|trans }}</th>
                <td>{{ moFamilialeInterne.membres }}</td>
            </tr>
            <tr>
                <th>{{ 'Nombre de jours par an'|trans }}</th>
                <td>{{ moFamilialeInterne.joursAn }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_mofamilialeinterne_edit', { 'id': moFamilialeInterne.id,'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee  }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <!--input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}"-->
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
