{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}{{ "Sécurité alimentaire" | trans }}{% endblock %}
{% block body_f0 %}
   <h4>07. {{ "Sécurité ou et insécurité alimentaire des ménages" | trans }} ({{ "Vue" | trans }})</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ securiteAlimentaire.annee }}</td>
            </tr>
            <tr>
                <th>{{ "Repasculture" | trans }}</th>
                <td>{{ securiteAlimentaire.repasCulture }}</td>
            </tr>
            <tr>
                <th>{{ "Repaspostrecolte" | trans }}</th>
                <td>{{ securiteAlimentaire.repasPostRecolte }}</td>
            </tr>
            <tr>
                <th>{{ "Enfantsmalnutrition" | trans }}</th>
                <td>{{ securiteAlimentaire.enfantsMalnutrition }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_securitealimentaire_edit', { 'id': securiteAlimentaire.id,'exploitation_id': exploitation_id, 'annee':annee  }) }}" class="btn btn-primary" role="button">
                {{ "Modifier" | trans }}
            </a>
        </div>
    </div>
{% endblock %}
