{% extends 'base_references.html.twig' %}


{% block body %}
    <ul class="nav nav-sidebartitle">
        <li><a href="{{ path('references_tblmaterielsbureaux_index') }}">{{ 'Retour au liste'|trans }}</a></li>
    </ul>
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
    <div class="sub-header">
        <h1>TblMaterielsBureaux {{ 'Liste'|trans }}&nbsp;</h1>
        <div>
            <a href="{{ path('references_tblmaterielsbureaux_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ 'Materiel'|trans }}bureaux</th>
                    <th>Cdate</th>
                    <th>Udate</th>
                    <th>Utilisateur</th>
                </tr>
            </thead>
            <tbody>
            {% for tblMaterielsBureaux in tblMaterielsBureauxes %}
                <tr class="index-row">
                    <td>
                        <a href="{{ path('references_tblmaterielsbureaux_show', { 'id': tblMaterielsBureaux.id }) }}">
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                        </a><span>&nbsp;</span>
                        <a href="{{ path('references_tblmaterielsbureaux_edit', { 'id': tblMaterielsBureaux.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a><span>&nbsp;</span>
                    </td>
                    <td>{{ tblMaterielsBureaux.materielBureaux }}</td>
                    <td>{% if tblMaterielsBureaux.cdate %}{{ tblMaterielsBureaux.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if tblMaterielsBureaux.udate %}{{ tblMaterielsBureaux.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ tblMaterielsBureaux.utilisateur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}
