{% extends 'base_references.html.twig' %}


{% block body %}
    <ul class="nav nav-sidebartitle">
        <li><a href="{{ path('references_tblmaterielsbureaux_index') }}">{{ 'Retour au liste'|trans }}</a></li>
    </ul>
    <h1>TblMaterielsBureaux</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblMaterielsBureaux.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Materiel'|trans }}bureaux</th>
                <td>{{ tblMaterielsBureaux.materielBureaux }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblMaterielsBureaux.cdate %}{{ tblMaterielsBureaux.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblMaterielsBureaux.udate %}{{ tblMaterielsBureaux.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblMaterielsBureaux.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblmaterielsbureaux_edit', { 'id': tblMaterielsBureaux.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
