{% extends 'base.html.twig' %} 
{% block title %}Rapport especial avec toute la signaletique{% endblock %}
 



{% block body %}
	<div id="container">
		<div id="menu">
            <a href="{{ path('consultation') }}">Retour</a>
		</div><br />
        <h4 class="page-header">Consultation spéciale avec toute la signalétique</h4>

		<div id="test">
			{{ form_start(form) }}
			{{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-center" />
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsrep.js') }}"></script>
{% endblock %}
