{% extends 'base.html.twig' %} 
{% block title %}Indicateurs de suivi des coopératives{% endblock %}
 


{% block body %}
    <div id="container">
    
        {% include 'rapports/menu.html.twig' %}


        <h2 class="page-header">Indicateurs de suivi des coopératives</h1>
        <ul>
            <li><a id="l1" href='coopnum?num=1'>41. Répartition spatiale, nombre de coopérative par commune et provinces [02, 01]</a></li>
            <li><a id="l2" href='coopnum?num=2' onclick='afficherInput(2);'>42. *Respect de la norme de tenue des instances : AG?2 [I5], CE?6 [I5], CS ?4[I5]. Voir si : respect des 3, de 2, de 1, de 0.</a></li>
            <li><a id="l3" href='coopnum?num=3' onclick='afficherInput(3);'>43. Existence de statuts [I1], Niveau de reconnaissance [I2] ; existence de ROI [I3]</a></li>
            <li><a id="l4" href='coopnum?num=4' onclick='afficherInput(4);'>44. Existence de PV de réunion [II3], Rapport annuel d’activités [II5]</a></li>
            <li><a id="l5" href='coopnum?num=5' onclick='afficherInput(5);'>45. L’enregistrement des cotisations [III4], le classement des justificatifs [III8], l’existence de rapport financier annuel [III9] </a></li>
            <li><a id="l6" href='coopnum?num=6' onclick='afficherInput(6);'>47. Nombre de MUSO/coopérative</a></li>
            <li><a id="l7" href='coopnum?num=7' onclick='afficherInput(7);'>49. Pourcentage des membres ayant contracté un crédit [V1]/membre total membres ; montant total des crédits contractés [V1]</a></li>
            <li><a id="l8" href='coopnum?num=8' onclick='afficherInput(8);'>50. Part des prêts octroyés par la coopérative [V2] sur le montant total [V1]</a></li>
            <li><a id="l9" href='coopnum?num=9' onclick='afficherInput(9);'>51. Fréquence des institutions ayant octroyé le crédit, pour l’ensemble des coopératives [V2]</a></li>
            <li><a id="l10" href='coopnum?num=10' onclick='afficherInput(10);'>53. Fréquence des besoins en formation [VII1], en appui institutionnel [VII2], en service [VII3]. Successivement  pour les1er 2me et 3me choix.</a></li>
        </ul>					
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportscoop.js') }}"></script>
{% endblock %}
