{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% block title %}Rapports pour l'evaluation{% endblock %}

{% block body %}
    <div class="sub-header">
        <div class="pull-xs-right">
            <button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary">Export to
                Excel
            </button>
        </div>
    </div>

    <div id="container">

        {% include 'rapports/menu.html.twig' %}


        <div id="test">
            <h3>{{ titre }}</h3>
            <div id='identificateur'>
                <table id="index-table" class="pagination" number-per-page="5" current-page="0">
                    <thead>
                        <tr class="index-row">
                            {% for fieldName in fields %}
                            <th>{{ fieldName }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in recordset %}
                        <tr class="index-row">
                            {% for fieldName in fields %}
                                {% if fieldName ends with '_raw' %}
                                    <td>{{ record[fieldName]|raw }}</td>
                                {% else %} 
                                    <td>{{ record[fieldName] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}