{% extends 'base.html.twig' %} 
{% block title %}Pour l'évaluation{% endblock %}
 


{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}


        <h2 class="page-header">Pour l'évaluation</h1>
        <h5>{{ "Suivi du 6360 et 8330" | trans }}</h5>
        <ul>
            <li><a id="lcoesexage" href="{{ path('rapports_evalnum', {requestId:'coesexage'}) }}">{{ "Liste des co-exploitants" | trans }}</a></li>
            <li><a id="lrepsexage" href="{{ path('rapports_evalnum', {requestId:'repsexage'}) }}">{{ "Liste des répondants" | trans }}</a></li>

            <li><a id="lagroeco" href="{{ path('rapports_evalnum', {requestId: 'agroeco'}) }}" onclick='afficherInput("agroeco");'>
                   {{ "Nombre d'exploitations appliquant des techiques argo-écologiques" | trans }}
            </a></li>
            <li><a id="l64" href="{{ path('rapports_evalnum', {requestId: 64}) }}" onclick='afficherInput(64);'>Formations complémentaires dont un co-exploitant a bénéficié- Planification Agricole.</a></li>
            <li><a id="l65" href="{{ path('rapports_evalnum', {requestId: 65}) }}" onclick='afficherInput(65);'>Formations complémentaires dont un co-exploitant a bénéficié- pratiques de fertilisation durable (option n'existe pas)</a></li>
            <li><a id="l69" href="{{ path('rapports_evalnum', {requestId: 69}) }}" onclick='afficherInput(69);'>Nombre de repas par exploitant en période de culture</a></li>
            <li><a id="l70" href="{{ path('rapports_evalnum', {requestId: 70}) }}" onclick='afficherInput(70);'>Nombre de repas en période post récolte</a></li>
        </ul>
        <hr />
        <ul>
            <li><a id="l1"  href="{{ path('rapports_evalnum', {requestId: 1}) }}">1. Nombre de membres et de groupement par coopérative (021, 022)</a></li>		<li><a id="l3"  href="{{ path('rapports_evalnum', {requestId: 3}) }}">3. Moyenne par catégorie du nombre de personnes à charge par exploitation, par coopérative (04)</a></li>
            <li><a id="l4"  href="{{ path('rapports_evalnum', {requestId: 4}) }}" onclick='afficherInput(4);'>4. ***Taux moyen d’alphabétisation par sexe pour les coopératives (051, 052)</a></li>
            <li><a id="l5"  href="{{ path('rapports_evalnum', {requestId: 5}) }}" onclick='afficherInput(5);'>5. ***Classement et occurrence des cultures et élevages par coopérative pour les lignes 1, 2, 3 (351)</a></li>
            <li><a id="l9"  href="{{ path('rapports_evalnum', {requestId: 9}) }}" onclick='afficherInput(9);'>**9. Pourcentage, par coopérative, de membres qui participent au warrantage (381), vente groupée (382), transformation (383)</a></li>
            <li><a id="l10" href="{{ path('rapports_evalnum', {requestId: 10}) }}">10. Nombre et pourcentage de membres ayant reçu une, deux formations tous opérateurs confondu, et via la CAPAD (638)</a></li>
            <li><a id="l12" href="{{ path('rapports_evalnum', {requestId: 12}) }}" onclick='afficherInput(12);'>12. Nombre et pourcentage, par coopérative, des occurrences par thème de formation (638)</a></li>
            <li><a id="l16" href="{{ path('rapports_evalnum', {requestId: 16}) }}" onclick='afficherInput(16);'>R01. Répartition des membres producteurs par classe d’âge et par Coopérative</a></li>
            <li><a id="l17" href="{{ path('rapports_evalnum', {requestId: 17}) }}">R02. Répartition des membres producteurs par situation matrimoniale et par Coopérative</a></li>
            <li><a id="l18" href="{{ path('rapports_evalnum', {requestId: 18}) }}">R03. Répartition des membres producteurs par niveau d’études et par Coopérative</a></li>
            <li><a id="l21" href="{{ path('rapports_evalnum', {requestId: 21}) }}">R06. Répartition des membres producteurs par nombre moyen de filles et par Coopérative</a></li>
            <li><a id="l22" href="{{ path('rapports_evalnum', {requestId: 22}) }}">R07. Répartition des membres producteurs par nombre moyen de fils scolarisés et par Coopérative</a></li>
            <li><a id="l23" href="{{ path('rapports_evalnum', {requestId: 23}) }}">R08. Répartition des membres producteurs par nombre moyen de filles scolarisées et par Coopérative</a></li>
            <li><a id="l24" href="{{ path('rapports_evalnum', {requestId: 24}) }}" onclick='afficherInput(24);'>R09A. Production par filière et par Coopérative</a></li>
            <li><a id="l25" href="{{ path('rapports_evalnum', {requestId: 25}) }}" onclick='afficherInput(25);'>R09B. Production par filière et par Coopérative</a></li>
            <li><a id="l26" href="{{ path('rapports_evalnum', {requestId: 26}) }}" onclick='afficherInput(26);'>R10. Quantité commercialisée par produit et par Coopérative</a></li>
            <li><a id="l27" href="{{ path('rapports_evalnum', {requestId: 27}) }}" onclick='afficherInput(27);'>R10A. Quantité commercialisée par produit et par Coopérative</a></li>
            <li><a id="l28" href="{{ path('rapports_evalnum', {requestId: 28}) }}">R10B. Quantité commercialisée par produit et par Coopérative</a></li>
            <li><a id="l35" href="{{ path('rapports_evalnum', {requestId: 35}) }}" onclick='afficherInput(35);'>R17. Répartition de membres producteurs selon le type d’élevage pratiqué par Coopérative</a></li>
            <li><a id="l46" href="{{ path('rapports_evalnum', {requestId: 46}) }}" onclick='afficherInput(46);'>R28. Répartition de membres producteurs selon les thèmes de formation qu’eux et leurs conjoints ont bénéficié</a></li>
            <li><a id="l47" href="{{ path('rapports_evalnum', {requestId: 47}) }}" onclick='afficherInput(47);'>R30. Répartition de membres producteurs selon le bénéficiaire de la formation qu’eux et leurs conjoints ont bénéficié</a></li>
            <li><a id="l48" href="{{ path('rapports_evalnum', {requestId: 48}) }}" onclick='afficherInput(48);'>R31. Répartition de membres producteurs selon l’utilisation faite de la formation qu’eux et leurs conjoints ont bénéficié</a></li>
            <li><a id="l49" href="{{ path('rapports_evalnum', {requestId: 49}) }}" onclick='afficherInput(49);'>R32. Répartition de membres producteurs selon l’organisateur de la formation qu’eux et leurs conjoints ont bénéficié</a></li>
            <li><a id="l50" href="{{ path('rapports_evalnum', {requestId: 50}) }}" onclick='afficherInput(50);'>R33. Répartition de membres producteurs selon les thèmes de formation qu’eux et leurs conjoints ont besoin</a></li>
            <li><a id="l51" href="{{ path('rapports_evalnum', {requestId: 51}) }}" onclick='afficherInput(51);'>R34. Répartition de membres producteurs selon les contraintes majeures au développement des activités agricoles citées</a></li>
            <li><a id="l52" href="{{ path('rapports_evalnum', {requestId: 52}) }}" onclick='afficherInput(52);'>R35. Répartition de membres producteurs selon les services dont ils ont besoin</a></li>
            <li><b>Derniers rapports ajoutés pour l'evaluation:</b></li>
            <li><a id="l53" href="{{ path('rapports_evalnum', {requestId: 53}) }}" onclick='afficherInput(53);'>F0 - les superficies et la production de mais cultivé par coopérative</a></li>
            <li><a id="l60" href="{{ path('rapports_evalnum', {requestId: 60}) }}" onclick='afficherInput(60);'>Suivi coopératives - les coopératives qui répondent OUI aux indicateurs institutionnels</a></li>
            <li><a id="l62" href="{{ path('rapports_evalnum', {requestId: 62}) }}">F1 - Liste des exploitations avec F1, par cooperative</a></li>
            <li><a id="l63" href="{{ path('rapports_evalnum', {requestId: 63}) }}">F0 - Liste des exploitations avec F0, par cooperative</a></li>
        </ul>
              
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportseval.js') }}"></script>
{% endblock %}
