{% extends 'base.html.twig' %} 
{% block title %}Filières{% endblock %}
 



{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}

        <h2 class="page-header">Rapports pour les Filières</h1>

        <div id="test">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsrep.js') }}"></script>
{% endblock %}
