{% extends 'base.html.twig' %} 
{% block title %}Indicateurs de suivi des groupements{% endblock %}
 



{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}

        <h2 class="page-header">{{ "Indicateurs de suivi des groupements" | trans }}</h2>
        
        <ul>
        <li><a href='groupnum?num=1'>28. Répartition spatiale, nombre de groupements par commune et coopérative [02, 03]</a></li>
        <li><a href='groupnum?num=2'>29. Existence du ROI [I1], Année de renouvellement [I4]</a></li>
        <li><a href='groupnum?num=3'>30. Existence de PV de réunion [II3], Rapport annuel d’activités [II5]</a></li>
        <li><a href='groupnum?num=4'>31. L’enregistrement des {{ 'Cotisations'|trans }} [III4], le classement des justificatifs [III8], l’existence de rapport financier annuel [III9]</a></li>
        <li><a href='groupnum?num=5'>32. Revenu total : [IV6]+[IV8]+[IV9] ; pourcentages de [IV6]/ total, [IV8]/total, [IV9]/total</a></li>
        <li><a href='groupnum?num=6'>33. Fréquence de [IV1], [IV2], [IV3], [IV4], [IV7]</a></li>
        <li><a href='groupnum?num=7'>34. Pourcentage des membres ayant contracté un crédit [V1] ; montant total des crédits contractés [V1]</a></li>
        <li><a href='groupnum?num=8'>35. Part des prêts octroyés par la coopérative [V2] sur le montant total [V1]</a></li>
        <li><a href='groupnum?num=9'>36. Fréquence des institutions ayant octroyé le crédit, pour l’ensemble des groupements d’une coopérative [V2]</a></li>
        <li><a href='groupnum?num=10'>37. Montant total des crédits contractés (octroyés) par la coopérative à ses groupements [V2]</a></li>							
        </ul>              
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsgroupe.js') }}"></script>
{% endblock %}
