
{% set current_path = app.request.get('_route') %}

<div id="menu">
    <h1 class="page-header">Rapports</h1>
    <ul>
        <li {%if current_path == "rapports_export_data"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_export_data") }}">{{ "Export de données" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_presurface"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_presurface") }}">{{ "Surfaces totales et moyennes" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_filieres"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_filieres") }}">{{ "Filières" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_evaluation"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_evaluation") }}">{{ "Pour l'évaluation" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_allsignaletique"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_allsignaletique") }}">{{ "Rapport spécial avec toute la signaletique" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_specialF0"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_specialF0") }}">{{ "Rapport spécial des fiches F0" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_planification"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_planification") }}">{{ "Planification" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_groupements"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_groupements") }}">{{ "Indicateurs de suivi des groupements" | trans }}</a>
        </li>
        <li {%if current_path == "rapports_cooperatives"%}class="selected"{%endif %}>
            <a href="{{ path("rapports_cooperatives") }}">{{ "Indicateurs de suivi des coopératives" | trans }}</a>
        </li>
    </ul>
</div>
