{% extends 'base.html.twig' %} 
{% block title %}{{ "Export des données" | trans}}{% endblock %}
 


{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}

        <h2 class="page-header">Informations supplémentaires</h2>

        <div id="test">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsspF0.js') }}"></script>
{% endblock %}
