{% extends 'base.html.twig' %}
{% block title %}Rapports pour la planification{% endblock %}




{% block body %}
	<div class="sub-header">
	<div  class="pull-xs-right">
		<button type="button" id="exp2excel" xlfilename="puma2-signaletique" class="btn btn-primary">Export to Excel</button>
	</div>
   </div>
	<div id="container">

        {% include 'rapports/menu.html.twig' %}


		<div id="test">
		<h3>{{ titre }}</h3>
			 <div id='identificateur'>
			{# cpt #}
        <table id="index-table" class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row">
                {% for field in fields %}
                	<th>{{ field }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
			{% for record in recordset %}
				<tr class="index-row">
			    {% for field in fields %}
				 {#  <td>{{ record}}</td> #}
				  <td>{{ record[field] }}</td>
			    {% endfor %}
			   </tr>
		  {% endfor %}


            </tbody>
        </table>
		</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
