{% extends 'base.html.twig' %}
{% block title %}Planification{% endblock %}




{% block body %}
	<div id="container">

        {% include 'rapports/menu.html.twig' %}


		<h2 class="page-header">Rapports des planifications</h2>
		<ul>
		<li><a id="l2" href='plannum?num=2' onclick='afficherInput(2);'>22. Surface emblavée par culture, par coopérative [351]</a></li>
		<li><a id="l3" href='plannum?num=3' onclick='afficherInput(3);'>23. Rendement moyens des cultures et des produits animaux, par coopérative [351]</a></li>
		<li><a id="l4" href='plannum?num=4' onclick='afficherInput(4);'>24. Nombre et pourcentage des produits commercialisés par production [351] (ne pas confondre production récoltée et produit commercialiser, ils peuvent correspondre ou non. Si non, il faut un coefficient de conversion)</a></li>
		<li><a id="l5" href='plannum?num=5' onclick='afficherInput(5);'>25. Nombre et pourcentage des besoins en formation par occurrence des thèmes [9638]</a></li>
		<li><a id="l6" href='plannum?num=6' onclick='afficherInput(6);'>26. Nombre et pourcentage des occurrences de contraintes déclarées [90]</a></li>
		<li><a id="l7" href='plannum?num=7' onclick='afficherInput(7);'>27. Nombre et pourcentage des occurrences des attentes en service/appui déclarées [9639]</a></li>
		</ul>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsplanif.js') }}"></script>
{% endblock %}
