{% extends 'base.html.twig' %}
 




{% block body %}
    <div class="sub-header">
    <h1>{{ titre }}</h1><br />
    <div  class="pull-xs-right">
        <button type="button" id="exp2excel" xlfilename="puma2-surface" class="btn btn-primary">Export to Excel</button><br />
    </div>
    <div class="sub-header">
        <!--p>{#{% if champs is defined %}{{ champs }} {% else %} 3 {% endif %}Coopérative:}#} {#{ cooperative }#}</p-->
        <br /><b>Requête:</b>
        <p style="background-color: aqua; border: blue solid thick;">{{ strSql }}</p>
    </div>
    
    <!--div class="table-responsive"-->
        <table id="index-table" class="pagination" number-per-page="5" current-page="0">
            <thead>
                <tr class="index-row">
                   {% for field in fields %}
                        <th>{{ field.nom }}
                           {% if field.unite is defined  %}
                             ({{ field.unite }})
                           {% endif %}
                        </th>
                   {% endfor %}
               </tr>
            </thead>
         <tbody>
            {% for record in recordset %}
               <tr class="index-row">
                  {% for key,value in fields %}
                    	<td>
                        {% if (value.unite is defined and value.unite == 'Ares') or (value.decimal is defined and value.decimal) %}
                           {{ (record[key])|number_format(2,',', '') }}
                        {% else %}
                           {{ record[key] }}
                        {% endif %}
                     </td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
	<!--/div-->

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
