{% extends 'base.html.twig' %} 
{% block title %}{{ "Export de données" | trans }}{% endblock %}
 
{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}


        <h2 class="page-header">{{ "Export de données" | trans }}</h2>
        <ul>
            <li><a href="{{ path('rapports_req1') }}">
                {{ "Répartition des membres par coopérative, par sexe, par classe d’âge, par état matrimonial, par taille de de ménage et niveau d’études" | trans }} ({{ "requête" }} 1)
            </a></li>
            <li><a href="{{ path('rapport_ask_year_then_report', {reportName: "rapports_req2"}) }}">
                {{ "Répartition des revenus de la main d'oeuvre des membres" | trans }} ({{ "requête" }} 2)
            </a></li>

            <li><a href="{{ path('rapport_ask_year_then_report', {reportName: "rapports_req3"}) }}">
                {{ "Répartition des revenus agricoles des membres" | trans }} ({{ "requête" }} 3)
            </a></li>

            <li><a href="{{ path('rapport_ask_year_then_report', {reportName: "rapports_req4"}) }}">
                {{ "Répartition des revenus de l’élevage des membres" | trans }} ({{ "requête" }} 4)
            </a></li>
            <li><a href="{{ path('rapport_ask_year_saison_then_report', {reportName: "rapports_req5_semences"}) }}">
                {{ "Répartition des dépenses en intrants agricoles (semences)" | trans }} ({{ "requête" }} 5)
            </a></li>
            <li><a href="{{ path('rapport_ask_year_saison_then_report', {reportName: "rapports_req5_phyto"}) }}">
                {{ "Répartition des dépenses en intrants agricoles (phyto)" | trans }} ({{ "requête" }} 5)
            </a></li>
            <li><a href="{{ path('rapport_ask_year_saison_then_report', {reportName: "rapports_req5_engrais"}) }}">
                {{ "Répartition des dépenses en intrants agricoles (engrais)" | trans }} ({{ "requête" }} 5)
            </a></li>
            <li><a href="{{ path('rapport_ask_year_then_report', {reportName: "rapports_req6_intrants_elevage"}) }}">
                {{ "Répartition des dépenses en intrants d’élevage" | trans }} ({{ "requête" }} 6)
            </a></li>
        </ul>
    </div>
{% endblock %}