{% extends 'rapports/rapports.html.twig' %} 
{% block title %}Rapports surfaces totales et moyennes{% endblock %}
 



{% block body %}
    <div id="container">

        {% include 'rapports/menu.html.twig' %}


        <h2 class="page-header">Rapports de surfaces totales et moyennes</h2>
        <div id="test">
                    <ul>
                        <li><a href="surface">Rapports de surfaces moyennes et totales par exploitation, groupé par coopérative</a></li>
                        <li><a href="surfacegroup">Rapports de surfaces moyennes et totales par exploitation, groupé par groupement</a></li>
                        <li><a href="surfaceexplo">Rapports de surfaces totales par exploitation, groupé par exploitation</a></li>
                    </ul>
                    
                        <table style="align:left;">
                            <tr>
                                <td>
                                    <h3>{{ titre }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" value="{% trans %}Soumettre{% endtrans %}" class="btn btn-default pull-center" />
                                {{ form_end(form) }}
                                </td>
                            </tr>
                        </table>
                    
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('pumastatic/js/rapportsrep.js') }}"></script>
{% endblock %}
