{% set exploitation = demandeCredit.getExploitationPlanSaison.getExploitation %}
{% set exploitation_id = exploitation.getId %}
{% set exploitationPlanSaison = demandeCredit.getExploitationPlanSaison %}
{% set annee = demandeCredit.getExploitationPlanSaison.exercice.annee %}
{% extends 'base_F6_c.html.twig' %}

{% block body %}
    <h1>{{ "Ajout d'une demande de crédit" | trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ "Créer" | trans }}" />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
