{% extends 'base.html.twig' %} {% block title %}{{ "Bienvenue sur PUMA 2" | trans }}{% endblock %}

{% block body %}
<div>
	<h1 class="page-header">{{ "Administration de PUMA 2" | trans }}</h1>

    <h4>{{ "Controle qualité : détection d'erreurs d'encodage pour les exploitations" | trans }}</h4>
    <ul>
        <li><a id="lrepsexage" href="{{ path('rapports_evalnum', {requestId:'norep'}) }}">{{ "Liste des exploitations sans répondant" | trans }}</a></li>
        <li><a href="{{ path('admin_controlePlusunchef')}}">{{ "Exploitations ayant plus d'un chef de famille" | trans }}</a></li>
        <li><a href="{{ path('admin_controleSanschef')}}">{{ "Exploitations n'ayant pas de chef de famille " | trans }}</a></li>
        <li><a href="{{ path('admin_controleDoublons')}}">{{ "Cas potentiels de doublons" | trans }}</a></li>
    </ul>
    
	<h4>{{ "Code QR" | trans }}</h4>
    <ul>
        <li><a href="{{ path('choose_a_coop_then', {'next': 'admin_QRforCoop'}) }}">
            {{ "Création des QR Codes pour une cooperative" | trans }}
        </a></li>
    </ul>

    <h4>{{ "Contrôle données des membres" | trans }}</h4>
    <ul>
        <li><a href="{{ path('admin_ListeSansPhotoOrg')}}">{{ "Exploitations dont le chef de famille n'a pas de photo encodée" | trans }}</a></li>
        <li><a href="{{ path('admin_ListeSansCniOrg')}}">{{ "Exploitations dont le chef de famille n'a pas de CNI encodée" | trans }}</a></li>
    </ul>

    <h4>{{ "Cartes de membre" | trans }}</h4>
    <ul>
        <li><a href="{{ path('choose_a_coop_then', {'next': 'admin_upload_data_carte_membre'}) }}">
			{{ "Télécharger les données pour générer une carte de membre pour une coopératie (csv + photo + qrcode)" | trans }}
		</a></li>
        <li><a href="{{ path('admin_displayFilesZipetCsv')}}">
			{{ "Afficher les fichiers zip et csv déjà créé dans la base de données" | trans }}
		</a></li>
        <li><a href="{{ path('choose_a_coop_then', {'next': 'admin_membership_card_for_coop'}) }}">
            {{ "Carte de membres par coopérative" | trans }}
        </a></li>
    </ul>
</div>
{% endblock %}
