{% extends 'base.html.twig' %}


{% block body_title %}{#{ titre }#}{%endblock %}

{% block body %}
   <div class="navigation_helper">
      {% include 'fil_ariane.html.twig' with {
            'fil_elems': [{
               'url': path('saisie_recherche',{}),
               'name': 'Recherche'
            }, {
               'url': '',
               'name': 'Résultat de la recherche'

            }]}
        %}
    </div>
    <div class="table-responsive">
      <h4>{#{ titre }#}</h4>
      <table id="index-table" class="pagination" number-per-page="5" current-page="0">
         <thead>
            <tr class="index-row">
               <th>{{ 'Données csv'|trans }}</th>
               <th>{{ 'Photo zip'|trans }}</th>
               <th>{{ 'QRcode zip'|trans }}</th>
            </tr>
         </thead>
         <tbody>
             {% for linea in listTotal %}
                 <tr>
                     <td>
                         {% if 'csv' in linea|keys %}
                             <b><a href="{{ dataCsv }}/{{ linea['csv'] }}" download> {{ linea['csv'] }}</a></b>
                         {% else %}
                         pas de fichier csv
                         {% endif %}
                     </td>
                     <td>
                         {% if 'photo' in linea|keys %}
                             <b><a href="{{ photosZip }}/{{ linea['photo'] }}" download> {{ linea['photo'] }}</b>
                         {% else %}
                         pas de fichier zip pour les photos
                         {% endif %}
                     </td>
                     <td>
                         {% if 'qrcode' in linea|keys %}
                             <b><a href="{{ qrcodeZip }}/{{ linea['qrcode'] }}" download> {{ linea['qrcode'] }}</a></b>
                         {% else %}
                            pas de fichier zip pour le qrcode
                         {% endif %}
                     </td>
                 </tr>
             {% endfor %}
         </tbody>
      </table>

  </div>
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
   <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
   <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
