{% extends 'base.html.twig' %}
{% block title %}{{ 'Références'|trans }}{% endblock %}
 
{% block body %}
    <div id="container">
        <div id="menu">
            {% for l in listes %}
                <h1 class="page-header">{{ l.titre }}</h1>
                <ul>
                {% for c in l.classes %}
                    <li><a href="{{ path(c.route) }}">{{ c.titre }}</a></li>
                {% endfor %}
                </ul>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}
