{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblCategoriesAgricoles</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblCategoriesAgricole.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ tblCategoriesAgricole.categorie }}</td>
            </tr>
            <tr>
                <th>Codecategorie</th>
                <td>{{ tblCategoriesAgricole.codeCategorie }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblCategoriesAgricole.cdate %}{{ tblCategoriesAgricole.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblCategoriesAgricole.udate %}{{ tblCategoriesAgricole.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblCategoriesAgricole.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblcategoriesagricoles_edit', { 'id': tblCategoriesAgricole.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
