Chouette une mise à jour a été faite ! Voici les données.


GIT:

- Last commit id : {{ last_commit_id }}



Synchro status:

- Numero Id de l'ordi: {{ synchro_status.localId }}
- Local init update-date: {{ synchro_status.localInitUdate |date("m/d/Y (h:m:s)") }}
- Master last update: {{ synchro_status.masterLastUdate |date("m/d/Y (h:m:s)") }}
- Is local initialized ? {% if synchro_status.localInitialized  %}TRUE{% else %}FALSE{% endif %}




Synchro Sessions (5 dernières)

{% if not last_10_sync_session %}
** Pas de synchro ! **
{% else %}
    {% for sync in last_10_sync_session %}
- Id : {{ sync.id }}
- - Status              : {{ sync.status }}
- - Date debut (data)   : {{ sync.dateDebutData |date("m/d/Y (h:m:s)") }}
- - Date fin (data)     : {{ sync.dateFinData |date("m/d/Y (h:m:s)") }}
- - Date fin maj (sql) : {{ sync.dateFinMajSql |date("m/d/Y (h:m:s)") }}
    {% endfor %}
{% endif %}
