{% extends 'base.html.twig' %}

{% block title %}{{ "Synchronisation" | trans }}{% endblock %}

 

{% block warning_synchro_is_running %}
{% endblock %}

{% block body %}
    <div id="container-current-session">
        <div class="alert alert-info">
            {% if current_session %}
                Un processus de synchronisation a été commencé mais pas fini.
                Il faut donc le relancer.
            {% else %}
                Pas de processus de synchronisation non fini. Un nouveau va
                être créé.
            {% endif %}

            <button type="button" class="letsynchro btn btn-success">Lancer la synchro</button>
        </div>

        {% if current_session %}
            <div class="alert alert-warning">
                <strong>Si le problème persiste après plusieurs essais,</strong>
                contactez nous et surtout envoyez nous :
                <ul>
                    <li>
                        le fichier <code>C:/puma/puma3/var/synchro/session_{{ current_session.id }}.log</code>
                    </li>
                    <li>l'id de la synchronisation : <code>{{ current_session.id }}</code></li>
                    <li>le nbr. d'essais : <code>{{ current_session.nbtry }}</code></li>
                    <li>le status : <code>{{ current_session.status }}</code></li>
                    <li>le status master : <code>{{ current_session.masterStatus }}</code></li>
                    <li>la phase : <code>{{ phase }}</code></li>
                    <li>l'id de l'ordi: <code>{{ ordi_id }}</code></li>
                </ul>
                Merci pour votre aide !
            </div>
        {% endif %}
    </div>

    <div id="container-creation-envoi-fichier-local-ok" class="hidden">
        <div class="alert alert-success">
            Création des fichiers depuis votre ordinateur: <strong>OK!</strong>
        </div>
    </div>

    <div id="container-creation-envoi-fichier-local-ko" class="hidden">
        <div class="alert alert-danger">
            Création des fichiers depuis votre ordinateur: <strong>Oups :/</strong>
        </div>
    </div>

    <div id="container-synchronize-master-ok" class="hidden">
        <div class="alert alert-success">
            Création des fichiers du coté du serveur: <strong>OK!</strong>
        </div>
    </div>

    <div id="container-synchronize-master-ko" class="hidden">
        <div class="alert alert-danger">
            Création des fichiers du coté du serveur: <strong>Aie aie aie :/</strong>
        </div>
    </div>

    <div id="container-traitement-data-from-master-ok" class="hidden">
        <div class="alert alert-success">
            Traitement des données reçues par le serveur: <strong>OK!</strong>
        </div>
    </div>

    <div id="container-traitement-data-from-master-ko" class="hidden">
        <div class="alert alert-danger">
            Traitement des données reçues par le serveur: <strong>Nom d'une pipe, ça n'a pas marché!</strong>
        </div>
    </div>

    {% if current_session %}
        <p>Dernières lignes du fichier de logs :</p>

        <code style="width=100%">
            {{ last_log_lines|raw}}
        </code>
    {% endif  %}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('pumastatic/js/synchro.js') }}"></script>
<script>
    $(document).ready(function () {
        var synchro_master_url = '{{synchro_master_url}}'; // the url of the master
        synchro = Synchro(synchro_master_url);
        synchro.exec('{{ cmd }}', '{{ arg }}');
    });
</script>
{% endblock %}
