{% extends 'base_references.html.twig' %}

{% block body %}
    <div class="sub-header">
        <div class="pull-xs-center">
            <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary"
                style="position:absolute;right:30px;">Export to Excel</button>
        </div>
    </div>
    <div class="sub-header">
        <h1>{{ "Liste des intrants pour les opérations culturales" | trans }}</h1>
        <div>
            <a href="{{ path('tbloperationculturaleintrant_new') }}" class="btn btn-primary" role="button">
                {{ "Ajouter un intrant" | trans }}
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">Actions</th>
                    <th>{{ "Nom" | trans }}</th>
                    <th>{{ "Type d'opération culturale" | trans }}</th>
                    <th>
                        <span style="color:#777">{{ "Catégorie du type d'opération culturale" | trans }}</span>
                        <span style="color:red">(ne plus utiliser)</span></th>
                    <th>{{ "Unité" | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tblOperationCulturaleIntrant in tblOperationCulturaleIntrants %}
                <tr class="index-row">
                    <td>
                        <a href="{{ path('tbloperationculturaleintrant_edit', { 'id': tblOperationCulturaleIntrant.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
                    <td>{{ tblOperationCulturaleIntrant.nom }}</td>
                    <td>
                        {% for oPType in tblOperationCulturaleIntrant.operationCulturaleType %}
                            {{ oPType }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td><span style="color:#777">{{ tblOperationCulturaleIntrant.operationCulturaleTypeCategory }}</span></td>
                    <td>{{ tblOperationCulturaleIntrant.unite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}