{% extends 'base.html.twig' %}

{% block body_navigation %}
    <h4>
        <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
            {{ 'exploitation'|trans }} {{ exploitation }}
        </a>
        |
        <a href="{{path('references_animaux_index',{'annee':annee, 'exploitation_id':exploitation_id})}}">
            F3 Troupeaux
        </a>
        |
        <a href="{{path('references_animaux_show',{'id': id, 'annee':annee, 'exploitation_id':exploitation_id})}}">
            Troupeau
        </a>
        |
        {% block subtitle_f2 %}{% endblock %}
        <span style="float:right;color: #0000cc;">{{ "Année" | trans }}:{{ annee }} {% if saison is defined %} {{ "Saison" | trans }}: {{ saison }}{% endif %} </span>

        <a href="{{ path('saisie_collect_exercice__edit', {'exploitation': exploitation.id, 'annee': annee, 'type': 3 }) }}" title="Modifier l'année d'exercice">
            <i class="glyphicon glyphicon-pencil btn btn-default btn-xs btn-primary"></i>
        </a>
    </h4>
{% endblock %}

{% block body %}
    {% block body_f2 %}
    {% endblock %}
{% endblock %}
