{% extends 'base.html.twig' %}

{% block body_navigation %}
    <h4>
        <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
            {{ 'exploitation'|trans }} {{ exploitation }}
        </a>
        |
        <a href="{{path('references_parcelles_index',{'annee':annee, 'exploitation':exploitation_id})}}">
            F2 Parcelles
        </a>
        |
        <a href="{{ path('references_parcelles_show',{ 'parcelle':parcelle_id, 'annee': annee, }) }}">{{ "Parcelle" | trans }}</a>
        |
        <a href="{{ path('references_parcellehistoriques_show',{ 'id':parcelleHistorique_id, 'annee': annee, 'exploitation_id':exploitation_id }) }}">Parcelle Historique </a>
        |
        {% block subtitle_f2 %}
        {% endblock %}

        <div class="exercice_saison">{{ "Année" | trans }}:{{ annee }}
            {% if saison is defined %}
                &nbsp; {{ "Saison" | trans }}: {{ saison }}
            {% endif %}

            <a href="{{ path('saisie_collect_exercice__edit', {'exploitation': exploitation.id, 'annee': annee, 'type': 2 }) }}" title="Modifier l'année d'exercice">
                <i class="glyphicon glyphicon-pencil btn btn-default btn-xs btn-primary"></i>
            </a>
        </div>
    </h4>
{% endblock %}

{% block body %}
    {% block body_f2 %}
    {% endblock %}
{% endblock %}
