{% extends 'base.html.twig' %}

{% block body_navigation %}
    <div class="navigation_helper">
        <div class="fil_ariane">
            <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
                {{ 'Exploitation'|trans }} {{ exploitation }}
            </a>
            |
            <a href="{{ path('references_exploitationplansaison_index',{'exploitation':exploitation_id,'annee':annee})}}">
                 {{ "F6. Planification de l'exploitation" | trans }}
            </a>
             |
            <a href="{{ path('references_exploitationplansaison_show',{'id':exploitationPlanSaison,'annee':annee})}}">
                {{ "Planification de la saison" | trans }}
            </a>
            {% block subtitle_f6 %}{% endblock %}
        </div>

        <div class="exercice_saison">
            {{ "Exercice" | trans }}:{{ annee }} {% if saison is defined %} {{ "Saison" | trans }}: {{ saison }}{% endif %}
        </div>
    </div>
{% endblock %}


{% block body %}
    {% block body_f0 %}
    {% endblock %}
{% endblock %}
