{% extends 'base.html.twig' %}

{% block body_navigation %}
    <div class="navigation_helper">
       {% if exploitation is defined %}
            <div class="fil_ariane">
                <a href="{{path('saisie_info_gen_sans_annee',{'exploitation':exploitation_id})}}">
                {{ 'Exploitation'|trans }} {{ exploitation }}
                </a>
                |
                <a href="{{path('references_exploitations_show_sans_annee',{'id':exploitation_id})}}">
                {{ 'Signaletique'|trans }}
                </a>
                |
            </div>
        {% endif %}
        {% block subtitle_f0 %}{% endblock %}

        {% if exploitation is defined %}
            <div class="last_udate">
            {{ "Dernière mise à jour le %date%" | trans({"%date%": exploitation.getLastUdate().format('d/m/Y') }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block body %}
    {% block body_f0 %}
    {% endblock %}
{% endblock %}
