{% if exploitation_id is not defined and exploitation is defined %}
    {% set exploitation_id = exploitation.id %}
{% endif %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ "Bienvenue" | trans }} !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('jquery/css/theme.bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('select2-4.0.10/css/select2.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('pumastatic/css/dashboard.css') }}" />
        <link rel="stylesheet" href="{{ asset('pumastatic/css/custom.css') }}" />

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        <link rel="icon" type="image/x-icon" href="{{ asset('pumastatic/images/puma-min-carre.gif') }}" />

        <link rel="stylesheet" href="{{ asset('leaflet/css/leaflet.css') }}" />
        <style>
            #map {
                height: 180px;
            }
        </style>
    {% endblock %}
</head>

<body>
    <nav
        class="navbar navbar-inverse navbar-fixed-top"
        {% if global_test_version %}
            style="background-color:#8b3a62"
        {% endif %} >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="puma-icon" src="{{ asset('pumastatic/images/puma-min.gif') }}" />
                <a class="navbar-brand" href="/">
                    <abbr title="{{ "Programme Unifié Monitoring Agricole" | trans }}">PUMA</abbr>
                    {% if global_test_version %}
                        <span class="title-version">Test</span>
                    {% else %}
                        <span class="title-version">V2</span>
                    {% endif %}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% block sidebar2 %}
                    <ul class="nav navbar-nav navbar-right" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{ "Exploitations" | trans }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item"
                                                href="{{ path('saisie_new_exp_getcolline') }}">{{ "Création d'une exploitation" | trans }}
                                        </a></li>
                                        <li><a class="dropdown-item"
                                                href="{{ path('saisie_recherche') }}">{{ "Recherche exploitation(s)" | trans }}
                                        </a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{ "Groupements" | trans }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item"
                                                href="{{ path('choose_a_coop_then', {'next': 'references_tblorganisations_new_with_parent'}) }}">{{ "Création d'un groupement" | trans }}</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="{{ path('references_tblorganisations_level',{'level':2})}}">{{ "Liste des groupements" | trans }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "Coopératives" | trans }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item"
                                                href="{{ path('references_tblorganisations_new',{'objet':'cooperative'})}}">{{ "Création d'une coopérative" | trans }}
                                        </a></li>
                                        <li><a class="dropdown-item"
                                                href="{{ path('references_tblorganisations_index')}}">{{ "Liste des coopératives" | trans }}
                                        </a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">{{ "Requêtes" | trans }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item" href="{{ path("consultation") }}">{{ "Consultations" | trans }}</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{{ path("rapports") }}">{{ "Rapports" | trans }}</a></li>
                                    </ul>
                                </div>
                            </li>

                            {% if is_granted("ROLE_ADMIN") %} {# Only admin can see this section #}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                    href="{{ path('admin_base') }}" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">{{ "Admin" | trans }}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item"
                                                href="{{ path('admin_base') }}">{{ "Base" | trans }}</a></li>
                                        <li><a class="dropdown-item"
                                                href="{{ path('admin_references') }}">{{ "References" | trans }}</a></li>
                                        <li><a class="dropdown-item"
                                                href="{{ path('admin_users') }}">{{ "Utilisateurs" | trans }}</a></li>
                                    </ul>
                                </div>
                            </li>

                            {% endif %}

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                    href="{{ path('admin_base') }}" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul>
                                        <li>
                                            <a class="dropdown-item" href="{{ path('user_security_logout') }}">
                                                <span class="glyphicon glyphicon-off"></span>
                                                {{ 'Se déconnecter'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ path('user_security_login') }}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    {{ 'Se connecter'|trans }}
                                </a>
                            </li>
                            {% endif %}

                            {% if global_available_languages|length == 1 %}
                                <li>
                                    <a class="nav-link lang-selection" href="">
                                        {{ global_available_languages[0] | upper }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a
                                        class="nav-link lang-selection dropdown-toggle" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="more">
                                            {{ app.request.locale | upper }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <ul>
                                            {% for lang in global_available_languages  %}
                                                <li {% if lang == app.request.locale %}class="active"{% endif %}>
                                                    <a  class="dropdown-item"
                                                        href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : lang})) }}">
                                                        {{ lang | upper }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}

                        </ul>
                    </ul>
                {% endblock %}
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <h1>{% block body_title %}{% endblock %}</h1>

            {% block body_navigation %}
            {% endblock %}

            <div id="content" class="col-sm-12 col-md-12 main">
                {% set synchro_is_running = app.session.get('synchro_is_running') %}

                {% block warning_synchro_is_running %}
                    {% if synchro_is_running %}
                        <div class="alert alert-danger">
                            <strong>{{ "Attention," | trans }} </strong>
                            {{ "un processus de syncrhonisation est en cours." | trans }}
                            {{ "Il est donc" | trans }} <strong>{{ "impossible de sauvergarder des données" | trans }}</strong>.
                        </div>
                    {% endif %}
                {% endblock %}

               {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        {% if label == 'error' %}
                            {% set label = 'danger' %}
                        {% endif %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% include 'licence.html.twig' %}

    <script src="{{ asset('jquery/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>
    <script src="{{ asset('select2-4.0.10/js/select2.min.js') }}"></script>
    <script src="{{ asset('leaflet/js/leaflet.js') }}"></script>

    <script src="{{ asset('build/app.js') }}"></script>


    <script>
        // code to activate select2

        $(function () {
            // code executed when the DOM is loaded ( equivalent to $document.ready )

            $(".select2").each(function (index, item) {
                $(item).select2();
            });
        });
    </script>

    {% block javascripts %}
    {% endblock %}

</body>
</html>