{% extends 'base.html.twig' %}

{% block body_navigation %}
    <div class="navigation_helper">
        <div class="fil_ariane">
            <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
                {{ 'Exploitation' | trans }} {{ exploitation }}
            </a>
            |
            <a href="{{path('saisie_f4_membre',{'annee':annee, 'id':exploitation_id})}}">
                F4 Crédits
            </a>
            |
            {% block subtitle_f0 %}{% endblock %}
        </div>

        <div class="exercice_saison">
            {{ "Exercice" | trans }}:{{ annee }} {% if saison is defined %} {{ "Saison" | trans }}: {{ saison }}{% endif %}

            <a href="{{ path('saisie_collect_exercice__edit', {'exploitation': exploitation.id, 'annee': annee, 'type': 4 }) }}" title="Modifier l'année d'exercice">
                <i class="glyphicon glyphicon-pencil btn btn-default btn-xs btn-primary"></i>
            </a>
        </div>
    </div>
{% endblock %}


{% block body %}
    {% block body_f0 %}
    {% endblock %}
{% endblock %}
