{% extends 'base.html.twig' %}
{% if exploitation_id is not defined and exploitation is defined %}
    {% set exploitation_id = exploitation.id %}
{% endif %}

{% block body_navigation %}
    <div class="navigation_helper">
        <div class="fil_ariane">
            <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
                {{ 'Exploitation'|trans }} {{ exploitation }}
            </a>
            |
            <a href="{{path('references_parcelles_index',{'annee':annee, 'exploitation':exploitation_id})}}">
                F2 Parcelles
            </a>
            |
            {% block subtitle_f2 %}{% endblock %}
        </div>

        <div class="exercice_saison">
            {{ "Exercice" | trans }}: {{ annee }} {% if saison is defined %} {{ "Saison" | trans }}: {{ saison }}{% endif %}

            <a href="{{ path('saisie_collect_exercice__edit', {'exploitation': exploitation.id, 'annee': annee, 'type': 2 }) }}" title="Modifier l'année d'exercice">
                <i class="glyphicon glyphicon-pencil btn btn-default btn-xs btn-primary"></i>
            </a>
        </div>
    </div>
{% endblock %}


{% block body %}
    {% block body_f2 %}
    {% endblock %}
{% endblock %}
