{% extends 'base.html.twig' %}

{% block title %}
    {{ "Références" | trans }}
{% endblock %}

{% block body_navigation %}
    <div class="navigation_helper">
        <div class="fil_ariane">
            <a href="{{path('admin_references')}}">
                {{ 'Retour à la liste \'References\''|trans }}
            </a>
            {% set _block_subtitle_ref = block('subtitle_ref') %}
            {% if _block_subtitle_ref is not empty %} | {% endif %}
            {% block subtitle_ref %}{% endblock %}
        </div>

    </div>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if label == 'error' %}
                {% set label = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body_ref %}
    {% endblock %}
    <script src="{{ asset('jquery/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% block javascripts %}
{% endblock %}

{% endblock %}
