{% extends 'base.html.twig' %}

{% block title %}
    F0 - {{ "Profil de l'exploitation et du ménage" | trans }}
{% endblock %}

{% block body_navigation %}
    <div class="navigation_helper">
        <div class="fil_ariane">
            <a href="{{path('saisie_info_gen',{'exploitation':exploitation_id,'annee':annee})}}">
                {{ 'Exploitation'|trans }} {{ exploitation }}
            </a>
            |
            <a href="{{path('saisie_f0_membre',{'annee':annee, 'id':exploitation_id})}}">
                F0 - {{ "Profil de l'exploitation et du ménage" | trans }}
            </a>
            {% set _block_subtitle_f0 = block('subtitle_f0') %}
            {% if _block_subtitle_f0 is not empty %} | {% endif %}
            {% block subtitle_f0 %}{% endblock %}
        </div>

        <div class="exercice_saison">
            {{ "Exercice" | trans }}:{{ annee }} {% if saison is defined %} {{ "Saison" | trans }}: {{ saison }}{% endif %}

            <a href="{{ path('saisie_collect_exercice__edit', {'exploitation': exploitation.id, 'annee': annee, 'type': 0 }) }}" title="Modifier l'année d'exercice">
                <i class="glyphicon glyphicon-pencil btn btn-default btn-xs btn-primary"></i>
            </a>
        </div>
    </div>
{% endblock %}


{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if label == 'error' %}
                {% set label = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body_f0 %}
    {% endblock %}
{% endblock %}
