{% extends 'base.html.twig' %}

{% block title %}Erreur : {{ titre }}{% endblock %}

{% block warning_synchro_is_running %}
{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <strong>{{ titre }}</strong>
        <p>
            {{ message }}
        </p>
    </div>
{% endblock %}
