<div class="fil_ariane">
    {%  for e in fil_elems %}
        {% if loop.first %}>{% endif %}
        <a {% if loop.last %}class="last"{% endif %} href="{{ e.url }}">{{ e.name}}</a>
        {% if not loop.last %}>{% endif %}
    {% endfor %}
</div>