<div style="text-align: center; background-color: black; color: white;"> 
    <p><span>PUMA2</span> {{ "est un logiciel libre"|trans }} ({{ "licence"|trans }} <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">AGPLv3</a>).</span></p>
    <p>{{ "Ce logiciel a été créé par l'"|trans }}
        <a href="http://csa-be.org/" target="_new">{{ "asbl Collectif Stratégies Alimentaires"|trans }}</a>
        {{ "fondé sur une œuvre de la "|trans }}<a href="http://www.capad.info/" target="_new">CAPAD</a>.</p>
</div>

