{% extends 'base_references.html.twig' %}




{% block body %}
    <h1>TblContraints</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblContraint.id }}</td>
            </tr>
            <tr>
                <th>Contraint</th>
                <td>{{ tblContraint.contraint }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblContraint.cdate %}{{ tblContraint.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblContraint.udate %}{{ tblContraint.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblContraint.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tblcontraints_edit', { 'id': tblContraint.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
