{% extends 'base.html.twig' %}
 



{% block body %}
    <div class="sub-header">
   <h4>Filieres {{ 'Liste'|trans }}&nbsp;</h1>		
	<div>
            <a href="{{ path('references_filieres_new',{ 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee}) }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Année'|trans }}</th>    
                    <th>{{ 'Surface'|trans }}</th>    
                    <th>{{ 'Quantité'|trans }}produit</th>    
                    <th>{{ 'Unité'|trans }}calcul</th>    
                </tr>
            </thead>
            <tbody>
            {% for filiere in filieres %}
                <tr class="index-row">                
                	<td>                            
                        <a href="{{ path('references_filieres_show', { 'id': filiere.id , 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee}) }}"> 
                            <i class="glyphicon glyphicon-eye-open"></i>                            
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('references_filieres_edit', { 'id': filiere.id, 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}">                    			
                            <i class="glyphicon glyphicon-pencil"></i>                            
                        </a><span>&nbsp;</span>                        
                        <span class="hidden">{{ filiere.id }}</span> 
                    </td>
                    <td>{{ filiere.annee }}</td>    
                    <td>{{ filiere.surface }}</td>    
                    <td>{{ filiere.quantiteProduit }}</td>    
                    <td>{{ filiere.uniteCalcul }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

