{% extends 'base.html.twig' %}
 



{% block body %}
   <h4>{{ 'Filieres'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ filiere.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Surface'|trans }}</th>
                <td>{{ filiere.surface }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantité'|trans }}produit</th>
                <td>{{ filiere.quantiteProduit }}</td>
            </tr>
            <tr>
                <th>{{ 'Unité'|trans }}calcul</th>
                <td>{{ filiere.uniteCalcul }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_filieres_edit', { 'id': filiere.id, 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
