{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
 


{% block body %}
	<div class="sub-header">
	<h1>'MoToutesApplis'|trans }} {{ 'Liste'|trans }}&nbsp;</h1>		
    <div>
            <a href="{{ path('references_motoutesapplis_new',{'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                {{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Unité'|trans }}</th>    
                    <th>{{ 'Quantité'|trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for moToutesAppli in moToutesApplis %}
                <tr class="index-row">                
                	<td>                            
                        <a href="{{ path('references_motoutesapplis_show', { 'id': moToutesAppli.id,'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee  }) }}"> 
                            <i class="glyphicon glyphicon-eye-open"></i>                            
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('references_motoutesapplis_edit', { 'id': moToutesAppli.id, 'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee }) }}">                    			
                            <i class="glyphicon glyphicon-pencil"></i>                            
                        </a><span>&nbsp;</span>                        
                        <span class="hidden">{{ moToutesAppli.id }}</span> 
                    </td>
                    <td>{{ moToutesAppli.unite }}</td>    
                    <td>{{ moToutesAppli.quantite }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

