{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
 


{% block body %}
    <h1>{{ 'Création'|trans }}&nbsp;{{ 'MoToutesApplis'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
