{% extends 'base.html.twig' %}
{% set menu_selected = 'info_gen' %}
 


{% block body %}
    <h1>{{ 'MoToutesApplis'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moToutesAppli.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Unité'|trans }}</th>
                <td>{{ moToutesAppli.unite }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantité'|trans }}</th>
                <td>{{ moToutesAppli.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_motoutesapplis_edit', { 'id': moToutesAppli.id, 'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
