{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% set exploitation = personne.exploitation %}
{% set exploitation_id = exploitation.id %}

{% block subtitle_f0 %}
    <h4> {{ 'Personne'|trans }} </h4>
{% endblock %}

{% block body_f0 %}

    <div id="current-photo">
        <h5>{{ "Photo enregistrée" | trans }} </h5>
        {% if personne.photo %}
            <div style="text-align:center;">
                <img style="width:50%" src="{{ personne.getPhotoUrl(personnes_photo_webdir) }}" alt="Photo de {{ personne }}" />
            </div>
        {% else %}
            {{ "Pas de photo" | trans }}
        {% endif %}
    </div>

    <h5>{{ "Charger une nouvelle photo" | trans }} </h5>
    
    <div id="camera" style="text-align:center;">
        <p>
            <button id="run-camera-button" class="btn btn-primary">{{ "Allumer l'appareil photo" }}</button>
        </p>
        <p>
            <button id="take-picture-button" class="btn btn-primary">{{ "Prendre la photo" }}</button>
        </p>
        <p>
            <button id="upload-picture-button" class="btn btn-success">{{ "Sauvegarder la photo" }}</button>
        </p>
        <video id="camera-video" class="videostream" autoplay=""></video>
        <img id="camera-img" />
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let uploadUrl = "{{ path("references_personnes_edit_photo_upload", {'id': personne.id}) }}";
    </script>
    <script src="{{ asset('pumastatic/js/upload_personnes_photo.js') }}"></script>
{% endblock %}