{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% set exploitation = personne.exploitation %}
{% set exploitation_id = exploitation.id %}

{% block subtitle_f0 %}
{% endblock %}

{% block body_f0 %}
    <h4> {{ 'Personne'|trans }} </h4>
    {% if personne.rolFamille == 'Conjoint' %}
        <h4>032. {{ 'Identité du conjoint du membre producteur/trice'|trans }}  ({{ 'Modification'|trans }})</h4>
    {% else %}
        <h4>031. {{ 'Identité du membre producteur/trice'|trans }} ({{ 'Modification'|trans }})</h4>
    {% endif %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
			<input name="exploitation_id" value="{{exploitation.id}}" type="hidden">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>

        {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
	<h3>{{ "Détails de la Personne - Historique" }}</h3>

    <div class="alert alert-info">
        {{ "Pour ajouter des données, veuillez passser par le formulaire F0" | trans }}
    </div>

    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th>{{ "Année" | trans }}</th>
                    <th>{{ "Kirundi lire" | trans }}</th>
                    <th>{{ "Kirundi écrire" | trans }}</th>
                    <th>{{ "Francais lire" | trans }}</th>
                    <th>{{ "Francais écrire" | trans }}</th>
                    <th>{{ "Primaire" | trans }}</th>
                    <th>{{ "Secondaire" | trans }}</th>
                    <th>{{ "Diplôme" | trans }}</th>
                    <th class="filter-false tablesorter-noSort">{{ 'Mise à jour (via la fiche F0)' | trans }}</th>
                 </tr>
            </thead>
            <tbody>
            {% for personneDetail in personneDetails %}
                <tr class="index-row">
                    <td>{{ personneDetail.annee }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.kirundiLire) }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.kirundiEcrire) }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.francaisLire) }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.francaisEcrire) }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.primaire) }}</td>
                    <td>{{ personneDetail.yesNoUndefinedInStr(personneDetail.secondaire) }}</td>
                    <td>{{ personneDetail.getDiplomeInString() }}</td>
                    <td>
                        <a href="{{ path('references_personnedetails_edit', { 'id': personneDetail.id, 'annee':personneDetail.annee, 'exploitation_id': exploitation.id }) }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}
