{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% set exploitation = personne.exploitation %}
{% set exploitation_id = exploitation.id %}

{% block subtitle_f0 %}
    <h4>{{ "Ajout d'un co-exploitant"|trans  }}
    <img src="/pumastatic/images/help/iconne.jpg" onClick="change_visibility();"></img></h4>
{% endblock %}

{% block body_f0 %}
    <div id="help" class="aide">
        <h5><b>Ajout d'un co-exploitant</b></h5>
        <p>Les champs Nom et Prénom sont obligatoires et ils acceptent seulement des lettres et des spaces.</p>
        <p>Si vous avez une photo de la personne concernée dans votre tablette et elle est moins petite que 3 MB, vous pouvez la uploader vers le serveur.</p>
        <p>La date de naissance est obligatoire.</p>
        <p>N'oubliez pas que l'exploitation peut avoir un seul répondant et un seul chef de famille.</p>
        <p>Dans l'exploitation il doit avoir toujours un chef de famille, même s'il y a un seule co-exploitant et célibataire</p>
    </div>
	<div id="container" onClick="toggle_visibility();">
    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}" />
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
<script src="{{ asset('pumastatic/js/show_aide.js') }}"></script>    
{% endblock %}