{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{#{% set exploitation = personne.exploitation %}#}
{#{% set exploitation_id = exploitation.id %}#}

{% block subtitle_f0 %}
    {{ 'Personne' | trans }}
{% endblock %}

{% block body_f0 %}
    <h4>{{ 'Ajout d\'une personne'|trans  }}</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}
{% endblock %}
