{% extends 'base.html.twig' %}
 



{% block body %}

    <h4>{{ 'Personne'|trans }}</h4>

    <table>
        <tbody>
            <tr>
                <th class="suivis">{{ 'Contact'|trans }}</th>
                <td>{{ personne.contact }}</td>
            </tr>
            <tr>
                <th class="suivis">{{ 'Nom'|trans }}</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th class="suivis">{{ 'Prénom'|trans }}</th>
                <td>{{ personne.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_personnes_contactedit', { 'id': personne.id}) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
