{% extends 'base.html.twig' %}
 

{% block body %}
	<h4 class="suivis">{{ 'Suivi Organisation'|trans }} {{ 'Edition'|trans }}&nbsp;</h4>
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
	<div>

        <table>
			<tr><td><h4>{{ 'Année'|trans }}</h4></td>
                <td>{{ form_widget(edit_form.annee) }}</td>
                <td colspan=4></td>
			<tr>
				<td colspan=6>
					<h4 class="suivis">I. {{ 'INDICATEURS INSTITUTIONNELS'|trans }}</h4>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ form_label(edit_form.existenceROI) }}</th>
        		<th class="suivis" colspan=2>{{ 'Existence des organes'|trans }}:</th>
				<th class="suivis" colspan=2>{{ 'Nombre de réunions année anterieur'|trans }}:</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{ form_widget(edit_form.existenceROI) }}</td>
				<td class="suivis" colspan=2><b> {{ 'Comité'|trans }}</b>{{ form_widget(edit_form.existenceCE) }}</td>
				<td class="suivis" colspan=2>
					<b>AG</b>{{ form_widget(edit_form.nbrReunionsAG) }}<br>
					<b>Comité</b>{{ form_widget(edit_form.nbrReunionsCE) }}<br>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Année de rénouvellement'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Mobilisations communautaires'|trans }}
					<a href="{{ path('references_mobilisationscommunautaires_new', { 'suivi_id':suiviOrganisation.id }) }}">{{ 'Nouveau élément'|trans }}</a></th>
				<th class="suivis" colspan=2>{{ 'Participation activités coopérative'|trans }}</th>
			</tr>
			<tr>
				<td class="suivis" colspan=2><b>{{ 'Comité'|trans }}</b> form_widget(edit_form.anneeRenouvellementCe) </td>
        		<td class="suivis" colspan=2>
				{% for mobilisation in mobilisations %}
					<input id="{{mobilisation.id}}" value="{{ mobilisation.mobilisation }}" size=50>
					<a href="{{ path('references_mobilisationscommunautaires_show', { 'id': mobilisation.id }) }}">
                    	<i class="glyphicon glyphicon-eye-open"></i></a>
							<span>&nbsp;</span>
						<a href="{{ path('references_mobilisationscommunautaires_edit', { 'id': mobilisation.id }) }}">
						<i class="glyphicon glyphicon-pencil"></i></a>
						<span>&nbsp;</span>
						<span class="hidden">{{ mobilisation.id }}</span><br>
				{% endfor %}
				</td>
				<td class="suivis" colspan=2>{ { form_widget(edit_form.participationActivitesParent) } }</td>
        	</tr>
    		<tr>
				<td colspan=6>
					<h4 class="suivis">II. {{ 'INDICATEURS DE GESTION ADMINISTRATIVE'|trans }}</h4>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Classements:'|trans }}:</th>
				<th class="suivis" colspan=2>{{ 'liste de membres'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'PV de réunions'|trans }}</th>
			</tr>
			<tr>
				<td class="suivis"  colspan=2> {{ form_widget(edit_form.classement) }} </td>
				<td class="suivis"  colspan=2>{{form_widget(edit_form.majListeDeMembres )}}</td>
				<td class="suivis"  colspan=2><b>{{ 'AG'|trans }}</b>{{form_widget(edit_form.regAnnuPVReunionsAG)}}</td>
			</tr>
			<tr>
				<td class="suivis"  colspan=2></td>
				<td class="suivis"  colspan=2><b>{{ 'Rapport annuel d\'activités'|trans }}</b>
				{{form_widget(edit_form.rapportAnnuelActivites)}}</td>
				<td class="suivis"  colspan=2><b>{{ 'Comité'|trans }}</b>{{form_widget(edit_form.regAnnuPVReunionsCE)}}</td>
			</tr>
			<tr>
				<td class="suivis"  colspan=2><b>{{ 'Plan d\'action annuel'|trans }}</b>
						{{form_widget(edit_form.planActionAnnuel)}}
				</td>
				<td class="suivis"  colspan=2></td>
				<td class="suivis"  colspan=2></td>
			</tr>
			<tr>
				<td colspan=6>
					<h4 class="suivis">III. {{ 'INDICATEURS DE GESTION FINANCIERES'|trans }}</h4>
				</td>
			</tr>

			<tr>
				<th class="suivis" colspan=2>{{ 'Compte bancaire'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Institution où le compte est ouvert'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Signature(s) pour sortie de fonds'|trans }}</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.compteBancaire)}}</td>
				<td class="suivis" colspan=2>{{form_widget(edit_form.institutionBancaire)}}</td>
				<td  class="suivis" colspan=2>{{form_widget(edit_form.signaturesPourSortieFonds)}}</td>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Enregistrement'|trans }} {{ 'Cotisations'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Solde année'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Carnet de reçus'|trans }}</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.enregistrementCotisations)}}</td>
				<td class="suivis" colspan=2>{{form_widget(edit_form.soldeAnneeAvant)}}</td>
				<td  class="suivis" colspan=2>{{form_widget(edit_form.carnetRecus)}}</td>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Livret de societaire'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Livre de caisse'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Rapports finnacières annuels'|trans }}</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.livretSocietaire)}}</td>
				<td class="suivis" colspan=2>{{form_widget(edit_form.livreCaisse)}}</td>
				<td  class="suivis" colspan=2>{{form_widget(edit_form.rapportsFinanciereAnnuel)}}</td>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Classement de justificatifs'|trans }}</th>
				<th class="suivis" colspan=2></th>
				<th  class="suivis" colspan=2></th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.classementJustificatifs)}}</td>
				<td class="suivis" colspan=2></td>
				<td  class="suivis" colspan=2></td>
        	</tr>
			<tr>
				<td colspan=6>
					<h4 class="suivis">IV. {{ 'INDICATEURS ORGANISATIONNELS ET SOURCES DE REVENUS'|trans }}</h4>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Besoins en intrans'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Groupage des produits commercialisés'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Chaine de solidarité élevage'|trans }}</th>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Recouvrement des crédits'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Collecte'|trans }} {{ 'des'|trans }} {{ 'Cotisations'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Montant'|trans }} {{ 'des'|trans }} {{ 'Cotisations'|trans }} {{ 'année précedente'|trans }}</th>
        	</tr>
			<tr><td colspan=6><h4 class="suivis">V. {{ 'INDICATEURS DE FINANCEMENTS'|trans }}</td></tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Membres ayant contracté un crédit année précedent'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Institution qui a octroyé le crédit à membres'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Crédits contactés par la coopérative'|trans }}</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.membresContracteCredit)}}</td>
				<td class="suivis" colspan=2>{{form_widget(edit_form.institutionCreditMembres)}}</td>
				<td  class="suivis" colspan=2>{{form_widget(edit_form.creditPourOrganisationMontant)}}</td>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Montant total'|trans }}</th>
				<th class="suivis" colspan=2>{{ 'Montant total si coopérative'|trans }}</th>
				<th  class="suivis" colspan=2>{{ 'Institution financière pour le groupement'|trans }}</th>
        	</tr>
			<tr>
				<td class="suivis" colspan=2>{{form_widget(edit_form.membresCreditMontant)}}</td>
				<td class="suivis" colspan=2>{ {form_widget(edit_form.montantFinancement)} }</td>
				<td  class="suivis" colspan=2>{{form_widget(edit_form.institutionFinancementCreditOrg)}}</td>
        	</tr>
			<tr>
				<td colspan=6><h4 class="suivis">VI. {{ 'MOYENS D\'ACTION DISPONIBLES'|trans }}</h4>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Infrastructures'|trans }}
					{{ form_widget(edit_form.infrastructures )}}
				</th>
				<th class="suivis" colspan=2>{{ 'Materiel'|trans }} roulant
					{{ form_widget(edit_form.materielRoulant) }}
				</th>
				<th  class="suivis" colspan=2>Nombre personnel salarié</th>
        	</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Unités de transformation'|trans }}
					{{ form_widget(edit_form.uniteDeTransformation) }}
				</th>
				<th class="suivis" colspan=2>{{ 'Materiel de bureau'|trans }}
					{{ form_widget(edit_form.materielDeBureau) }}
				</th>
				<th  class="suivis" colspan=2>{{ 'EquipementAgricole'|trans }}
					{{ form_widget(edit_form.equipementAgricole) }}
				</th>
        	</tr>
			<tr>
				<td colspan=6>
					<h4 class="suivis">VII. {{ 'BESOINS ADRESSES A LA CAPAD POUR LES 3 PROCHAINNES ANNEES'|trans }}</h4>
				</td>
			</tr>
			<tr>
				<th class="suivis" colspan=2>{{ 'Besoins de formations'|trans }}
					{{ form_widget(edit_form.besoinsFormation )}}
				</th>
				<th class="suivis" colspan=2>{{ 'Besoins institutionnel'|trans }}
					{ { form_widget(edit_form.besoinsInstitutionnels )} }
				</th>
				<th  class="suivis" colspan=2>{{ 'Service aux membres'|trans }}
					{{ form_widget(edit_form.besoinsServicesAuxMembres )}}
				</th>
        	</tr>
		</table>
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
	{{ form_end(edit_form) }}
    <div>
	{% if delete_form is defined %}
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
	{% endif %}
    </div>
{% endblock %}
