{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{ 'Édition du suivi de la coopérative' }} {{ suiviOrganisation.organisation }} - {{ suiviOrganisation.annee }}</h1>

    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}


    <div class="container-fluid">

        <div>
            {{ form_row(edit_form.annee) }}
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">I. {{ 'INDICATEURS INSTITUTIONNELS'|trans }}</h4>
            </div>
        </div>

        <div calss="row">
            <div class="col-md-12">
                {{ form_row(edit_form.niveauxReconnaissance) }}

                {{ form_row(edit_form.existenceStatus) }}

                {{ form_row(edit_form.existenceROI) }}

                <h5>{{ "Existence des organes" | trans }}</h5>

                <div class="h5-content">
                    {{ form_row(edit_form.existenceCE) }}
                    {{ form_row(edit_form.existenceCS) }}
                </div>

                <h5>{{ "Nombre de réunions sur les trois dernières années" | trans }}</h5>

                <div class="h5-content">
                    {{ form_row(edit_form.nbrReunionsAG) }}
                    {{ form_row(edit_form.nbrReunionsCE) }}
                    {{ form_row(edit_form.nbrReunionsCS) }}
                </div>

                <h5>{{ "Nombre d'alternance de président depuis la création" | trans }}</h5>

                <div class="h5-content">
                    {{ form_row(edit_form.alternanceCENbr) }}
                    {{ form_row(edit_form.alternanceCSNbr) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">II. {{ 'INDICATEURS DE GESTION ADMINISTRATIVE'|trans }}</h4>
            </div>
        </div>

        <div calss="row">
            <div class="col-md-12">
                {{ form_row(edit_form.classement) }}
                {{ form_row(edit_form.evolutionNbrMembres) }}
                {{ form_row(edit_form.nombreTotalMembres) }}
                {{ form_row(edit_form.majListeDeMembres) }}

                <h5>{{ "Nombre de PV manquants" | trans }}</h5>

                <div class="h5-content">
                    {{ form_row(edit_form.nbrPVManquantsAG) }}
                    {{ form_row(edit_form.nbrPVManquantsCE) }}
                    {{ form_row(edit_form.nbrPVManquantsCS) }}
                </div>

                {{ form_row(edit_form.planStrategiquePluriannuel) }}
                {{ form_row(edit_form.rapportSuiviPlanStrategique) }}


                {{ form_row(edit_form.rapportAnnuelActivites) }}
                {{ form_row(edit_form.planActionAnnuel) }}


            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">III. {{ 'INDICATEURS DE GESTION FINANCIÈRE ET COMPTABLE'|trans }}</h4>
            </div>
        </div>

        <div calss="row">
            <div class="col-md-12">
                {{ form_row(edit_form.comptabilite) }}
                {{ form_row(edit_form.signaturesPourSortieFonds) }}
                {{ form_row(edit_form.budget) }}
                {{ form_row(edit_form.chiffreAffaireParMembre) }}
                {{ form_row(edit_form.chiffreDAffaires) }}

                {{ form_row(edit_form.degrePriseEnChargeAG)}}
                {{ form_row(edit_form.degrePriseEnChargeCE)}}
                {{ form_row(edit_form.degrePriseEnChargeCS)}}

                {{ form_row(edit_form.compteBancaire) }}
                {{ form_row(edit_form.enregistrementCotisations) }}

                {{ form_row(edit_form.livretSocietaire) }}
                {{ form_row(edit_form.classementJustificatifs) }}

                {{ form_row(edit_form.institutionBancaire) }}


                {{ form_row(edit_form.soldeAnneeAvant) }}
                {{ form_row(edit_form.livreCaisse) }}

                {{ form_row(edit_form.carnetRecus) }}
                {{ form_row(edit_form.rapportsFinanciereAnnuel)}}
                {{ form_row(edit_form.auditAnnuelDesComptes)}}
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">IV. {{ 'INDICATEURS ORGANISATIONNELS ET SOURCES DE REVENUS'|trans }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(edit_form.nombreMembresPayantsCotisation )}}
                {{ form_row(edit_form.ristourneParMembre )}}

                {{ form_row(edit_form.montantTotalCotisations )}}
                {{ form_row(edit_form.montantServicesPayesParMembres )}}
                {{ form_row(edit_form.montantServicesPayesParTiers )}}

                {{ form_row(edit_form.servicesAuxMembres1) }}
                {{ form_row(edit_form.servicesAuxMembres2) }}
                {{ form_row(edit_form.servicesAuxMembres3) }}

                {{ form_row(edit_form.servicesPayesParMembres1) }}
                {{ form_row(edit_form.servicesPayesParMembres2) }}
                {{ form_row(edit_form.servicesPayesParMembres3) }}

                {{ form_row(edit_form.servicesPayesParTiers1) }}
                {{ form_row(edit_form.servicesPayesParTiers2) }}
                {{ form_row(edit_form.servicesPayesParTiers3) }}



                {{ form_row(edit_form.nbrMUSO) }}
                {{ form_row(edit_form.montantEpargneMUSO) }}

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">V. {{ 'INDICATEURS DE FINANCEMENTS'|trans }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(edit_form.affiliationFederation) }}
                {{ form_row(edit_form.nbrContratsAvecActeursEco) }}
                {{ form_row(edit_form.nbrCreditAuxMembresParIMFOuBanque) }}
                {{ form_row(edit_form.membresContracteCredit) }}
                {{ form_row(edit_form.membresCreditMontant) }}
                {{ form_row(edit_form.institutionCreditMembres) }}
                {{ form_row(edit_form.nbrCreditAvecIMFOuBanque)}}
                {{ form_row(edit_form.creditPourOrganisationMontant)}}
                {{ form_row(edit_form.institutionFinancementCreditOrg) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">VI. {{ "MOYENS D'ACTION DISPONIBLES"|trans }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(edit_form.infrastructures) }}
                {{ form_row(edit_form.materielRoulant) }}
                {{ form_row(edit_form.uniteDeTransformation) }}
                {{ form_row(edit_form.materielDeBureau) }}
                {{ form_row(edit_form.equipementAgricole) }}
                {{ form_row(edit_form.nbrPersonnelAdmin) }}
                {{ form_row(edit_form.nbrPersonnelTechnique) }}
                {{ form_row(edit_form.nbrPersonnelAppui) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="suivis">VII. {{ 'BESOINS ADRESSÉS A LA CAPAD'|trans }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(edit_form.besoinsFormation ) }}
                {{ form_row(edit_form.besoinsServicesAuxMembres ) }}
            </div>
        </div>
    </div>
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}
    <div>
        {% if delete_form is defined %}
            {{ form_start(delete_form) }}
                <div class="form-group">
                    <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
                </div>
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
