{% extends 'base.html.twig' %}
 



{% block body %}
    <h4>SuiviOrganisations</h4>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suiviOrganisation.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ suiviOrganisation.annee }}</td>
            </tr>
            <tr>
                <th>Existenceroi</th>
                <td>{{ suiviOrganisation.existenceROI }}</td>
            </tr>
            <tr>
                <th>Existencestatus</th>
                <td>{{ suiviOrganisation.existenceStatus }}</td>
            </tr>
            <tr>
                <th>Existencece</th>
                <td>{{ suiviOrganisation.existenceCE }}</td>
            </tr>
            <tr>
                <th>Existencecs</th>
                <td>{{ suiviOrganisation.existenceCS }}</td>
            </tr>
            <tr>
                <th>Participationactivitesparent</th>
                <td>{ { suiviOrganisation.participationActivitesParent } }</td>
            </tr>
            <tr>
                <th>nbrReunionsAG</th>
                <td>{{ suiviOrganisation.nbrReunionsAG }}</td>
            </tr>
            <tr>
                <th>nbrReunionsCE</th>
                <td>{{ suiviOrganisation.nbrReunionsCE }}</td>
            </tr>
            <tr>
                <th>nbrReunionsCS</th>
                <td>{{ suiviOrganisation.nbrReunionsCS }}</td>
            </tr>
            <tr>
                <th>Listedemembres</th>
                <td>{{ suiviOrganisation.listeDeMembres }}</td>
            </tr>
            <tr>
                <th>Classement</th>
                <td>{{ suiviOrganisation.classement }}</td>
            </tr>
            <tr>
                <th>Classclasseur</th>
                <td>{{ suiviOrganisation.classClasseur }}</td>
            </tr>
            <tr>
                <th>Classregistre</th>
                <td>{{ suiviOrganisation.classRegistre }}</td>
            </tr>
            <tr>
                <th>Classrien</th>
                <td>{{ suiviOrganisation.classRien }}</td>
            </tr>
            <tr>
                <th>Pvreunionsag</th>
                <td>{{ suiviOrganisation.pvReunionsAg }}</td>
            </tr>
            <tr>
                <th>Pvreunionsce</th>
                <td>{{ suiviOrganisation.pvReunionsCe }}</td>
            </tr>
            <tr>
                <th>Pvreunionscs</th>
                <td>{{ suiviOrganisation.pvReunionsCs }}</td>
            </tr>
            <tr>
                <th>Planactionannuel</th>
                <td>{{ suiviOrganisation.planActionAnnuel }}</td>
            </tr>
            <tr>
                <th>Rapportannuelactivites</th>
                <td>{{ suiviOrganisation.rapportAnnuelActivites }}</td>
            </tr>
            <tr>
                <th>Comptebancaire</th>
                <td>{{ suiviOrganisation.compteBancaire }}</td>
            </tr>
            <tr>
                <th>Soldeanneeavant</th>
                <td>{{ suiviOrganisation.soldeAnneeAvant }}</td>
            </tr>
            <tr>
                <th>Signaturespoursortiefonds</th>
                <td>{{ suiviOrganisation.signaturesPourSortieFonds }}</td>
            </tr>
            <tr>
                <th>Enregistrement{{ 'Cotisations'|trans }}</th>
                <td>{{ suiviOrganisation.enregistrementCotisations }}</td>
            </tr>
            <tr>
                <th>Livrecaisse</th>
                <td>{{ suiviOrganisation.livreCaisse }}</td>
            </tr>
            <tr>
                <th>Carnetrecus</th>
                <td>{{ suiviOrganisation.carnetRecus }}</td>
            </tr>
            <tr>
                <th>Livretsocietaire</th>
                <td>{{ suiviOrganisation.livretSocietaire }}</td>
            </tr>
            <tr>
                <th>Classementjustificatifs</th>
                <td>{{ suiviOrganisation.classementJustificatifs }}</td>
            </tr>
            <tr>
                <th>Rapportsfinanciereannuel</th>
                <td>{{ suiviOrganisation.rapportsFinanciereAnnuel }}</td>
            </tr>
            <tr>
                <th>Muso</th>
                <td>{{ suiviOrganisation.muso }}</td>
            </tr>
            <tr>
                <th>{{ 'Cotisations'|trans }}</th>
                <td>{{ suiviOrganisation.cotisations }}</td>
            </tr>
            <tr>
                <th>Membrescontractecredit</th>
                <td>{{ suiviOrganisation.membresContracteCredit }}</td>
            </tr>
            <tr>
                <th>Membrescreditmontant</th>
                <td>{{ suiviOrganisation.membresCreditMontant }}</td>
            </tr>
            <tr>
                <th>Montantfinancement</th>
                <td>{ { suiviOrganisation.montantFinancement } }</td>
            </tr>
            <tr>
                <th>Creditpourorganisationmontant</th>
                <td>{{ suiviOrganisation.creditPourOrganisationMontant }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_suiviorganisations_edit', { 'id': suiviOrganisation.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
