{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblAleas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblAlea.id }}</td>
            </tr>
            <tr>
                <th>Alea</th>
                <td>{{ tblAlea.alea }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblAlea.cdate %}{{ tblAlea.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblAlea.udate %}{{ tblAlea.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblAlea.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblaleas_edit', { 'id': tblAlea.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
