{% extends 'base_references.html.twig' %}




{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tbltypegarantie_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>TblTypeGarantie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblTypeGarantie.id }}</td>
            </tr>
            <tr>
                <th>Typegarantie</th>
                <td>{{ tblTypeGarantie.typeGarantie }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblTypeGarantie.cdate %}{{ tblTypeGarantie.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblTypeGarantie.udate %}{{ tblTypeGarantie.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblTypeGarantie.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_tbltypegarantie_edit', { 'id': tblTypeGarantie.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
