{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}Formations Reçu{% endblock %}
{% block body_f0 %}
   <h4>FormationsRecu</h4>

    <table>
        <tbody>
            <tr>
                <th>{{ "Année" | trans }}</th>
                <td>{{ formationsRecu.annee }}</td>
            </tr>
            <tr>
                <th>{{ "Thème" | trans }}</th>
                <td>{{ formationsRecu.theme }}</td>
            </tr>
            <tr>
                <th>{{ "Organisateur" | trans }} </th>
                <td>{{ formationsRecu.organisateur }}</td>
            </tr>
            <tr>
                <th>{{ "Niveau Utilité" | trans }} </th>
                <td>{{ formationsRecu.niveauUtilite }}</td>
            </tr>
            <tr>
                <th>{{ "Beneficiaire" | trans }}</th>
                <td>{{ formationsRecu.beneficiaire }}</td>
            </tr>
        </tbody>
    </table>

    <div>

        <div class="form-group">
            <a href="{{ path('references_formationsrecu_edit', { 'id': formationsRecu.id, 'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary" role="button">{{ "Modiifer" }}</a>
        </div>
    </div>
{% endblock %}
