{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block saison_title %}
    {{ parcelleHistorique.saison }}
{% endblock %}

{% block subtitle_f2 %}
     Parcelle historique 
{% endblock %}
{% block body_f2 %}
     <h4>{{ 'Edition'|trans }} {{ 'Problèmes rencontrés'|trans }} </h4>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>

{% endblock %}
