<table>
    <tbody>
        {% set i=0 %}
        {% for ev in historique.getCalendrierEvenements() %}
            {% set i=i+1 %}
            {% if i is odd %}
                <tr class="row-odd">
            {% else %}
                <tr class="row-even">
            {% endif %}
            {% if ev.commentaire is not defined and ev.analyseSol is not defined %} {# on affiche une opération culturale sur la parcelle #}
                {% set strVal=ev.type.type %}                
                    <td><b>{{ ev.type|capitalize }}</b></td>
                    <td>{{ ev.date |date('Y-m-d') }}</td>
                    <td>{#{ ev.culture }#}</td>
                    <td>
                        {% if ev.mainOeuvreFamiliale %}
                            {{ ev.mainOeuvreFamiliale}} h/j mo fam.
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if ev.mainOeuvreSalarie %}
                            {{ ev.mainOeuvreSalarie}} h/j mo ext.
                        {% else %}
                            -
                        {% endif %}
                    </td>
                        {% if strVal=='0' %}
                            <td colspan="4"></td>
                        {% elseif strVal=='1' %}
                            <td>{{ ev.type.unite }}</td>
                            <td>{{ ev.intrant }}</td>
                            <td>{{ ev.quantiteUtiliseeAutoconsommation }} Autoconsom.</td>
                            <td>{{ ev.quantiteUtiliseAchete }} Acheté</td>
                        {% elseif strVal=='2' %}
                            {% if ev.produitPrimaire %}
                                <td>{{ ev.produitPrimaire.uniteProduit }}</td>
                                <td>{{ ev.produitPrimaire }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                            <td>{{ ev.QuantiteRecolteAutoconsommation }} Prod. Int</td>
                            <td>{{ ev.quantiteRecolteeVente }} Prod. Ext</td>
                        {% endif %}
                            <td><a href="{{ path('parcelleoperationculturale_edit', { 'id': ev.id }) }}">
                                    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                </a>
                            </td>
            {% elseif ev.commentaire is defined %} {# on affiche un aléa, une remarque #}
                    <td><b>{{ ev.aleas|capitalize }}</b></td>
                    <td>{{ ev.date |date('Y-m-d') }}</td>
                    <td>{{ ev.culture }}</td>
                    <td colspan="6">Commentaire: {{ ev.commentaire }}</td>
                    <td><a href="{{ path('references_parcellehistoriquestblaleas_edit', { 'id': ev.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
            {% else %} {# on affiche l'analyse de sol #}
                    <td><b>{{ ev.analyseSol|capitalize }}</b></td>
                    <td>{{ ev.date |date('Y-m-d') }}</td>
                    <td colspan="7"></td>
                    <td><a href="{{ path('references_parcellehistoriqueanalysesol_edit', { 'id': ev.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
            {% endif %}
                </tr>

        {% endfor %}
    </tbody>
</table>

<a href="{{  path('parcelleoperationculturale_new', {'id': historique.id }) }}" class="btn btn-primary" role="button">{{ "Nouvelle opération culturale" | trans }}</a>
<a href="{{  path('references_parcellehistoriquestblaleas_new', {'historique': historique.id }) }}" class="btn btn-primary" role="button">{{ "Nouvel aléas" | trans }}</a>
<!--a href="{#{  path('references_parcellehistoriqueanalysesol_new', {'historique': historique.id }) }#}" class="btn btn-primary" role="button">{#{ "Nouvelle analyse de sol" | trans }#}</a-->