{% set saison = parcelleHistorique.saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f2 %}
    Parcelle historique
{% endblock %}

{% block body_f2 %}
    <h4>{{ 'Création Historique pour Parcelle'|trans }}</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="{{ 'Nouvel historique'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock %}