{% set saison = parcelleHistorique.saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block saison_title %}

{% endblock %}

{% block subtitle_f2 %}
    {{ parcelleHistorique.getParcelle() }} : {{ 'Parcelle'|trans }} {{ 'Historiques'|trans }}
{% endblock %}

{% block parcelle %}
{% endblock %}

{% block body_f2 %}
    <h4>{{ 'Historiques'|trans }} {{ 'de la'|trans  }} {{ 'Parcelle'|trans }} </h4>

    {% include 'parcelles/details.html.twig' with {'parcelle': parcelle, 'annee': annee, 'redirect': 'f2'} only %}

    <div style="margin-left: 2rem; margin-bottom:3rem;">
        {# Affichage de l'historique sélectionné #}
        <div style="font-weight:700; margin-bottom: 0.5rem; margin-top: 0.5rem">
            {% include 'parcellehistoriques/title.html.twig' with {'historique': parcelleHistorique} only %}
        </div>

        {% include 'parcellehistoriques/evenements_details.html.twig' with {'historique': parcelleHistorique} only %}
    </div>

    <div style="margin-left: 2rem; margin-bottom:3rem;">
        <h5>{{ "Autres historiques pour l'année" }} {{ annee }}</h5>
        {# Affichage des autres historiques #}
        {% for historique in parcelle.parcelleHistoriques %}
            {% if historique.radie is same as(false) and historique.id != parcelleHistorique.id and historique.annee == annee  %}
                <div style="font-weight:700; margin-bottom: 1rem; margin-top: 1rem">
                    {% include 'parcellehistoriques/title.html.twig' with {'historique': historique} only %}
                </div>
            {% endif %}
        {% endfor %}

        <a href="{{ path('references_parcellehistoriques_new', {'annee': annee, 'parcelle': parcelle.id } ) }}" class="btn btn-primary">
            {{ "Nouvel historique" | trans }}
        </a>
    </div>

    </div>
{% endblock %}
