
<a href="{{ path('references_parcellehistoriques_show', {'id': historique.id }) }}">
    <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
</a>&nbsp;
<a href="{{ path('references_parcellehistoriques_edit', {'id': historique.id }) }}">
    <i class="glyphicon glyphicon-pencil btn btn-default"></i>
</a>

{{ historique.saison }}  /
{{ historique.annee }} /
{{ "Culture" |  trans  }} {{ historique.modeCulture }} /
{% for c in historique.cultures %}
    {{ c }}{% if not loop.last %}, {% endif %}
{% endfor %}