{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f2 %} {{ 'Animaux Structure'|trans }}{% endblock %}
{% block body_f2 %}
    <h4>
        {{ 'Edition de l\'encodage pour une donnée de type'|trans }} "{{ animauxStructure.animauxTechnique() }}" ({{ 'Année'|trans }}: {{ annee }})
    </h4>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
