{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f2 %} {{ 'Animaux Structure'|trans }}{% endblock %}
{% block body_f2 %}
	<div class="sub-header">
	<h4>{{ 'Liste'|trans }}&nbsp; {{ 'Animaux Structure'|trans }} </h4>		
    <div>
            <a href="{{ path('references_animauxstructure_new',{'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee }) }}" class="btn btn-primary" role="button">
                {{ 'Nouveau élément'|trans }}
            </a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Année'|trans }}</th>    
                    <th>{{ 'Males reproducteurs'|trans }}</th>    
                    <th>{{ 'Femelles reproductrices'|trans }}</th>    
                    <th>{{ 'Males'|trans }}s</th>    
                    <th>{{ 'Femelles'|trans }}</th>    
                    <th>{{ 'Jeunes'|trans }}</th>    
                    <th>{{ 'Total'|trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for animauxStructure in animauxStructures %}
                <tr class="index-row">                
                <td><a href="{{ path('references_animauxstructure_show', { 'id': animauxStructure.id,'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee  }) }}"> 
                    	<i class="glyphicon glyphicon-eye-open"></i>                            
                    </a>
                        <span>&nbsp;</span>                            
                    	<a href="{{ path('references_animauxstructure_edit', { 'id': animauxStructure.id,'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee  }) }}">                    			
                            <i class="glyphicon glyphicon-pencil"></i>                            
                        </a>
                        <span>&nbsp;</span>                        
                        <span class="hidden">{{ animauxStructure.id }}</span> 
                    </td>
    
                        
                    <td>{{ animauxStructure.annee }}</td>    
                    <td>{{ animauxStructure.malesReproducteurs }}</td>    
                    <td>{{ animauxStructure.femellesReproductrices }}</td>    
                    <td>{{ animauxStructure.males }}</td>    
                    <td>{{ animauxStructure.femelles }}</td>    
                    <td>{{ animauxStructure.jeunes }}</td>    
                    <td>{{ animauxStructure.total }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

