{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f2 %} {{ 'Animaux Structure'|trans }}{% endblock %}
{% block body_f2 %}
    <h4>
        {{ 'Ajout d\'une donnée de type'|trans }} "{{ animauxStructure.animauxTechnique() }}" ({{ 'Année'|trans }}: {{ annee }})
    </h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Nouveau'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
