{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 



{% block subtitle_f2 %} {{ 'Animaux Structure'|trans }}{% endblock %}
{% block body_f2 %}
    <h4>{{ 'Vue'|trans }}&nbsp;{{ 'Animaux Structure'|trans }}</h4>

    <table>
        <tbody>
            </tr>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ animauxStructure.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'Males reproducteurs'|trans }}</th>
                <td>{{ animauxStructure.malesReproducteurs }}</td>
            </tr>
            <tr>
                <th>{{ 'Femelles reproductrices'|trans }}</th>
                <td>{{ animauxStructure.femellesReproductrices }}</td>
            </tr>
            <tr>
                <th>{{ 'Males'|trans }}</th>
                <td>{{ animauxStructure.males }}</td>
            </tr>
            <tr>
                <th>{{ 'Femelles'|trans }}</th>
                <td>{{ animauxStructure.femelles }}</td>
            </tr>
            <tr>
                <th>{{ 'Jeunes'|trans }}</th>
                <td>{{ animauxStructure.jeunes }}</td>
            </tr>
            <tr>
                <th>{{ 'Total'|trans }}</th>
                <td>{{ animauxStructure.total }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_animauxstructure_edit', { 'id': animauxStructure.id,'coop_id':coop_id, 'group_id':group_id,'exploitation_id': exploitation_id, 'annee':annee  }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <!--input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}"-->
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
