{% extends commercialisationProduit.typeCommercialisation ? 'base_F0.html.twig' : 'base_F5.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Commercialisation Produits'|trans }}{% endblock %}
{% block body_f0 %}
    <h4>{{ 'Edition'|trans }}&nbsp; {{ 'Commercialisation Produits'|trans }}</h4>
    <h5>{{ 'L\'unité par défaut pour les mesures de poids est le kilogramme.'|trans }} <br />{{ 'Pour le volume est le litre'|trans }}</h5>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ 'Sauver' | trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
