{% extends commercialisationProduit.typeCommercialisation ? 'base_F0.html.twig' : 'base_F5.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ 'Commercialisation Produits'|trans }}{% endblock %}

{% block body_f0 %}
    <h4>{{ 'Création'|trans }} {{ 'Commercialisation de produits'|trans }}</h4>
    <h5>
        {{ 'L\'unité par défaut est : '  | trans }}<br />
        {{ '- pour les mesures de poids le kilogramme '|trans }}<br />
        {{ '- et pour les volumes le litre'|trans }}.
    </h5>
    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'Sauver'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function wait(form) {
            let btn_submit = $(form).find("input[type=submit]")[0];
            btn_submit.disabled = true;
            btn_submit.value = "Veuillez attendre";
            return true;
        }
    </script>
{% endblock %}