{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblCreditObjet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblCreditObjet.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ tblCreditObjet.creditobjet }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblCreditObjet.cdate %}{{ tblCreditObjet.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblCreditObjet.udate %}{{ tblCreditObjet.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblCreditObjet.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_creditobjet_edit', { 'id': tblCreditObjet.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
