{% extends 'base_references.html.twig' %}



{% block body %}
    <div class="sub-header">
        <div class="pull-xs-center">
            <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary"
                style="position:absolute;right:30px;">Export to Excel</button>
        </div>
    </div>

    <div class="sub-header">
        <h1>{{ 'Liste des thèmes de formation'|trans }}</h1>
        <div>
            <a href="{{ path('references_tblthemesformations_new') }}" class="btn btn-primary"
                role="button">{{ 'Nouveau thème'|trans }}</a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ 'Thème de formation' | trans }}</th>
                    <th>{{ 'Id' | trans }}
                    <th>{{ 'Utilisateur' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tblThemesFormation in tblThemesFormations %}
                    <tr class="index-row">
                        <td>
                            <a href="{{ path('references_tblthemesformations_edit', { 'id': tblThemesFormation.id }) }}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                        </td>
                        <td>{{ tblThemesFormation.themeFormation }}</td>
                        <td>{{ tblThemesFormation.id }}</td>
                        <td>{{ tblThemesFormation.utilisateur }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}