{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblthemesformations_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
    <h1>{{ "Ajout d'un nouveau thème de formation" | trans}}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>
        
    </div>
{% endblock %}
