{% set saison = parcelleOperationCulturelle.getParcelleHistorique().saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f2 %}
    <a href="{{ path('references_parcellehistoriques_show',{ 'id':parcelleOperationCulturelle.getParcelleHistorique().getId(), 'annee': annee }) }}">{{ "Parcelle" | trans }}</a> | Parcelle historique
{% endblock %}

{% block body_f2 %}
    <h1>{{ "Modification d'une opération culturale" }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
            <input type="hidden" name="seul" id="seul" value="{{ seul|json_encode|raw  }}" />
            <input type="hidden" name="intran" id="intran" value="{{ intran|json_encode|raw  }}" />
            <input type="hidden" name="extrant" id="extrant" value="{{ extrant|json_encode|raw  }}" />
            <input class="btn btn-primary btn-block" type="submit" value="Modifier" />
        </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="Effacer">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var sansIntrantExtrant = {{ seul|json_encode|raw }};
        var avecIntrant = {{ intran|json_encode|raw }};
        var avecExtrant = {{ extrant|json_encode|raw }};
    </script>
	<script src="{{ asset('pumastatic/js/operationCulturale.js') }}"></script>
{% endblock %}
