{% set saison = parcelleOperationCulturelle.getParcelleHistorique().saison %}
{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f2 %}
    <a href="{{ path('references_parcellehistoriques_show',{ 'id':parcelleOperationCulturelle.getParcelleHistorique().getId(), 'annee': annee }) }}">{{ "Parcelle" | trans }}</a> | Parcelle historique
{% endblock %}

{% block body_f2 %}
    <h4>{{ "Ajout d'une opération culturale" | trans }}</h4>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<!--input type="hidden" name="seul" value="{#{ seul|json_encode|raw  }#}" /-->
            <!--input type="hidden" name="intran" value="{#{ intran|json_encode|raw  }#}" /-->
            <!--input type="hidden" name="extrant" value="{#{ extrant|json_encode|raw  }#}" /-->
    <input class="btn btn-primary btn-block" type="submit" value="{{ "Nouvelle opération culturale" | trans}}" />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var sansIntrantExtrant = {{ seul|json_encode|raw }};
        var avecIntrant = {{ intran|json_encode|raw }};
        var avecExtrant = {{ extrant|json_encode|raw }};
    </script>

	<script src="{{ asset('pumastatic/js/operationCulturale.js') }}"></script>
{% endblock %}

