<table style="margin-bottom:15px;">
    <tbody>
        <tr>
            <td>
                {% if not(edition is defined and edition == false)  %}
                    <a href="{{ path('references_parcelles_edit', {'parcelle': parcelle.id, 'annee': annee,'redirect': redirect }) }}" title="Modifier la parcelle">
                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                    </a>
                {% endif %}
            </td>
            <td>
                <b>
                    {{ "Parcelle" | trans }} #{{ parcelle.numeroParcelle ? parcelle.numeroParcelle : "?" }}
                    {% if parcelle.planification %}(planificaton){% endif %}
                </b>
                <b>|</b>
                {{ "Surface:" }}{{ parcelle.surface ? parcelle.surface  ~ " ares" : "inconnue" }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ "Localisation:" }} {{ parcelle.localisationAdmin ? parcelle.localisationAdmin : ("inconnue" | trans) }}
                <b>|</b>
                {{ "Coordonnées géographiques:" | trans }}
                {% if parcelle.latitude and parcelle.longitude %}
                    {{ "lat" | trans }}: {{ parcelle.latitude }},
                    {{ "lon" | trans }}: {{ parcelle.longitude }}
                {% else %}
                    {{ "inconnues" | trans }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                {{ "Situation:" | trans }} {{ parcelle.situation ? parcelle.situation : "inconnue" }}
                <b>|</b>
                {{ "Exposition:" | trans }} {{ parcelle.exposition ? parcelle.exposition : "inconnue" }}
                <b>|</b>
                {{ "Pente:" | trans }} {{ parcelle.pente ? parcelle.pente : "inconnue" }}
            </td>
        </tr>
        <!--tr>
            <td></td>
            <td-->
                {#{ "Protection anti-érosive:" | trans }#} 
                {#{% for antierosive in parcelle.antierosives %}#}
                    {#{ antierosive }#}{#{% if not loop.last %}#},{#{% endif %}#}
                {#{% endfor %}#}
            <!--/td>
        </tr-->
        <tr>
            <td></td>
            <td>
                {{ "Type de la propriété:" | trans }} {{ parcelle.propriete ? parcelle.propriete : "inconnu" }}
                <b>|</b>
                {{ "Loyer:" | trans }} {{ parcelle.coutLocation ? parcelle.coutLocation : "inconnu" }}
            </td>
        </tr>
    </tbody>
</table>
