{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% set exploitation_id = exploitation.id %}

{% block subtitle_f2 %}{{ "Parcelle" | trans }}{% endblock %}
{% block body_f2 %}
   <h4>{{ "Édition d'une parcelle" | trans }}</h4>
      {{ form_start(delete_form) }}
         <input class="btn btn-danger" role="button" type="submit" value="{{ "Effacer" | trans }}">
      {{ form_end(delete_form) }}

      {{ form_start(edit_form) }}
         {{ form_widget(edit_form) }}
         <div class="form-group">
        	   <input class="btn btn-primary btn-block" type="submit" value="{{ "Sauver" | trans }}" />
         </div>
      {{ form_end(edit_form) }}
{% endblock %}
