{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% set exploitation_id = exploitation.id %}

{% block subtitle_f2 %}{{ 'Parcelles' | trans }} - (Annee:{{ annee }}){% endblock %}
{% block body_f2 %}
    <div class="sub-header">
        <h4>{{ "Relevé des parcelles de l'exploitation" | trans }}</h4>
        <div>
            <a href="{{ path('references_parcelles_new', {'annee':annee,'exploitation': exploitation_id}) }}" class="btn btn-primary" role="button">
                {{ "Nouvelle parcelle" | trans }}
            </a>
        </div>
    </div>

    <div>
        {% for parcelle in parcelles %}
            {% include 'parcelles/details.html.twig' with {'parcelle': parcelle, 'annee': annee, 'redirect': 'f2'} only %}

            <h5>{{ "Suivis de la parcelle #%numero% pour l'année %annee%" | trans({'%numero%': (parcelle.numeroParcelle ? parcelle.numeroParcelle : "?"), '%annee%': annee}) }}</h5>

            <div style="margin-left: 2rem; margin-bottom:3rem;">
                {% for historique in parcelle.parcelleHistoriques %}
                    {% if historique.radie==0 and historique.annee==annee %}
                        <div style="font-weight:700; margin-bottom: 0.5rem; margin-top: 0.5rem">
                            {% include 'parcellehistoriques/title.html.twig' with {'historique': historique} only %}
                        </div>
                    {% endif %}
                {% endfor %}

                <a href="{{ path('references_parcellehistoriques_new', {'annee': annee, 'parcelle': parcelle.id } ) }}" class="btn btn-primary">
                    Nouvel historique
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}
