{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% set exploitation_id = exploitation.id %}


{% block subtitle_f2 %}{{ "Parcelle" | trans }}{% endblock %}
{% block body_f2 %}
   <h4>{{ "Création d\'une parcelle" | trans }}</h4>

   {{ form_start(form) }}
      {{ form_widget(form) }}
      <div class="form-group">
         <input class="btn btn-primary btn-block" type="submit" value="{{"Créer la parcelle" | trans }}" />
      </div>
   {{ form_end(form) }}
{% endblock %}
