{% extends 'base_F2.html.twig' %}
{% set menu_selected = 'info_gen' %}
{% set exploitation_id = exploitation.id %}

{# TODO : DELETE #}

{% block subtitle_f2 %}{{ parcelle }}{% endblock %}
{% block body_f2 %}
    <h4>F2 {{ 'Suivis'|trans }} {{ 'de la'|trans }} {{ 'Parcelle'|trans }}</h4>

    {{ form_start(delete_form) }}
        <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
    {{ form_end(delete_form) }}

    <table style="border-collapse:collapse;">
        <tbody>
            <tr>
                <th class="suivis" style="border:1px solid black;">{{ 'Numero de la parcelle'|trans }} </th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.numeroParcelle }}</td>
                <th class="suivis" style="border:1px solid black;">{{ 'Surface'|trans }} ({{ 'ares'|trans }})</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.surface }}</td>
            </tr>
            <tr>
                <th class="suivis" style="border:1px solid black;">{{ 'Localisation'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.localisationAdmin }}</td>
                <th class="suivis" style="border:1px solid black;">{#{ 'Coordonnées géographiques'|trans }#}</th>
                <td class="suivis" style="border:1px solid black;">{#{ parcelle.coordoneesGeo }#}</td>
            </tr>            
            <tr>
                <th class="suivis" style="border:1px solid black;">{{ 'Situation'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.situation }}</td>
                <th class="suivis" style="border:1px solid black;">{{ 'Exposition'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.exposition }}</td>
                <th class="suivis" style="border:1px solid black;">{{ 'Pente'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.pente }}</td>
            </tr>
            <!--tr-->
                <!--th class="suivis" style="border:1px solid black;">{#{ 'Type'|trans }} {{ 'protection anti érosive'|trans }#} </th-->
                <!--td>
                       {% for antierosive in parcelle.antierosives %}
                            {#{ antierosive }#};
                        {% endfor %}
                </td-->
            <!--/tr-->
            <tr>
                <th class="suivis" style="border:1px solid black;">{{ 'Type'|trans }} {{ 'de la'|trans }} {{ 'Proprieté'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.propriete }}</td>
                <th class="suivis" style="border:1px solid black;">{{ 'Coût de location'|trans }} {{ 'de la'|trans }} {{ 'parcelle'|trans }}</th>
                <td class="suivis" style="border:1px solid black;">{{ parcelle.coutLocation }}</td>
                <th class="suivis" style="border:1px solid black;">&nbsp;</th>
                <td class="suivis" style="border:1px solid black;">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    {% if not hide_history %}

        <div>
            <div class="form-group">
                <a href="{{ path('references_parcelles_edit', { 'parcelle': parcelle.id, 'annee':annee }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
            </div>
        </div>

        <!-- parcelleHistorique -->
        <div class="table-responsive">
            <table id="index-table" class="tablesorter">
                <tr>
                    <td colspan=6><h4>{{ 'Historiques'|trans }} {{ 'de la'|trans }} {{ 'Parcelle'|trans }}</h4></td>
                    <td colspan=2>
                        <div>
                            <a href="{{ path('references_parcellehistoriques_new',{'parcelle': parcelle.id, 'annee': annee })}}" class="btn btn-primary" role="button">
                                {{ 'Nouvel historique de la parcelle'|trans }}
                            </a>
                        </div>
        			</td>
                </tr>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th class="suivis">{{ 'Numero'|trans }} {{ 'Parcelle'|trans }}</th>
                    <th class="suivis">{{ 'Année'|trans }}</th>
                    <th class="suivis">{{ 'Saison'|trans }}</th>
                    <th class="suivis">{{ 'Mode'|trans }} {{ 'Culture'|trans }}</th>
                </tr>
                {% for parcelleHistorique in parcelleHistoriques %}
                    <tr>
                        <td>
                            <a href="{{ path('references_parcellehistoriques_show',{'id': parcelleHistorique.id, 'exploitation_id':exploitation_id, 'annee': annee}) }}">
                        		<i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                            </a>
                            <span></span>
                            <a href="{{ path('references_parcellehistoriques_edit',{'id': parcelleHistorique.id, 'exploitation_id':exploitation_id, 'annee': annee })}}">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <span></span>
                            <span class="hidden">{{ parcelleHistorique.id }}</span>
                        </td>
                        <td class="suivis">{{ parcelle.numeroParcelle }}</td>
                        <td class="suivis">{{ parcelleHistorique.annee }}</td>
                        <td class="suivis">{{ parcelleHistorique.saison }}</td>
                        <td class="suivis">{{ parcelleHistorique.modeCulture }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
