{% extends 'base.html.twig' %}

{% block body %}
	<div class="sub-header">
	<h1>ParcelleHistoriqueAnalyseSol liste</h1>
    <div>
            <a href="{{ path('references_parcellehistoriqueanalysesol_new') }}" class="btn btn-primary" role="button">Ajouter un élément</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">Actions</th>                        
                    <th>Date</th>                       
                    <th>Analyse de sol</th>                      
                </tr>
            </thead>
            <tbody>
            {% for parcelleHistoriqueAnalyseSol in parcelleHistoriqueAnalyseSols %}
                <tr class="index-row">
                	<td>                           
                        <a href="{{ path('references_parcellehistoriqueanalysesol_show', { 'id': parcelleHistoriqueAnalyseSol.id }) }}">  
                            <i class="glyphicon glyphicon-eye-open"></i>                          
                        </a><span>&nbsp;</span>                            
                        <a href="{{ path('references_parcellehistoriqueanalysesol_edit', { 'id': parcelleHistoriqueAnalyseSol.id }) }}">           
                            <i class="glyphicon glyphicon-pencil"></i>                            
                        </a><span>&nbsp;</span>                    
                        <span class="hidden">{{ parcelleHistoriqueAnalyseSol.id }}</span>
                    </td>
                    <td>{% if parcelleHistoriqueAnalyseSol.date %}{{ parcelleHistoriqueAnalyseSol.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ parcelleHistoriqueAnalyseSol.analyseSol }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

