{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParcelleHistoriqueAnalyseSol</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parcelleHistoriqueAnalyseSol.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if parcelleHistoriqueAnalyseSol.date %}{{ parcelleHistoriqueAnalyseSol.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Analyse de sol</th>
                <td>{{ parcelleHistoriqueAnalyseSol.analyseSol }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_parcellehistoriqueanalysesol_edit', { 'id': parcelleHistoriqueAnalyseSol.id }) }}" class="btn btn-primary btn-block" role="button">Edit</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="Effacer">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
