{% extends 'base_references.html.twig' %}
 



{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblsemences_index') }}">{{ 'Retour à la liste'|trans }}</a></li>
	</ul>
    <h1>TblSemences</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblSemence.id }}</td>
            </tr>
            <tr>
                <th>Semence</th>
                <td>{{ tblSemence.semence }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblSemence.cdate %}{{ tblSemence.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblSemence.udate %}{{ tblSemence.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblSemence.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tblsemences_edit', { 'id': tblSemence.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
