{% extends 'base_references.html.twig' %}




{% block body %}
	<ul class="nav nav-sidebartitle">
		<li><a href="{{ path('references_tblvaleurchoixsimple_index') }}">{{ 'Retour au liste'|trans }}</a></li>
	</ul>
   <div class="sub-header">
      <div  class="pull-xs-center">
         <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
      </div>
   </div>
	<div class="sub-header">
	<h1>TblValeurChoixSimple {{ 'Liste'|trans }}&nbsp;</h1>
    <div>
            <a href="{{ path('references_tblvaleurchoixsimple_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>
                    <th>{{ "Classe" | trans }}</th>
                    <th>{{ "Tag" | trans }}</th>
                    <th>{{ "Order" | trans }}</th>
                    <th>{{ "Id" | trans }}</th>
                    <th>{{ "Valeur" | trans }}</th>
                    <th>{{ "Score" | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for el in entities %}
                <tr class="index-row">
                	<td>
                        <a href="{{ path('references_tblvaleurchoixsimple_edit', { 'id': el.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
                    <td>{{ el.entityClass }}</td>
                    <td>{{ el.tag }}</td>
                    <td>{{ el.displayOrder }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.valeur }}</td>
                    <td>{{ el.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

