{% extends 'base.html.twig' %}
 



{% block body %}
  <div class="sub-header">
   <h4>{{ 'Phytosanitaire'|trans }} {{ 'Demande'|trans }} {{ 'Liste'|trans }}&nbsp;<  /h4>		
    <div>
            <a href="{{ path('references_phytodemande_new',{ 'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee}) }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>		
   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ 'Année'|trans }}</th>    
                    <th>{{ 'Mois'|trans }}</th>    
                    <th>{{ 'Quantité'|trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for phytoDemande in phytoDemandes %}
                <tr class="index-row">                
                	<td>                            <a href="{{ path('references_phytodemande_show', { 'id': phytoDemande.id,  'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}"> 
                    			<i class="glyphicon glyphicon-eye-open"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_phytodemande_edit', { 'id': phytoDemande.id,  'exploitation_id':exploitation_id, 'coop_id':coop_id, 'group_id': group_id, 'annee':annee }) }}">                    			<i class="glyphicon glyphicon-pencil"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ phytoDemande.id }}</span> 
                    </td>
                    <td>{{ phytoDemande.annee }}</td>    
                    <td>{{ phytoDemande.mois }}</td>    
                    <td>{{ phytoDemande.quantite }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

