{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block body_title %}{{ "Détails de la personne" | trans }}{% endblock%}


{% block subtitle_f0 %}
    <a href="{{path('saisie_f0_membre',{'annee':annee, 'id':exploitation_id})}}">
            F0
    </a> | {{ 'Personne'|trans }} {{ 'Details'|trans }}
{% endblock %}

{% block body_f0 %}
   <h4>{{ titre }}</h4>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
		<div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ 'Enregistrer'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
