{% extends 'base_signaletique.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}
    <a href="{{path('saisie_f0_membre',{'annee':annee, 'id':exploitation_id})}}">
            F0
    </a>
        | {{ 'Personne'|trans }} {{ 'Details'|trans }}
{% endblock %}

{% block body_f0 %}
   <h4>PersonneDetails {{ 'Création'|trans }}</h4>

    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Créer'|trans }}"  />
        </div>
    {{ form_end(form) }}

    <div>

    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "Veuillez attendre";
        return true;
    }
</script>
{% endblock %}