{% extends 'base_references.html.twig' %}

{% block body %}
    <div class="sub-header">
	    <h1>{{ "Découpage administratif" | trans }}</h1>
        <div>
            <a href="{{ path('references_tbldecoupageadmin_new') }}" class="btn btn-primary" role="button">
                {{ 'Nouvel élément'|trans }}
            </a>
    	</div>		
    </div>

    <ul>
        {% for tblDecoupageAdminLevel in tblDecoupageAdminLevels %}
            <li>
                <a href="{{ path('references_tbldecoupageadmin_list', {'level': tblDecoupageAdminLevel.id}) }}">
                    {{ "Liste des élements pour le niveau " | trans }}{{ tblDecoupageAdminLevel.denomination }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

