{% extends 'base_references.html.twig' %}

{% block subtitle_ref %}
    <a href="{{ path('references_tbldecoupageadmin_choice_level') }}">{{ "Découpage administratif" | trans }}</a>
    | <a href="{{ path('references_tbldecoupageadmin_list', {'level': tblDecoupageAdmin.level.id}) }}">{{ "Niveau %l%" | trans({'%l%': tblDecoupageAdmin.level.denomination }) }}</a>
{% endblock %}

 
{% block body %}
    <h1>{{ "Découpage administratif : édition de %e%" | trans({'%e%': tblDecoupageAdmin.denomination}) }}</h1>	
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="form-group">
        	<input class="btn btn-primary btn-block" type="submit" value="{{ 'Sauver'|trans }}" />
        </div>
    {{ form_end(edit_form) }}

    <div>
        
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
