{% extends 'base_references.html.twig' %}

{% block subtitle_ref %}
    <a href="{{ path('references_tbldecoupageadmin_choice_level') }}">{{ "Découpage administratif" | trans }}</a>
{% endblock %}

{% block body %}
    <div class="sub-header">
        <div  class="pull-xs-center">
            <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary" style="position:absolute;right:30px;">Export to Excel</button>
        </div>
    </div>
	
    <div class="sub-header">
	    <h1>{{ "Découpage administratif pour le niveau %level%" | trans({'%level%': level.denomination}) }}</h1>	
        <div>
            <a href="{{ path('references_tbldecoupageadmin_new') }}" class="btn btn-primary" role="button">
                {{ 'Nouvel élément'|trans }}
            </a>
    	</div>		
   </div>

	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	
                    <th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>    
                    <th>{{ "Dénomination" | trans }}</th>  
                    <th>{{ "Niveau" | trans }}</th>
                    <th>{{ "Parent" | trans }}</th>
                    <th>{{ "Utilisateur" | trans }}</th>    
                </tr>
            </thead>
            <tbody>
            {% for tblDecoupageAdmin in tblDecoupageAdmins %}
                <tr class="index-row">                
                    <td>
                        <a href="{{ path('references_tbldecoupageadmin_show', { 'id': tblDecoupageAdmin.id }) }}" class="link-with-icon">
                            <i class="glyphicon glyphicon-eye-open btn btn-default"></i>
                        </a>
                        <a href="{{ path('references_tbldecoupageadmin_edit', { 'id': tblDecoupageAdmin.id }) }}" class="link-with-icon">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>
                        
                    <td>{{ tblDecoupageAdmin.denomination }}</td>    
                    <td>{{ tblDecoupageAdmin.level }}</td>    
                    <td>
                        {% if tblDecoupageAdmin.parent %}
                            {{ tblDecoupageAdmin.parent }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ tblDecoupageAdmin.utilisateur }}</td>    
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}

