{% extends 'base_references.html.twig' %}

{% block subtitle_ref %}
    <a href="{{ path('references_tbldecoupageadmin_choice_level') }}">{{ "Découpage administratif" | trans }}</a>
    | <a href="{{ path('references_tbldecoupageadmin_list', {'level': tblDecoupageAdmin.level.id}) }}">{{ "Niveau %l%" | trans({'%l%': tblDecoupageAdmin.level.denomination }) }}</a>
{% endblock %}

{% block body %}
    <h1>{{ "Découpage administratif" | trans }} : {{ tblDecoupageAdmin.denomination }}</h1>	

    <table>
        <tbody>
            <tr>
                <th>{{ "Dénomination" | trans }}</th>
                <td>{{ tblDecoupageAdmin.denomination }}</td>
            </tr>
            <tr>
                <th>{{ "Niveau administratif" | trans }}</th>
                <td>{{ tblDecoupageAdmin.level }}</td>
            </tr>
            <tr>
                <th>{{ "Parent" | trans }}</th>

                <td>
                    {% if tblDecoupageAdmin.parent %}
                        <a href="{{ path('references_tbldecoupageadmin_show', { 'id': tblDecoupageAdmin.parent.id }) }}">
                            {{ tblDecoupageAdmin.parent }}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblDecoupageAdmin.cdate %}{{ tblDecoupageAdmin.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblDecoupageAdmin.udate %}{{ tblDecoupageAdmin.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblDecoupageAdmin.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbldecoupageadmin_edit', { 'id': tblDecoupageAdmin.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
