h1 {
    color: #C71585;
    font-weight: 700;
    font-size: 32px;
}

#content h4 {
    border-top: solid;
    padding-top: 5px;
    border-top-width: 2px;
    margin-top: 25px;
}

h4.no_top_border {
    border-top: unset;
}

h4 {
    margin-bottom: 20px;
}

h5 {
    font-size: 16px;
    color: #934e80;
    padding-left: 15px;
}

.aide {
    background-color: aquamarine; 
    border:solid green 1px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.grid_4cols {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.inline {
    display: inline-inline-block;
}

.suivis {
    padding:5px;
}

#menu h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

#menu ul {
    padding-left: 10px;
}

#menu ul ul {
    padding-left: 15px;
}

.navigation_helper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    position: relative;
}

.exercice_saison {
    float: right;
    color: #0000cc;
    background-color: #CCC;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: solid;
    border-width: 2px;
}

.last_udate {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: solid;
    border-width: 2px;
    text-align: center;
}

.fil_ariane {
    font-size: 18px;
    color: #C71585;
}

.fil_ariane .last {
    text-decoration: underline;
}

td, th {
    border-color: #eee;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

th.title {
    color: #C71585;
    font-size: 1.1em;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.nouveau {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

a.link-with-icon {
    display: inline-block;
}

table.data {
    margin-top:1em;
}

.row-odd {
    background-color: #F0F0F0;
}

.btn.disable{
    color: #CCC;
}

.on_right {
    float: right;
}

img.help {
    max-width: 90%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (max-width: 900px) {
    #puma-icon
    {
        display: none;
    }
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.navbar-nav {
    margin-top: 10px;
    font-weight: bold;
    list-style: none;
}
.dropdown-item {
    color: #FFBC2F;
}
.navbar-inverse .navbar-nav > .open > a{
    background:transparent;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.h5-content {
    border-left: solid 1px;
    border-color: #C71585;
    margin-left: 40px;
    padding-left: 20px;
}

div .date-range-filter {
    display: block;
    width: max-content;
    margin-bottom: 50px;
    margin-top: 25px;
    background-color: lightgray;
    padding: 10px;
}


li.selected {
    font-weight: bold;
    text-decoration: underline;
}