@blackBootstrap:#222;
@blueSidebar:#428bca;
@greyBootstrap: #9d9d9d;
@white:#fff;

@brun: #786854;
@brunFonce:#5a4d3c;
@paprika: #d68433;
@paprikaFonce:#993300;
@ocre: #d59f38;
@white: #FFFFFF;
@disabledgrey:#DBDBDB;

@orange_apere: #E48F00;
@bleu_apere: #004676;
@jaune_energizair: #FBBB29;
@bleu_energizair: #5897B3;
@rouge_thermique: #C1282D;
@bleu_pv: #1072BA;
@vert_clair_eolien: #86C544;
@vert_fonce_eolien: #138140;


@violet_fonce: #4C0B5F;
/*
 * JPH bootstrap customisations
 */
.navbar-inverse {
    background-color: @vert_fonce_eolien;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: @jaune_energizair;
}
.navbar-inverse .navbar-nav > li > a {
    color: @jaune_energizair;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */
.sub-header > div{
  float: right;
  margin-top: -3em;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (/* min-width: 768px */) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
/*  margin-left: -20px;*/
}
.nav-sidebar > li > div {
  color: @blueSidebar;
  font-weight: 600;
  line-height: 3em;
  padding-right: 20px;
/*  padding-left: 20px;*/
  cursor:pointer;

}
.nav-sidebar > .active > div,
.nav-sidebar > .active > div:hover,
.nav-sidebar > .active > div:focus {
  color: @white;
  background-color: @blueSidebar;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (/* min-width: 768px */) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.placeholder .placeholder-text {
  color: blue;
  z-index: 1;
  margin-top: -6em;
}

tr.active > td {
	color: @white;
	background-color: @blueSidebar !important;
}

div.go-back {
    padding-top: 2rem;
    padding-bottom: 2rem;

    a {
        color: @violet_fonce;
        font-weight: 900;
        font-size: 1.3em;
    }
}
