@blackBootstrap: #222;
@blueSidebar: #428bca;
@greyBootstrap: #9d9d9d;
@white: #fff;

.title {
	vertical-align: middle;
}

.title-img {
	float: left;
}

.title-text {
	font-size: 2.1em;
	margin: 0.5em 0 0.5em 2.5em;
}

.title-version {
	font-size: 0.5em;
}

body {
	background: @white;
	font: 18px / 1.5 sans-serif;
}

h1 , h2 {
	line-height: 1.2;
	margin: 0 0 .5em;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 21px;
	margin-bottom: 1em;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #0000F0;
}

a:hover {
	text-decoration: none;
}

code {
	background: @white;
	max-width: 100px;
	padding: 2px 6px;
	word-wrap: break-word;
}

#wrapper {
	background: #FFF;
	margin: 1em auto;
	max-width: 800px;
	width: 95%;
}

#container {
	padding: 2em;
}

#welcome , #status {
	margin-bottom: 2em;
}

#welcome h1 span {
	display: block;
	font-size: 75%;
}

#icon-status , #icon-book {
	float: left;
	height: 64px;
	margin-right: 1em;
	margin-top: -4px;
	width: 64px;
}

#icon-book {
	display: none;
}

@media (/* min-width: 768px */) {
	#wrapper {
		width: 80%;
		margin: 2em auto;
	}

	#icon-book {
		display: inline-block;
	}

	#status a , #next a {
		display: block;
	}

	@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.sf-toolbar {
		opacity: 0;
		-webkit-animation: fade-in 1s .2s forwards;
		animation: fade-in 1s .2s forwards;
	}
}

