{% extends 'base_references.html.twig' %}
 



{% block body %}
    <h1>TblDecoupageAdminLevel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tblDecoupageAdminLevel.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ tblDecoupageAdminLevel.level }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ tblDecoupageAdminLevel.denomination }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if tblDecoupageAdminLevel.cdate %}{{ tblDecoupageAdminLevel.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if tblDecoupageAdminLevel.udate %}{{ tblDecoupageAdminLevel.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ tblDecoupageAdminLevel.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_tbldecoupageadminlevel_edit', { 'id': tblDecoupageAdminLevel.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
