{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 
{% block subtitle_f2 %} Labour Animaux{% endblock %}
{% block body_f2 %}
	<div class="sub-header">
	<h1>Labour Animaux liste</h1>
    <div>
            <a href="{{ path('references_animauxlabour_new') }}" class="btn btn-primary" role="button">{{ 'Nouveau élément'|trans }}</a>
    	</div>   </div>
	<div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>                    	<th class="filter-false tablesorter-noSort">{{ 'Actions'|trans }}</th>                        <th>{{ 'Quantité'|trans }}mofam</th>                        <th>{{ 'Quantité'|trans }}mosal</th>                        <th>{{ 'Année'|trans }}</th>                        <th>Cdate</th>                        <th>Udate</th>                        <th>Utilisateur</th>
                                    </tr>
            </thead>
            <tbody>
            {% for animauxLabour in animauxLabours %}
                <tr class="index-row">
                	<td>                            <a href="{{ path('references_animauxlabour_show', { 'id': animauxLabour.id }) }}">                    			<i class="glyphicon glyphicon-eye-open"></i>                            </a><span>&nbsp;</span>                            <a href="{{ path('references_animauxlabour_edit', { 'id': animauxLabour.id }) }}">                    			<i class="glyphicon glyphicon-pencil"></i>                            </a><span>&nbsp;</span>                        <span class="hidden">{{ animauxLabour.id }}</span>
                    </td>

                    
                    <td>{{ animauxLabour.quantiteMOFam }}</td>
                    <td>{{ animauxLabour.quantiteMOSal }}</td>
                    <td>{{ animauxLabour.annee }}</td>
                    <td>{% if animauxLabour.cdate %}{{ animauxLabour.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if animauxLabour.udate %}{{ animauxLabour.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ animauxLabour.utilisateur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
{% endblock %}

