{% extends 'base_F32.html.twig' %}
{% set menu_selected = 'info_gen' %}
 
{% block subtitle_f2 %} Labour Animaux{% endblock %}
{% block body_f2 %}
    <h1>Labour Animaux vue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animauxLabour.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantité'|trans }}mofam</th>
                <td>{{ animauxLabour.quantiteMOFam }}</td>
            </tr>
            <tr>
                <th>{{ 'Quantité'|trans }}mosal</th>
                <td>{{ animauxLabour.quantiteMOSal }}</td>
            </tr>
            <tr>
                <th>{{ 'Année'|trans }}</th>
                <td>{{ animauxLabour.annee }}</td>
            </tr>
            <tr>
                <th>Cdate</th>
                <td>{% if animauxLabour.cdate %}{{ animauxLabour.cdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Udate</th>
                <td>{% if animauxLabour.udate %}{{ animauxLabour.udate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ animauxLabour.utilisateur }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        
        <div class="form-group">
            <a href="{{ path('references_animauxlabour_edit', { 'id': animauxLabour.id }) }}" class="btn btn-primary btn-block" role="button">{{ 'Edition'|trans }}</a>
        </div>
        {{ form_start(delete_form) }}
            <div class="form-group">
                <input class="btn btn-danger" role="button" type="submit" value="{{ 'Effacer'|trans }}">
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
