{% extends 'base_references.html.twig' %}

{% block body %}
    <h1>{{ "Modification d'un type d'opération culturale" | trans }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Sauver" />
    </div>
    {{ form_end(edit_form) }}

    <div>

        {{ form_start(delete_form) }}
        <div class="form-group">
            <input class="btn btn-danger" role="button" type="submit" value="Effacer">
        </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}