{% extends 'base_references.html.twig' %}

{% block body %}
    <div class="sub-header">
        <div class="pull-xs-center">
            <button type="button" id="exp2excel" xlfilename="puma2-reference" class="btn btn-primary"
                style="position:absolute;right:30px;">{{ "Export to Excel" | trans }}</button>
        </div>
    </div>
    <div class="sub-header">
        <h1>{{ "Liste des types d'opérations culturales" | trans }}</h1>
        <div>
            <a href="{{ path('references_tbloperationculturaletype_new') }}" class="btn btn-primary" role="button">
                {{ "Ajouter un élément" | trans }}</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="index-table" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-false tablesorter-noSort">Actions</th>
                    <th>{{ "Nom" | trans }}</th>
                    <th>{{ "Catégorie" | trans }}</th>
                    <th>{{ "Type" | trans }}</th>
                    <th>{{ "Pratique agro-écologiqe" | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tblOperationCulturaleType in tblOperationCulturaleTypes %}
                <tr class="index-row">
                    <td>
                        <a href="{{ path('references_tbloperationculturaletype_edit', { 'id': tblOperationCulturaleType.id }) }}">
                            <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                        </a>
                    </td>

                    <td>{{ tblOperationCulturaleType.nom }}</td>
                    <td>{{ tblOperationCulturaleType.category }}</td>
                    <td>{{ tblOperationCulturaleType.getStrType }}</td>
                    <td>{{ tblOperationCulturaleType.agroEco ? "True" : "False" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('jquery/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ asset('pumastatic/js/pumaFrmTblSorter.js') }}"></script>
<script src="{{ asset('jquery/js/jquery.table2excel.min.js') }}"></script>
{% endblock %}