{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}



{% block subtitle_f0 %}{{ 'Nouvelle cotisation'|trans }}{% endblock%}
{% block body_f0 %}
   <h4>{{ 'Nouvelle cotisation'|trans }}</h4>

    {{ form_start(form, {'attr': {'onsubmit': 'return wait(this);' }}) }}
        {{ form_widget(form) }}
        <div class="form-group">
        	<input class="btn btn-primary" type="submit" value="{{ "Enregistrer" | trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    function wait(form) {
        let btn_submit = $(form).find("input[type=submit]")[0];
        btn_submit.disabled = true;
        btn_submit.value = "{{ 'Veuillez attendre' | trans }}";
        return true;
    }
</script>
{% endblock %}