{% extends 'base_F0.html.twig' %}
{% set menu_selected = 'info_gen' %}

{% block subtitle_f0 %}{{ "Dépense" | trans }} {{ depensesMenage.TypeDepense | lower }}{% endblock %}
{% block body_f0 %}
    <table>
        <tbody>
            <tr>
                <th>{{ "Dépense" | trans }}</th>
                <td>{{ depensesMenage.depense }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <a href="{{ path('references_depensesmenage_edit', { 'id': depensesMenage.id }) }}" class="btn btn-primary" role="button">{{ "Modifier" | trans }}</a>
        </div>
   </div>
{% endblock %}
